[2017-06-18 13:51] ghost commented on #19
@Oleggluk If our phone's hardware is capable of receiving FM radio broadcasts, which is what you just claimed, it should indeed be possible.
The only problem is the fact that installing an FM-radio.apk isn't enough. There's a lot more to it than just that, but I think @Spookcity is capable of doing it, given that Samsung provides the necessary means.
The FM radio also needs the appropriate librari

[2017-06-18 13:54] Spookcity commented on #19
@Oleggluk Hmm,very interesting. I honestly have no idea if this is possible or not. It seems like it should be,but I could be very wrong. It's something I can look into at some point. It is interesting how it was blocked or what-not. I wonder why exactly.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:56] ghost commented on #19
@Spookcity They probably just felt like it wasn't worth the maintenance. Using FM radio would be cool though

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:59] Spookcity commented on #19
@StanNL Yeah, I think you're probably right. I can't really think of another reason.

I also very much agree with your post about implementing FM radio. I don't know exactly how it is implemented, but like you said, if it was available on KK,the needed libraries should be available.

Edit:
It may simply be enough to get the libs,have them flash/install along with my kernel and build the appropriat

[2017-06-18 14:32] w3bservice commented on #19
@Spookcity
An FM radio would be class. Germany is about to ban the sale of new equipment. And when you look at what goes on here, everything fits into the paternalism of the citizens. I head back to the time of the GDR, just worse. Internet, restrict freedom of expression. I already knew that. But here no one does what. And now there is only digital radio. Nice, but it can be controlled who gets a

[2017-06-18 14:56] Spookcity commented on #19
@w3bservice  I didn't know that about Germany. Interesting stuff. I will only say that 1984 is one of my favorite books of all time and V for Vendetta one of my favorite movies.

I am home earlier than expected. Therefor I am going to try to build the MM kernel OC'ed to 1.7

[Here's](https://drive.google.com/open?id=0B_rGv18gTmnVd3VpQ3J6VGRMLWM) the MM kernel OC'ed to 1.7. I have flashed this on L

[2017-06-18 15:49] ghost commented on #19
@Spookcity I tried using it on LineageOS 14.1 and it didn't work, but I'll try it with CM13.
EDIT: It did survive longer though. It actually lasted for about a minute, and then it froze again.
EDIT 2: Maybe that means I can get a system log now.
EDIT 3: My old CM13 file seems to be corrupt, I'll try using it with XOSP 6.2 (based on Marshmallow)

[2017-06-18 15:57] Spookcity commented on #19
@StanNL Thanks a lot for trying. Strange it didn't work for you on LOS 14.1. I'm typing from it now. Although there are issues.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 15:58] ghost commented on #19
@Spookcity XOSP gave me an error that there is no system volume, so therefore it cannot mount it, which is odd, but that doesn't mean it won't boot, right?
EDIT: It booted anyway. That was a strange error. I haven't installed the kernel yet so we'll have to wait for now.

[2017-06-18 16:00] Spookcity commented on #19
@StanNL I have no idea honestly. Its weird that your having these problems. I can't really explain this.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 16:00] ghost commented on #19
Yeah that was one of the strangest errors I've ever seen, but it's probably an XOSP bug.

[2017-06-18 16:04] Spookcity commented on #19
@StanNL Haha, the your vs. you're is one of my pet peeves so I understand :D

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 16:07] ghost commented on #19
@Spookcity Would you like me to get a Marshmallow log or a Nougat log? (or no log at all)

[2017-06-18 16:09] Spookcity commented on #19
@StanNL Prefer Nougat probably if possible,but either may be helpful.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 16:11] ghost commented on #19
@Spookcity Well I already made a Marshmallow log now, but I can make one for Nougat too if you want. Here's the Marshmallow one:
https://drive.google.com/open?id=0B1kigzj08bK2YU5uMWtWaTVUaGc

[2017-06-18 16:13] Spookcity commented on #19
@StanNL All good. Thank you! I will try to have a look after I eat.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 16:14] ghost commented on #19
@Spookcity Sure! Take your time

[2017-06-18 17:27] Spookcity commented on #19
F libc    : Fatal signal 11 (SIGSEGV), code 1, fault addr 0x27e098 in tid 1941 (servicemanager)

F DEBUG   : pid: 1941, tid: 1941, name: servicemanager  >>> /system/bin/servicemanager <<<
F DEBUG   : signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x27e098
F DEBUG   :     #00 pc 00017838  /system/lib/libc.so (memcpy+212)
F DEBUG   :     #01 pc 0003f265  /system/lib/libc.so (strdup+24)
F DEBU

[2017-06-18 17:35] ghost commented on #19
@Spookcity I hope you understand that log better than I do...

I'll also get a Nougat log for you. Should I make a log with the normal kernel as well just for comparison?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 17:37] Spookcity commented on #19
@StanNL yeah you def can do that if its no hassle. I just cant see how this is kernel related. Your system obviously crashed,we know that. We now know the reason,but where the heck does cellbroadcastreceiver come into play. Its very bizarre to me

[2017-06-18 17:41] ghost commented on #19
@Spookcity The reason is "memory violation", but I have no clue why...

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 17:43] Spookcity commented on #19
@StanNL Yes,this seems to be the cause of signal 11's most of the time in my limited experience. Its the same reason Firefox was crashing the system recently with the kernel updates. I just cant imagine this is related to the kernel though

[2017-06-18 17:46] ghost opened #20 "Test Builds #4"
A continuation of #10, #18 and #19.

[2017-06-18 17:47] ghost commented on #19
@Spookcity @Oleggluk @Mikahlo @tester-02 @jimmy999x Please continue at #20

[2017-06-18 17:48] ghost commented on #20
@Spookcity I cannot make logs because ADB doesn't recognize the device while "android is starting".

It's really strange that this doesn't work by the way. I do reach the "android is starting" screen, but after a while it just reboots

[2017-06-18 17:54] Spookcity commented on #20
@StanNL Indeed interesting. I had that too,but it only lasted maybe 5 seconds and then was fine. Its weird. I mean it makes sense that the CellBroadcastReceiver fault would stop the phone from booting. Just think,with the Firefox issue it was fine,until you opened it. Then bam,reboot. With the CellBroadcastReceiver,its running at start,so that's a big problem. What the cause is I don't know though

[2017-06-18 17:57] ghost commented on #20
@Spookcity It's just strange that ADB doesn't work, since it should start logging even while it hasn't booted yet. I'll try getting a system log with test10 as well

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 18:00] Spookcity commented on #20
@StanNL Yes that is also weird.
I am just unable to wrap my head around a lot of this ordeal.

![](http://i.imgur.com/7Q9g8xE.png)

![](http://i.imgur.com/W6GcaSI.png)

My uptime running LOS 14.1 on the MM kernel. So darn weird all of this.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 18:02] ghost commented on #20
Test10 still has the same behaviour, but it cannot produce any logs either... Oh well, we'll just have to resign ourselves to this because it is just unfathomable

[2017-06-18 18:03] ghost commented on #20
It's not like we really needed 1.7 GHz anyway

[2017-06-18 18:03] Oleggluk commented on #20
I pick many firmwares, in 4.4.2 there is a folder jack with libs in the lib folder and on other samsungs with radio there is this folder. And on 6.0.1 of our smartphone, this folder is no longer there. Although other smartphones are. And yet, I wrote one application for the radio: "this device may need a kernel with a working fm driver". So there must be some driver in the kernel? I believe that y

[2017-06-18 18:09] Spookcity commented on #20
@Oleggluk I imagine I can add a radio module/driver to the kernel without major issue. If you have the libs that'd be great. If not I can download them.

@StanNL Agreed,Its just very very weird. I was talking to someone yesterday about this who is more knowledgeable in the Android kernel then me. He said,it is strange,but possible its related to voltage. Now this weird error. I just am unsure what

[2017-06-18 18:23] Oleggluk commented on #20
@Spookcity I do not know what to look for. I do not understand anything about this. I do not even know which files are responsible for the radio.

[2017-06-18 18:27] ghost commented on #20
@Oleglukk @Spookcity
I do know which files are responsible because I once installed a flashable zip which included it, but it didn't work because they were for a different device. That doesn't mean that that is the wrong file location, however, so I'll look it up

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 18:29] Spookcity commented on #20
@Oleggluk No problem. I am not sure either, but will try to see if I can find out.

@StanNL  Thanks! Let me know if you find anything useful.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 18:30] ghost commented on #20
@Spookcity Could it be /lib/arm/libfmjni.so ? Just a wild guess.

EDIT: This is where I got it from: https://docs.google.com/file/d/0B8jbduQMLiqwQkpZNjhnRmNtaTA/edit

EDIT 2: These are the stock 5.1.1 libraries as a flashable zip but I cannot guarantee that they work for the G800F:
https://forum.xda-developers.com/attachment.php?attachmentid=3584797&d=1450764427
EDIT 3: That last link probably won

[2017-06-18 18:35] Oleggluk commented on #20
@StanNL I found a similar file in /lib/libfmradio_jni.so in files from another samsung. But there is nothing like our system 4.4.2. I'll try to add from another

[2017-06-18 18:36] ghost commented on #20
@Spookcity Maybe it's one of the following:
/system/lib/libvfmClient.so
/system/lib/libvfmtztransport.so

Edit: It's probably __/system/lib/libvfmClient.so__ , isn't it?

Unfortunately, I haven't downloaded all of the Samsung sources so you would have to try for yourself

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 18:46] Spookcity commented on #20
@StanNL Yes,that should be it,libvfmClient. The other one is part of the FP scanner I believe. Thanks! I'll look into this during the week and see if I can come up with anything.

Edit:
Was just doing a little quick searching into the FM radio and found this
"I have been reading in other threads that all GS5s have the FM 'on the chip'...
It is mechanically disabled (shorted on circuit board) on ev

[2017-06-18 19:08] tester-02 commented on #20
Maybe it helps: from LUX - 30.07.2015 - the newest 4.4.2 for G800F
[libvfmClient.zip](https://github.com/Spookcity/ROMS-G800F/files/1083282/libvfmClient.zip)

[2017-06-18 19:13] Spookcity commented on #20
@tester-02 Thank you very much!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 19:19] Mikahlo commented on #20
@all: the s5 mini doesn't have FM.

[2017-06-18 19:21] ghost commented on #20
@Mikahlo That's what I initially thought as well, but then why did Samsung add FM radio libraries to our device? That wouldn't make any sense either

[2017-06-18 19:29] ghost commented on #20
@tester-02 Could you also send the FM radio apk? It should be in /system/priv-app
I tried using those libraries and the CM 13.0 radio apk but they didn't work

[2017-06-18 19:30] Mikahlo commented on #20
@StanNL I don't think they did. Were are these libraries from? They float around the internet. The last samsung device with a fm radio was the note2 and s3. There is literally no hardware to receive fm since the s4.

[2017-06-18 19:31] ghost commented on #20
@Mikahlo The libraries are from the TouchWiz version of Android KitKat for the SM-G800F.

[2017-06-18 19:39] Mikahlo commented on #20
@StanNL Could be that samsung (if they originated there) overlooked them. The discussions where huge on the consumer site as samsung didn't build the fm chips in there phones anymore. The reason was: "you can use the mobile data".

[2017-06-18 19:48] tester-02 commented on #20
@StanNL [apk list.txt](https://github.com/Spookcity/ROMS-G800F/files/1083330/apk.list.txt)
I'm not quite sure which one, therefore the list with all the apks inside priv-app

[2017-06-18 19:54] ghost commented on #20
@tester-02 Could you give FmmDS.apk and FmmDM.apk? Their names contain FM so it's just a wild guess

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 19:54] Oleggluk commented on #20
@StanNL It's not it

[2017-06-18 19:55] Oleggluk commented on #20
@tester-02 Do you have 4.4.2 installed?

[2017-06-18 19:56] tester-02 commented on #20
No I just downloaded 4.4.2 and extracted the system.img

[2017-06-18 19:58] tester-02 commented on #20
[priv-app.zip](https://github.com/Spookcity/ROMS-G800F/files/1083338/priv-app.zip)
FmmDS.apk & FmmDS.odex
FmmDM.apk & FmmDM.odex

[2017-06-18 19:58] Oleggluk commented on #20
4.4.2 does not have a built-in radio apk! It was ported from another device and is not installed above 4.4.2

[2017-06-18 20:00] ghost commented on #20
@tester-02 Both of those are the correct ones, but thanks for trying anyway

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 20:00] Oleggluk commented on #20
[Radio.zip](https://github.com/Spookcity/ROMS-G800F/files/1083341/Radio.zip)

[2017-06-18 20:02] tester-02 commented on #20
@Oleggluk Where is the Radio.apk extracted from?

[2017-06-18 20:03] Spookcity commented on #20
[This](http://nextradioapp.com/) was the radio apk reportedly working with the S5. Which also contradicts my post including a comment from an XDA member.
I just read it says " stream radio stations in the US" on their site,but I also saw posts in the S5 thread that it worked for some outside the US

Edit: I just saw @tester-02 post. Thanks!

_Sent from my Samsung SM-G800F using [FastHub](https://p

[2017-06-18 20:30] tester-02 commented on #20
I'm going to install 4.4.2 just for the sake of verifying if radio is avaliable.

[2017-06-18 20:41] w3bservice commented on #20
@Spookcity
https://www.android-hilfe.de/thema/kein-ukw-radioempfangsteil-im-s5-mini.594773/

[2017-06-18 20:54] Oleggluk commented on #20
http://4pda.ru/forum/index.php?s=&showtopic=561008&view=findpost&p=39580657
Many then confirmed that it works.

[2017-06-18 20:57] tester-02 commented on #20
The radio apk from Oleggluk did start but it gave me only static noise on the headphones. Not a single UKW-Radio was found throught the scan or by manual input. For me UKW-Radio is not working with 4.4.2

[2017-06-18 21:20] Spookcity commented on #20
@tester-02 Thanks for testing this out. It is good to know. I just now realized that the libvfmClient.so is also for the fingerprint.

[2017-06-19 02:39] jimmy999x commented on #20
https://drive.google.com/open?id=0B6HnvpggPH_hdUZWeVk1QkxyVmc Carbon rom is ready, I have not fully tested it, if anyone wants to do it, I would very much appreciate it, I might post it tomorrow in xda

[2017-06-19 03:38] w3bservice commented on #20
@Spookcity
@jimmy999x
@StanNL
@tester-02

Times a question, you created all possible Roms for the G800F. These are unofficial. There are people who want to use a current image but do not want to do a complete new installation every time. The also ensure that the security patches are installed. Because they have to work with it. On the S4mini and the tab Pro LTE of my wife was it so. S4mini is nigh

[2017-06-19 06:40] Spookcity commented on #20
@w3bservice This is a very generous offer. I however am not real sure how to go about all of this. I know that hennymcc has set up a Jenkins build server for Lineage,but the person who was providing the server has been ill I believe. Perhaps hennymcc would appreciate your offer if the other person is unable to provide. I'm unsure. As for me,it is a bit over my head and seems like a bit of work tha

[2017-06-19 07:50] w3bservice commented on #20
I'll deal with Henry. I was more concerned about the aex rom. With the roms of henry I always have the problem with the battery. With your aex not. Therefore the offer. So not entirely unselfish. XD

[2017-06-19 08:31] Spookcity commented on #20
@w3bservice Hehe, no problem. Its still very much appreciated. I am building an update for beanstalk ROM as we speak. I had problems syncing AEX's sources when I wanted to update it the other day,so I may just need to resync all the sources. Hopefully I'll get time to update it this week. The one thing though,AEX recommends a clean flash between every version change,which seems to be fairly often.

[2017-06-19 09:40] w3bservice commented on #20
@Spookcity
Beanstalk was the second image i used. Its cool.
Say me what opengapps Version you used with this Rom. I would test this with kernel test 9

[2017-06-19 11:13] Guntzog commented on #20
@w3bservice speaking of batteries, for me all ROMs are the same, am obliged to use greenify since we have a poor one, BG bloats really eat too much.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 11:19] w3bservice commented on #20
@Guntzog

Make a clean installiert, also the SD. Bevor also backup or new sdcard.

I habe now 5 sdcards. With no problems with darin accu

[2017-06-19 13:40] Spookcity commented on #20
@w3bservice I always use opengapps pico. My new build of beanstalk doesn't boot for some reason. I guess I need to look into this...

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 14:01] w3bservice commented on #20
@Spookcity
Take time.
Can you help me setup a Workstation to compile Roms?

[2017-06-19 14:11] Spookcity commented on #20
@w3bservice I can certainly try. You're obviously familiar with Linux. That's a biggie. What distribution of Linux are you planning to build on?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 14:22] w3bservice commented on #20
@ Spookcity
on Server and Workstation i usw CentOS,
for buildsystem i open for all distris.

[2017-06-19 14:41] Spookcity commented on #20
@w3bservice I would probably recommend Ubuntu just because. I have never used CentOS so I'm not familiar with it. I use Arch,which can be a bit challenging,but it works. CentOS is redhat based right?
Either way the first step is to get all of your package dependencies met.
[This](https://nathanpfry.com/how-to-setup-ubuntu-16-04-lts-xenial-xerus-to-compile-android-roms/) is a good example of the ne

[2017-06-19 17:58] jimmy999x commented on #20
@w3bservice I have not been up to date with what I was talking about, just read the latest, do you plan to create a server or something? I have personally follow, these steps to configure the environment https://raw.githubusercontent.com/nathanchance/Android-Tools/master/Guides/Building_AOSP.txt , even though I have mine

[2017-06-19 18:09] Spookcity commented on #20
@jimmy999x I can confirm that some ROMS,even ones very similar to LOS have problems booting up with SELinux set to enforcing. Just letting you know if you have such an issue. This is the reason my beanstalk build would not boot. At some point I'll grab a log and see if I can fix it,but for now I'm just gonna release a version with a permissive kernel tomorrow as I don't really have time.
My assump

[2017-06-19 18:18] jimmy999x commented on #20
For now I have not had problems with SElinux in enforcing, right now I compile 2 roms, a new one and an update @Spookcity

[2017-06-19 18:20] w3bservice commented on #20
@jimmy999x
My thought was, if the G800F, already not officially one can offer nevertheless current Roms and the patches. There are many users who have problems installing a current image. With the server ..... I run 2 servers, one of the Mailserver is ..... and what makes the so the whole day ..... get bored, until one mail or mail arrives. ... otherwise the postfix is ​​on the sundeck. 16 GB RAM

[2017-06-19 18:24] jimmy999x commented on #20
I've also thought about it, set up an update server for the roms, I use google vm free trial, my configuration is 52gb of ram, 8 cores and 2tb, I install a graphical interface and from there compile my roms, I could donate the Server, but would only last about 20 days with that configuration @w3bservice

[2017-06-19 18:29] Spookcity commented on #20
@w3bservice and @jimmy999x  This is all a bit over my head in all honesty. I'm not very good with server related things and what-not. Even using Google cloud to build is something I was unaware of until it was brought up here.  I just sit behind an old laptop and build :D

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 18:32] jimmy999x commented on #20
Hey, I also work behind an old laptop, I only control a super pc remotely that compiles roms, I recently bought a lg pad 8.0, with a processor snapdragon, in a short time I have compiled more than 10 roms, it is much simpler , In addition my server looks exactly like any linux distribution

[2017-06-19 18:44] Spookcity commented on #20
@jimmy999x Yes, this sounds very nice indeed! Luckily,I'm really only building updates for my 4 or 5 ROM builds once a month/6 weeks and as I mentioned to you,most are set up so I expect few errors and just let it build over night. Not ideal,but its OK.
At some point in the near future I plan on building a nice PC. Obviously won't be near the super computer you control,but I think I'll be able to

[2017-06-19 19:21] Igor9393 commented on #18
Вы просто молодцы,блин кто т сказал про 2000 Ггц ,это что то невероятное,прошу не бросайте свои разработки,если получится то это ж что то из фантастики для старого мини

[2017-06-19 19:26] ghost commented on #18
@Igor9393 2000 GHz would probably be a world record, which would be nice for our "old" device :)
2000 MHz would be a little high as well, since 1.7 GHz doesn't even work for everybody except Rick.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-19 19:29] Igor9393 commented on #19
Надеюсь у вас все получится

[2017-06-19 19:45] Spookcity commented on #18
@StanNL Yeah,there was never any chance of reaching 2000. 1800 MHz was something that was probably unlikely as well,but since it does boot for me and allows me to get to my desktop before it locks up there was a chance that adjusting some things might have helped.
But since no one else can seem to get 1700 to work (grrr) I'm not going to mess with anything higher.

_Sent from my Samsung SM-G800F u

[2017-06-20 08:46] Spookcity commented on #2
I have updated Beanstalk ROM
**Download the ROM** - [Beanstalk 7.1.2](https://www.androidfilehost.com/?fid=817550096634780487)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-beanstalk-7-nougat-t3585327)
**Beanstalk Specific issues** - [Github](https://github.com/Spookcity/ROMS-G800F/issues/8)
**Changelogs can be found within settings -> about phone -> about

[2017-06-20 08:47] Igor9393 commented on #18
Согласен,я был бы очень рад если вы spoockity доработали версию на 1700 Ггц

[2017-06-20 08:57] Spookcity commented on #18
@Igor9393 I have indeed done this and am personally running a 1.7 build. However this does not work for anyone on here but me for some very strange reason,but don't get me started on that Grrr lol

Also as one last attempt to try to figure this out I cloned DJSteves 1.7 OC repo as he messed around with a few other things. This would not boot for me though. Probably due to being based on the lollip

[2017-06-20 18:35] Oleggluk commented on #12
@Spookcity Above we somehow discussed the error "Battery stats service no controller energy info supplied." The conversation was about the power_profiles.xml file. I was looking at the changes in the RR https://github.com/ResurrectionRemix/android_frameworks_base/commit/bf079b8f29c92669b3e677e80ab402b9b9c64453
Is it interconnected? Or is it quite another.

[2017-06-20 18:50] Spookcity commented on #12
@Oleggluk It is possible,but I'll be honest I'm really not sure. I do tend to think this has something to do with the way ROMS implement their power profiles as opposed to being kernel related, but I also could be wrong. This is really just a guess.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-20 22:22] Guntzog commented on #12
@Spookcity a flashed your test13 on RR and the battery became surprisingly poor, so damn fast drain, @Oleggluk have experienced something similar?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 05:29] Spookcity commented on #12
@Guntzog Very strange. I don't see why this would be the case. Your battery life should actually improve,at least a little as I've tweaked and patched some things. My battery life is better with it. Either way,I've been working on the kernel a lot and there are many changes since test13. I plan to release it on XDA today or tomorrow hopefully. Then will get a test version up here with some new add

[2017-06-21 07:07] Oleggluk commented on #12
@Guntzog My battery is 2.5 years from the date of purchase. Works badly already. It is difficult for me to judge the expenditure of energy. I also always use the core of Spookcity and I do not know how much power is consumed on the original core. I ordered a new battery.

[2017-06-21 11:24] Guntzog commented on #12
@Spookcity waiting for the kernel !

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 04:39] ghost commented on #5
@Spookcity Now that the OnePlus 5 has been launched, I heard that OnePlus has made OxygenOS open source. Does that mean you can now make an OxygenOS ROM? I'm not an expert, but they did include "build instructions" (for Marshmallow, but there's also a Nougat branch in there) in this repository: https://github.com/OnePlusOSS/android

_Sent from my Samsung SM-G800F using [FastHub](https://play.googl

[2017-06-22 07:35] Spookcity commented on #5
@StanNL Hmm,interesting. Honestly I'm unsure. I do know that from looking at the branches that all of the N/7.x branches have a QC prefix,meaning for Qualcomm I imagine. This doesn't mean it wouldn't build for our device,but may make it more difficult. If I have some time perhaps I'll give it a go and see what happens. Or maybe @jimmy999x is willing to try with his super computer :D

_Sent from my

[2017-06-23 03:21] jimmy999x commented on #5
https://drive.google.com/open?id=0B6HnvpggPH_henUzeURuNF85Yjg @aykut78 xosp 7.1.2 have ambient display enabled by default

[2017-06-23 06:05] ghost commented on #5
@Spookcity Ooh I though QC meant Quick Charge (which it does, but not in this context). If it does mean Qualcomm, that could lead to some problems indeed.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-23 12:11] Spookcity commented on #2
I have (finally) created a thread and released my kernel on XDA. This is the exact same as test13 that was posted on here,so no need to flash if you are running that. I will now be creating test builds and posting them on here. Perhaps this weekend even as I have added and tweaked things a fair bit since this version.
[XDA](https://forum.xda-developers.com/galaxy-s5-mini/orig-development/kernel-sp

[2017-06-24 09:20] Oleggluk commented on #20
Peace and quiet ...). Have someone the time to update the RR. The fingerprint sensor is driving me crazy. I want to experience new changes when the fingerprint sensor turns off while the screen is off. In addition, the RR added new features for the fingerprint scanner, the answer or reset the call ... on the fingerprint scanner. Perhaps all together will affect the better.

[2017-06-25 01:57] jimmy999x commented on #20
sure

edit 1: https://www.androidfilehost.com/?fid=817550096634781591

[2017-06-26 04:40] w3bservice commented on #20
@Spookcity
Can you compile aex 4.3?
Thx
My computer break at thunder last week

[2017-06-26 07:09] Spookcity commented on #20
@w3bservice Yes, I was having problems syncing their sources,so I had to just start from scratch. Hopefully I will get it built sometime in the next couple of days

[2017-06-26 10:32] Spookcity commented on #20
**Spookcity_Kernel-N - Test v1.0a**

**Changes**
- **Fixed "unsupported device" error when flashing in TWRP v3.1.1.0**
- **GPU overclocked to 533MHZ**

- **Added many TCP congestions**
reno
vegas
westwood
etc.

- **Added CPU governors**
dancedance
darkness
hyper
lionheart
ondemandplus

- **Added IO schedulers**
fifo
tripndroid

- Please give feedback [Here](https://github.com/Spookcity/ROMS-G800F/

[2017-06-26 16:38] Pat750 commented on #3
I used Candy ROM for a week and it's really smooth out of the box. In terms of custom options it's in the mid range like AEX or Xenon.
It has Magisk12, Substratum, K9 material and Tugabrowser (which I didn't like). The back button can be remapped.
It has no file manager and I think the old MM SystemUI colours.
Home button doesn't answer calls and the charging screen says ??/100 (when device is off

[2017-06-26 17:00] Pat750 commented on #20
Finally managed to sign into this.
Did test flash most of the uncountable ROMs. Tested without SIM card or google account, did just play with the settings and some apps to see what the ROM offers.
Most ROMs worked fine. Here is only one issue.
@jimmy999x on AOSIP and Hexagon the sd-card (Samsung 64 GB) was not shown when device was connected to PC (W7 Prof).
Normally ejecting the card can solve th

[2017-06-26 18:05] Spookcity commented on #20
Hey,good to see ya here @Pat750 . I agree I used CandyROM for awhile and liked it. I really like most of the ROMS,but somehow I always find my way back to AEX. There's just something about it. Plus they've implemented  [MicroG](https://microg.org/) in the new version. Which was something I wanted to add anyway.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/deta

[2017-06-26 21:07] Pat750 commented on #20
Interesting that MicroG. Personally I think it's always good to avoid Google as much as possible and give others a chance...

[2017-06-27 07:34] Spookcity commented on #20
@Pat750 I very much agree!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-27 15:05] Spookcity commented on #11
**AEX Changelog**

**AEX V4.3**

- June security patch 7.1.2_r17 merge
- Remove pixel icons
- Add MicroG support
- Improve AEX settings header
- Add AEX platlogo
- Add AEX settings drawer header
- Add new #BeExtended headers
- Fix battery icon theming
- Update OMS commits
- Rootless SystemUI restart
- Use more vectorized icon
- Add lockscreen pattern grid size
- Screen pinning option in Grid recen

[2017-06-27 15:07] Spookcity commented on #2
I have updated AEX to Version 4.3
**Download the ROM** [AEX 4.3](https://www.androidfilehost.com/?fid=889764386195911916)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v3-3-t3573531)
**Changelog** [Changes](https://github.com/Spookcity/ROMS-G800F/issues/11#issuecomment-311387644)

[2017-06-27 21:29] w3bservice commented on #20
@Spookcity
Thx for compiling.
I install its tomorow

[2017-07-01 13:47] Spookcity commented on #7
**Slim 7 Changelog**
Changes from the last build (0.24) to stable 1.0

**0.29**
- device/qcom/common: Use correct opcode for STOE_CLK_SCALE_DIS
- fw/base: Upstream fixes from master, Add null check for action bar
- hw/qcom/display-caf/msm8916 msm8974: hwcomposer: Fix regression in hwc_sync
- hw/qcom/display-caf/msm8994: hwcomposer: Fix regression in hwc_sync, libmemtrack: Fix integer overflow in k

[2017-07-01 13:51] Spookcity commented on #2
I have updated Slim 7 from beta 0.24 -> stable 1.0
**Download the ROM**   - [Slim 7.1.2 - Stable 1.0](https://www.androidfilehost.com/?fid=817550096634782973l)
**XDA Thread**  - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-slim-rom-7-nougat-t3558926)
**Changelog** - [Changes](https://github.com/Spookcity/ROMS-G800F/issues/7#issuecomment-312433122)

[2017-07-01 15:30] jimmy999x commented on #20
https://www.youtube.com/channel/UCIETeUpEb2Fc5VwwRKE3m4Q/videos I discovered that this channel shares the roms we made, it does not bother me that it does, what bothers me is that it uses link shorteners

[2017-07-01 15:38] Oleggluk commented on #20
@jimmy999x  Horn to him to break. And in the comments to disgrace him.

[2017-07-01 17:38] Spookcity commented on #20
I very much agree with @jimmy999x I have no problem at all that they are sharing the ROMS. I actually think its cool they made videos and it could be real beneficial,especially if shared here or on XDA,but the link shorteners are a big problem for me as well.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-01 18:47] jimmy999x commented on #20
That also bothered me, in no time we were given the credit, or mentioned some post from xda, just shorten the links and publish the videos, and I contacted him, I'm waiting for a reply

[2017-07-03 10:11] Spookcity commented on #20
@jimmy999x Did you ever get any response?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-03 14:44] Oleggluk commented on #20
I looked out the kernel v2.0. What's new awaits us in the test version?)

[2017-07-03 16:59] Spookcity commented on #20
@Oleggluk Not 100% sure yet. Alucard,alucard hotplug. Some other patches I've applied. Maybe GPU overclock to 600mhz. Also perhaps drivedroid support. It depends really. I've also moved the "get_CPU_idle_time" function and fixed a bunch of the CPU governors to work properly with this move. Maybe these. I've added zen tune as well. All of this will probably not be included in the test build though.

[2017-07-07 21:05] jimmy999x commented on #20
Yes, he said that in the next few days he would change the information, post the posts and credits, but he will not remove the link shortcuts.

On the other hand I just read that xosp possibly will not have the 8.0 version of android

[2017-07-08 10:59] Spookcity commented on #20
@jimmy999x Well, I suppose that's better than nothing. Although the links personally bother me a lot more. I'm OK without getting any credit ( although it is nice and the right thing to do I believe) and have him remove those. Whatever, such is life.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-11 17:46] Oleggluk commented on #20
https://www.xda-developers.com/paranoid-android-7-2-0-improves-color-engine-adds-accidental-touch-protection-and-supports-even-more-devices/
Eh, dreams, dreams

[2017-07-12 09:20] Spookcity commented on #20
@Oleggluk No promises, but maybe I'll give building PA a go. The problem is that I believe it to be a rather difficult build for out device for some reason. I am really lacking time of late and between keeping my other ROMS updated and trying to work on my kernel it takes up a lot of my free time.
If I have the time... and patience I'll give it a go though. No guarantees on when though.

_Sent fro

[2017-07-13 10:06] Spookcity commented on #2
I have updated AICP
**Download the ROM** [AICP 12.1](https://www.androidfilehost.com/?fid=817550096634785581)
**XDA Thread** [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aicp-12-1-nougat-t3565009)
**Changelogs Can be founf within the ROM - Settings ->Aicp Extras -> Changelog**

[2017-07-14 12:55] Spookcity commented on #20
**Spookcity_Kernel-N - Test v2.0a**

**Changes**
- **Built an updated version of Sqlite3 to push with the kernel. Android uses a very old version of Sqlite3. Version 3.9.2 from 11-02-2015 to be exact. I have built version 3.19.3 from 06-08-2017. This will be pushed to your device with the kernel install. You can verify this by running "sqlite3 --version" in a terminal emulator before the new kerne

[2017-07-14 13:27] Oleggluk commented on #20
@Spookcity Firmware RR, kernel v2.0a. Very strange. After setting up and restarting., All additional sounds have turned on themselves - Screen lock sound, dialing sound, vibration feedback and others)). I continue to test
Many settings of the system have been changed by default.

[2017-07-14 13:44] Spookcity commented on #20
@Oleggluk Hmm,indeed that is strange. I can't really explain why this would be. I guess some change I made? I don't know. I'll have to look into it some. This didn't happen for me I don't believe. Please do let me know more of your findings after some more testing. Thanks!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 14:44] Oleggluk commented on #20
@Spookcity Works good. Resetting the settings was insignificant., Different trivia, additional sounds, vibration, quick setting tiles, weather in the status bar, animation, font size ... I already set everything up again.
I configured the instant application of the settings in Kernel Adiutor, rebooted, I did not find other problems.
Hotplug is very interesting, not used before., An interesting com

[2017-07-14 15:00] Spookcity commented on #20
@Oleggluk Many thanks for the great feedback. It's really appreciated! I have never messed with any hotplug governors either, up until a couple of weeks ago. It seems, on my playing around with it that the CPU governor you set in combination with the hotplug has a big effect on the CPU cores online settings. For instance, with zzmoove which I use a lot, it does mostly what you are saying, but with

[2017-07-14 15:55] Oleggluk commented on #20
@Spookcity If it's not difficult, build a v2.0a kernel, but with a maximum frequency of 1500? There was a person who had a radio on 4.4.2 and did not start the phone with any kernel after Test9. The phone is from the first release series. I'm curious if he will start at 1500.

[2017-07-14 16:04] Spookcity commented on #20
@Oleggluk Interesting problem. Yeah, it should be pretty easy I think.  I'll try to do this after I eat dinner in a little while. I'll update this post with that version perhaps in an hour.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 16:05] Oleggluk commented on #20
@Spookcity Bon Appetit )

[2017-07-14 16:47] Spookcity commented on #20
@Oleggluk [1.5 kernel](https://drive.google.com/open?id=0B_rGv18gTmnVOWdlS2d6Ym5nTG8) I hope this will work for them. It is exactly the same as the v2.0a build just 1.5 max frequency. I did not test this,but it should work. Curious about whether it will work for them. Please let me know. Our device is very confusing/frustrating when it comes to CPU frequencies..as we all know by now lol

[2017-07-14 16:53] Oleggluk commented on #20
@Spookcity He is now out, but I gave him the link. As soon as he gives a result, I will write here. I myself am interested)). Still, there is some difference in the devices. Thank you.

[2017-07-14 18:14] Oleggluk commented on #20
@Spookcity He is happy.)) Version V2.0a 1500 has started. Already three different devices are obtained, who has the upper threshold of 1500, who has 1600, and someone has a military prototype for 1700).

[2017-07-14 18:25] Spookcity commented on #20
@Oleggluk Haha,so true. Our device is weird. I still,even after all of these weeks can't wrap my head around it. I'm still successfully using the 1700Mhz  overclock on my military prototype hehe
Either way, I'm very happy it booted for him!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-14 23:12] tapp2 commented on #20
@Spookcity @Oleggluk Thank you both for the idea and building of the kernel V2.0a with 1500Mhz.
Now i can use the kernel again without bootloops.

[2017-07-15 08:48] Spookcity commented on #20
@tapp2 You're welcome. I have no problem building a 1500MHZ version for each update. It's not difficult. I will probably only post it up on here though as opposed to the XDA thread.

[2017-07-15 14:29] tapp2 commented on #20
@Spookcity Ok, so i will have a look here, when you updated the kernel at XDA.

[2017-07-15 16:26] Spookcity commented on #20
@tapp2 Yeah, the basic process is going to go like this:
I upload a test build here, as I did yesterday. Get some feedback or hear nothing and assume it's working OK. Then some days later post the same version on XDA. Then perhaps a week or two later post another test build on here and repeat. So the next build on XDA will be the same as this last test build, assuming all is OK with it.

_Sent fro

[2017-07-17 10:55] Spookcity commented on #20
@Oleggluk I also have now had the issue with certain settings being reset when I flashed a newer version of the kernel. Its a strange problem. Although,as you said it is fairly insignificant. I will try to look into it though.
On a side note: I finally have figured [this](https://github.com/Spookcity/android_kernel_samsung_kminilte/commit/2fd81e566e02f2d52471fc013800a49c1f8a67bc) out. It took a lo

[2017-07-17 18:21] Oleggluk commented on #20
@Spookcity It's great. I've been waiting for this feature for a long time. And I got a new battery today. Now with a new core, battery and voltage regulation function, I will not charge the smartphone for a week. Haha))

[2017-07-18 09:04] Spookcity commented on #20
@Oleggluk  Haha,well congrats on the new battery! I think I may be in need of a new one in the near future.
On the subject of voltage control: I've been messing with it for a few days. I've had some issue,but I believe mostly just related to me selecting values that were unstable,so the phone would lock up etc. Which is to be expected. The stock CPU voltage values are max=1300mV and min=800mV. I'v

[2017-07-18 19:06] jimmy999x commented on #20
Hello everyone, long ago did not come here, I was very busy with the university, I have a great doubt, is there any way to get a log of the compilation? I would like to compare some processes and understand it

[2017-07-18 19:44] Spookcity commented on #20
@jimmy999x Good to hear from you. I hope university is going well. As far as a compilation log. Do you mean a full log of a ROM compilation? Either way,you can throw the compilers terminal output to a text file by using "2>&1 | tee rom_build.txt" without quotes. So you'd run mka bacon 2>&1 | tee rom_build.txt. That will give you a text log called rom_build of the compilation in the source folder.

[2017-07-19 11:22] Oleggluk commented on #20
If anyone is bored, you can update the RR, haha). There have been updated to 7.1.2r24, a new security patch and other fixes ..

[2017-07-19 13:48] Mikahlo commented on #20
@Oleggluk or Validus, Vanir or AIM ROM :P

[2017-07-19 14:18] Spookcity commented on #20
@Oleggluk and @Mikahlo If I wasn't busy with my kernel and trying to keep my 5 ROM builds updated...and if it wasn't a full day thing for me to build a ROM I would,but I just cant sorry.
I am hopefully going to release v3.0 of my kernel on XDA later today,maybe tomorrow. Then tomorrow or Friday I'll get a version up on here with the voltage control.

[2017-07-19 19:30] Mikahlo commented on #20
@Spookcity I was just kidding. It's already hard enough to decide which ROM to use. For this week I try your AOSP extended. So far it's a nice ROM like AOKP with no bugs yet, fully functional and definitely ready for daily usage. A quick search on androidfilehost for "kminilte" shows 150 matches. Over 30 of them are from Rendev aka @jimmy999x  It's a restless time for our S5mini :D

[2017-07-19 22:56] jimmy999x commented on #20
It is better we have many options, choose and try the one that best fits to what we look for our daily use, well, compile those roms are very easy, I will gladly do it :)

EDIT 1 : RR is already https://www.androidfilehost.com/?fid=745425885120749922

EDIT 2: AIM https://www.androidfilehost.com/?fid=817550096634787152

EDIT 3: VANIR  https://www.androidfilehost.com/?fid=961840155545583313

[2017-07-20 16:46] Mikahlo commented on #20
@jimmy999x Thanks! I'm testing the AIM now. So far everything works. The built-in themes are nice and the ROM is "snappy". Paired with a nice "spooky kernel v3" on top and the S5mini becomes better than flagship phones :)

[2017-07-20 18:50] jimmy999x commented on #20
@Mikahlo  Absolutely, a few days ago I met a user of the s5 mini in my university, still used kitkat 4.4 when I tried it I felt that it was not even 50% of the power that currently owns the device, I borrowed it a few days and installed crdroid 7.1.2 (3.5) thanked me forever

[2017-07-21 03:40] Mikahlo commented on #20
@jimmy999x Recently a colleague who was a "iphone is the best" type of guy switched to an android phone because his provider made him a "good" deal with a contract. During the lunch break I showed him what he is able to do now like playing emulators, share files easily between phones and pcs and overall just basics. He was really impressed and a bit of confused why all these things were so easy to

[2017-07-21 10:14] Spookcity commented on #20
Yeah,I'd have to be paid to use an iPhone lol. Android is just too customizable and too much fun to learn.
Side note: I'm going to create another test builds issue later today as this one has become fairly long. I will post up my kernel with voltage control there when I'm home.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 13:42] Spookcity commented on #2
I have updated AOKP
**Download the ROM** [AOKP 7.1.2.](https://www.androidfilehost.com/?fid=817550096634787502)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aokp-nougat-t3570088/page4#post72117523)
**Changelogs can be found within the "ROM Control" app**

[2017-07-21 13:44] Spookcity opened #21 "Test Builds #5"
A continuation of #10, #18, #19 and [20](https://github.com/Spookcity/ROMS-G800F/issues/20).

[2017-07-21 14:08] Spookcity commented on #21
**Spookcity_Kernel-N - 3.0+voltage_control**

**IMPORTANT- More than ever do a FULL backup before flashing this version. Read on and I will explain why.**

This is the same as version 3.0. The only difference is the added voltage control. The maximum possible voltage is 1500mV. The minimum is 600mV. I have found 1475mV and 650mV to be the highest and lowest I am able to use and have my phone stay

[2017-07-21 14:09] Spookcity commented on #20
Please continue test build discussions [Here](https://github.com/Spookcity/ROMS-G800F/issues/21)
Thanks!

[2017-07-21 14:50] Oleggluk commented on #21
@Spookcity RR works great. Thank you!

Ahaha)) this dangerous thing. Three times already rebooted and once completely stopped). I like))

[2017-07-21 15:09] Spookcity commented on #21
@Oleggluk Great! I'm glad to hear that. Please keep me updated on your findings. Do expect lockups/freezes if you select unstable voltages though. Hopefully nothing more than that. I've had my share,but have been running the same voltages now for 2 days and so far so good. The CPU governor you choose also seems to play a fairly big part in the stability of certain voltages.

Edit:
Hah,yes this can

[2017-07-21 15:45] Oleggluk commented on #21
@Spookcity I'm using the standard interactive now. Once 8 already had a reboot)), but I continue to look for the optimal values.

[2017-07-21 15:55] Spookcity commented on #21
@Oleggluk Yeah,that's the key,just finding the values that are stable and close enough to what you're looking for. It took me awhile of messing around and many reboots/freezes to find these as well. I should also mention that I don't play any graphic intensive games. Otherwise I'd highly recommend not over-volting as much as I have done. The CPU temps would get too high.

Good luck finding the opt

[2017-07-21 16:33] Oleggluk commented on #21
@Spookcity I'm not afraid of overheating, on the contrary I put the smallest possible values to conserve battery power.
I can not understand how hotplug works. I installed the minimum number of kernels online 3 (1 core immediately turned off), the maximum I set to 4. I understand that if there is a heavy load, then the fourth core will turn on? I included games, heavy applications, the processor r

[2017-07-21 16:54] Spookcity commented on #21
@Oleggluk Yeah,then overheating shouldn't be an issue. I'll be honest I am also somewhat confused by alucard hotplug. It's the first I've ever messed with hotplug governors though,but its behavior is somewhat strange to me. I'm going to try to add a few more hotplug governors in the near future. Perhaps some behave a bit differently.

_Sent from my Samsung SM-G800F using [FastHub](https://play.goo

[2017-07-21 18:38] Oleggluk commented on #21
@Spookcity Hmm. Interesting. In the developer parameters there is an item "show information about the processor". So, Indications kernel adiutor and the readings on the screen are very different. To whom to trust more?

[2017-07-21 18:59] Spookcity commented on #21
@Oleggluk That is interesting. Are you able to post a screenshot of what that says?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 19:18] Oleggluk commented on #21
For example, if the Kernel Adiutor shows a stable frequency of 900, then the system indicator remains at 200. they show completely different information.
I removed the screenshot so did not interfere

[2017-07-21 19:21] Spookcity commented on #21
@Oleggluk Ahh,OK. That's is what you're talking about. I for some reason was thinking it was something specific to RR. I will try this as well and see if I can tell what's happening.

Edit:
OK, after just a quick look at this I think its due to different refresh rates. I believe kernel adiutor just refreshes at a different time,so I think they are both accurate,but my guess is that the developer o

[2017-07-21 19:57] Oleggluk commented on #21
@Spookcity I thought about the fact that the update time is different. But if you watch longer, you can see that the values are really different.

[2017-07-21 20:17] jimmy999x commented on #21
I have a great doubt, I love xosp, it seems to me one of the best roms for the device, but I have a problem, it has a battery drain, I installed the kernel 3.0 of @Spookcity, to change the cpu governors it is necessary to check the "apply on Boot "? Or do I simply choose the options and close the application? (I speak of Kernel Adiutor)

[2017-07-21 20:18] Spookcity commented on #21
@Oleggluk It's a strange thing and its difficult to compare. Especially if 1 is off by say 2+ seconds. Then the values are going to look very different. I don't know for sure though. I was using pegasusq governor and I kinda could see similarities. I mean it didn't look totally different, but yeah this is just a guess as I really don't know. I will look more into it though as it is interesting.

_

[2017-07-21 20:33] Spookcity commented on #21
@jimmy999x Yes,if you want to keep the particular governor after rebooting ( without manually changing it) then click apply on boot. The governor you select is activated once you select it though. Just that it'll be reset after rebooting if you don't tick that.

@Oleggluk I just compared kernel adiutor and 3c Toolbox's CPU frequencies. They are different as well. I don't know what else it'd be bes

[2017-07-21 20:39] jimmy999x commented on #21
What configuration do you recommend? What I most want is to improve the battery life

[2017-07-21 20:40] Mikahlo commented on #21
@jimmy999x I read in the xosp telegram group that xosp doesn't get an android o version, so probably this project gets discontinued.
@Spookcity I'm joining the test team going for undervolting and overall battery lifetime.

[2017-07-21 20:42] jimmy999x commented on #21
@Mikahlo I know, I read it on your g +, a real shame, but I'll use xosp to the end or find some rom compatible with am3d (even though I think I'm about to find the cause of the incompatibility)
I am beginning to believe that the problem of incompatibility with am3d is due to our device tree, because on my tablet, all roms are compatible with am3d zirene, in summary, crdroid is compatible for the l

[2017-07-21 20:55] Spookcity commented on #21
@jimmy999x As far as configuration.. Hmm alucard seems to be good for this. Alucard hotplug as well. Just be sure,as in the warning about my kernel to set the delay time in kernel adiutor to at least 10 seconds because certain governors don't play nice with the hotplug governor and will cause a reboot once applied. I came across a real nice article on CPU governors that I plan to add to my kernel

[2017-07-22 18:28] Mikahlo commented on #21
@Spookcity So far the kernel works as expected. No random reboots or other strange behaviour. The governors and the voltages seem to apply correctly. Well done!

[2017-07-23 00:27] jimmy999x commented on #21
![image](https://user-images.githubusercontent.com/21678167/28495483-5fc88c2e-6f24-11e7-81ad-d5fa90b89d2f.png)
Any idea how to compile moke rom? Already includes AndroidProducts.mk in the kminilte folder

[2017-07-23 09:53] Spookcity commented on #21
@Mikahlo Great! Very glad to hear that and thanks a lot for the feedback. Its really appreciated!

@jimmy999x Hmm, I don't really remember doing anything specific when I built it. If theres already an AndroidProducts.mk,then all I can think is that there must be somewhere in Mokee's vendor folder where you have to add our device. I'm really not too sure.

[2017-07-24 02:08] jimmy999x commented on #21
![image](https://user-images.githubusercontent.com/21678167/28505583-a3d617d8-6ffb-11e7-911d-1f21f8745f9c.png)
When I built paranoid, I got these errors, is there any way to correct them or skip that process of creating the kernel and using of the @Spookcity

[2017-07-24 07:59] Oleggluk commented on #21
Ooh, paranoid, I want to try it for a long time.

[2017-07-24 10:22] Spookcity commented on #21
@jimmy999x I'm not real sure. You can try to comment out these lines in the boardconfig.mk with a #
#Kernel
TARGET_KERNEL_CONFIG := kminilte_00_defconfig
TARGET_KERNEL_SOURCE := kernel/samsung/kminilte
Then add:

ifeq ($(TARGET_PREBUILT_KERNEL),)
LOCAL_KERNEL := device/samsung/kminilte/zImage
else
LOCAL_KERNEL := $(TARGET_PREBUILT_KERNEL)
endif

PRODUCT_COPY_FILES := \
    $(LOCAL_KERNEL):kernel

[2017-07-27 12:26] Oleggluk commented on #21
Someone can explain to me in Russian)), that he means. Https://forum.xda-developers.com/showpost.php?p=73191400&postcount=1241
One of the links has a paragraph with the words "klte-common: fingerprint: fix missing sensor_init () (android_device_samsung_klte-common)". Does this concern our apparatus?

[2017-07-27 13:01] Spookcity commented on #21
@Oleggluk Interesting find. I'm honestly not sure off hand and this is for the S5,but we use bits from the S5. Plus I do think our fingerprint stuff is similar. Certainly the file that has been patched ( fingerprint.c) I think are the same...or at least similar enough that we could try this patch.

Edit:
Sorry not in Russian :D

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.co

[2017-07-27 13:09] Oleggluk commented on #21
@Spookcity Ahaha)). Not in Russian, but it's pretty clear. If this somehow helps improve the performance of the fingerprint scanner, I would like you to pay attention to it when there is free time.

Explain in Russian, it's an expression. Means that I did not understand)), even if we communicate in one language. It is necessary to explain in an easier way. Ahah).

[2017-07-27 13:25] Spookcity commented on #21
@Oleggluk hehe,OK understood. I will look into this some when I have a little time and try to see exactly what this fixes and if it applies to our device.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 13:38] Oleggluk commented on #21
@Spookcity Thank you. With a new core, with a new RR, with a new battery for $ 10 with aliexpress)), 2 days of life and 6-8 hours of screen and more than 20 hours of Wi-fi. Why do I need a new smartphone, when this is good).

[2017-07-27 14:17] Spookcity commented on #21
@Oleggluk Very nice! I agree. I am very happy with my phone. I'm in no hurry to get a new one. I'm able to do all I need with it. I think I'll be looking into a replacement battery soon. Mine is OK,but its getting old.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 14:30] Oleggluk commented on #21
@Spookcity I also thought that my battery is still normal. I constantly use the widget in the status bar, voltage and load of the processor. But on the old battery the voltage is not logical, on a new battery it can be understood. I'm not at all sure that I bought the original battery, I bought for $ 10, we have official services asking for $ 40. But I'm happy, my device has not kept so much for t

[2017-07-27 15:37] Spookcity commented on #21
@Oleggluk This could very well be the case with mine as well. Good to know. I will not be buying an official battery either. They ask too much for them IMO. I will also probably just get one from AliExpress...or similar.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 15:43] Oleggluk commented on #21
@Spookcity Be careful. A lot of deception. And never look at 3200/5200 of the same form, ahah, it's such a hoax. Samsung could not, and Uncle Liao could)).

[2017-07-27 16:48] Spookcity commented on #21
@Oleggluk Hah,yeah I will certainly be careful.
On another note... I just read your post on XDA in the LOS 14.1 thread to the guy who keeps posting over and over about his sim card. Made me laugh. It's funny, but also very true,something must not be right with him.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 17:27] HaxXorHardy commented on #21
@Spookcity i have this simcard bug too. I use an older version.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 17:33] Oleggluk commented on #21
@Spookcity Explain it in Russian))
But I think they just troll.

[2017-07-27 17:43] Oleggluk commented on #21
@HaxXorHardy You installed the official firmware 6.0.1, launched it. Installed TWRP, installed custom firmware? And you do not see a sim card? I do not believe!

[2017-07-27 18:00] Spookcity commented on #21
@Oleggluk agreed,I think he must be trolling..or is indeed mentally ill!

@HaxXorHardy You need to do as @Oleggluk has said then you should not have this problem

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 18:40] HaxXorHardy commented on #21
@Oleggluk no i have done a dirty flash while it was released after this i had to rollback to the old version. What is the best tool to backup personal settings apps and data?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-27 19:34] Oleggluk commented on #21
@HaxXorHardy For me, the best Titanium Backup. But I do not answer for anything and do not bear any responsibility. You can restore the data. It depends on what firmware was previously used. Photos and videos, you need to transfer separately. Contacts can also be saved separately as standard in the vcf format. All in your hands.

[2017-07-28 11:53] Spookcity commented on #21
**Spookcity_Kernel-N - Test v3.0a**

Alright,so I've spent most of my limited free time lately messing with the kernel and its really getting to where I want it to be. It is very stable for me and I notice real improvements over the stock kernel,performance wise and battery wise. Granted, I am running a version with more additions/tweaks,but you cant' get everything at once :D

**Changes:**

- **D

[2017-07-29 00:21] jimmy999x commented on #12
![screenshot_2017-07-28-19-17-46](https://user-images.githubusercontent.com/21678167/28740391-85398674-73da-11e7-84e3-88c1c1be8714.png)
I can not install version 3.0a of your kernel, I know how to correct that, I need to make the boot image a little bigger and re compile liquidark rom, in a few days it will be ready

[2017-07-29 08:03] Spookcity commented on #12
Hmm,interesting. Thanks for the heads up. I've only flashed this version on AOKP and AICP. I'm not sure why this issue though. I had this problem when I tried to use LZ4 compression for the kernel. I'm still looking into that. I think the boot image partition for our device is actually larger than what is in the fstab. I'm not positive though. Let me know the outcome of this though.

[2017-07-29 09:53] Oleggluk commented on #21
Only I lost the switches in the virtual memory item?

[2017-07-29 10:11] Spookcity commented on #21
@Oleggluk Weird. I assume you mean in kernel adiutor. I still have them. No issues here. I use kernel adiutor-mod,but I also checked with the regular kernel adiutor and all good there too.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 10:15] Oleggluk commented on #21
Strange, maybe I dreamed). But below there were more settings.
![screenshot_20170729-131238](https://user-images.githubusercontent.com/27913216/28743990-ee2aac50-745f-11e7-8a4b-b1d5c3c0fd30.png)

[2017-07-29 10:19] Spookcity commented on #21
@Oleggluk haha,I don't know. This is the same as I have. I guess I didn't really pay attention,so I'm not sure if its changed. I'm not real sure why it would,but who knows. I'll install an older version of the kernel later and have a look.

Edit:
I will say after looking at your screenshot..
The swappiness value of 100 is way too high IMO. This is a common setting. I'm looking for a way to set thi

[2017-07-30 08:05] Spookcity commented on #21
I built a 1500mhz version of test 3.0a. Download is in the main comment above.

[2017-07-30 11:56] Oleggluk commented on #21
Installed the core of test 3.0a on RR
Tonight I used the BetterBatteryStats program to make a BBS dump. When I showed it on the forum, that's what they said to me: "Oleggluk, you have an expense of 0.1% per hour, at this expense, even the meaning of the dump is not to be studied, just a little bit and the phone will start charging itself." . :D Hahaha

[2017-07-30 14:14] Spookcity commented on #21
@Oleggluk Haha, brilliant! That new battery is certainly paying off.
I really do notice very nice improvements using my kernel. Even with my rather old battery. I have really good battery life. I also notice a nice performance boost. Which is good. Means I'm not spending all of this time on nothing :D

Edit:
Even with my Marshmallow kernel I really only added governors and I/O schedulers. No real

[2017-07-30 14:50] Spookcity commented on #2
I have updated Beanstalk ROM to 7.1.2
**Download the ROM** - [Beanstalk 7.1.2](https://www.androidfilehost.com/?fid=889764386195919544)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-beanstalk-7-nougat-t3585327)
**Beanstalk Specific issues** - [Github](https://github.com/Spookcity/ROMS-G800F/issues/8)
**Changelogs can be found within settings -> about phone

[2017-07-30 15:46] tester-02 commented on #21
I'm on lineage-14.1-20170726 build from Panzerknakker. For me 3.0a produces random reboots, where the 1500MHz is working fine! Thanks for the second version. But all the other versions since your build v0.9 with 1600 MHz produced the reboots.

[2017-07-30 17:03] Spookcity commented on #21
@tester-02 Thanks for the feedback. It's weird,I've had no random reboots (besides ones related to me messing with voltages) I've not tried it on Lineage.  From my experience,I've tested 4 or so ROMS for rather extended periods and there does seem to be slight differences stability wise with different ROMS. I'm not really sure why. Although I've still not experienced any random reboots.

Perhaps,s

[2017-08-03 10:12] Spookcity commented on #21
@Oleggluk Did you ever find good,stable voltages? I've been using some for days now and I find it rather awesome... Battery wise and performance wise. I was playing around with overvolting the higher frequencies to see if there was any performance boost. I didn't notice any. Only much higher CPU temps. Now I've undervolted everything a good deal. The stability is obvious dependent on the CPU gover

[2017-08-03 11:14] Oleggluk commented on #21
@Spookcity I experience a thrifty regime). And why can not I see how much less I've done? You can see values in parentheses for example (-25)
![screenshot_20170803-140546](https://user-images.githubusercontent.com/27913216/28919421-13ba415c-7856-11e7-8570-9a41ceec0ab5.png)
But this is not the final option. I just do not have time for experiments right now. This is for me now stable.

[2017-08-03 13:42] Spookcity commented on #21
@Oleggluk That looks real nice. You've undervolted a fair bit. I do find it very helpful with battery saving and notice no ill effects of the undervolting performance wise. The reason you can see the original values in parenthesis is because I use Kernel Adiutor-mod. This is going to be necessary to use if you want to have access to a few new features I've recently added (a hotplug governor and a

[2017-08-03 17:34] Oleggluk commented on #21
@Spookcity Installed Kernel Adiutor-Mod [V15] [18JUL2016] , horrible, very unstable, reboots constantly, keeps the frequency at maximum.. On the same settings as before. went back to the old Kernel+Adiutor+v0.9.71.1 P(b239) No problems.

I here people from the forum wrote that he had problems with the version v3.0a-1.500 not saved changes, and some strange frequency 4294967МГц appeared. Screenshot

[2017-08-03 18:16] Spookcity commented on #21
@Oleggluk Hmm,very strange indeed. I have had this bizarre frequency a couple of times. I think it's just s bug in the build. I've always resolved it by uninstalling and reinstalling. I have no problems with the mod though in general. I guess its just another of those weird things.

I'm not sure how to go about having all the features I've added available then though. I've added msm sleeper hotplu

[2017-08-03 18:28] Oleggluk commented on #21
@Spookcity I did not notice any differences in the functions in Kernel Adiutor-Mod and the usual version. Basically, this is a graphical change and added the switch point of the selinux and disabling the log. There are no more differences.
No need to return to synapse.

[2017-08-03 18:35] Spookcity commented on #21
@Oleggluk Yes,you're right. There are no major differences...now,but I test both to make sure things are working properly and msm sleeper hotplug and the adjustments for the dynamic dirty writeback only show up in the modded version :(

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-03 18:48] Oleggluk commented on #21
@Spookcity And what about the v3a - 1500 kernel? There's something strange said. There was a frequency of 4294967MHz and settings do not apply.

[2017-08-03 18:48] Oleggluk commented on #21
When it's time I'll try Installed Kernel Adiutor-Mod [V15] again, maybe I did something wrong.

[2017-08-03 18:56] Spookcity commented on #21
@Oleggluk I can't say why the settings wouldn't apply with the modded version. I have no issues with this. The weird frequency I've had a few times. Not sure why this happens,but I've always resolved it fairly easily.
As you say,we will just wait until I add the features that don't show in kernel adiutor and then I'll worry about it and see if I can figure something out if the modded version is st

[2017-08-04 11:21] Mikahlo commented on #21
Because I'm lazy sometimes, I just do a global undervolt to -100. Especially in the lower frequencies I can't do more because the phone reboots in an instant. The darkness governor keeps the phone as long as possible in the low frequencies without sacrificing the overall smoothness.

![screenshot_20170804-130915](https://user-images.githubusercontent.com/28191436/28966490-c84c3358-7916-11e7-8569-f

[2017-08-04 14:52] Spookcity commented on #21
@Mikahlo Yeah, the governor really does play a part in how low you can set the frequencies. Darkness is a very conservative governor. I guess that's why you can't set the lower frequencies below 750 -775mV. I'm able to go to 675mV, @Oleggluk as well. However, I tend to stay around 700-725 as I've had a few reboots at 675. I use zzmoove a lot,but try to test a lot of governors out.

_Sent from my S

[2017-08-04 17:58] Oleggluk commented on #21
@jimmy999x Is there any news about Paranoid Android?

https://www.xda-developers.com/aospa-paranoid-android-interview-alex/

I have a small request, do not include in the firmware updates RR Magisk. Is this possible? The built-in Magisk is not very stable. Installing a new Magisk is not difficult through twrp. Thank you.

RR was updated to 5.8.4.

[2017-08-05 08:41] Spookcity commented on #7
**Slim 7 Changelog**
Changes from the last build (1.0) to 1.4

**1.4**

- Fixed the APN issue (needing to manually enter APN information)
- fw/base: PowerProfile: allow overriding default power profile
- hw/qcom/fm: Update colors and translations (LineageOS)
- apps/Bluetooth: Translation updates (LineageOS)
- apps/Settings: MSIM: Fix user set DDS sub in hotswap cases.
- apps/Snap: Translation upda

[2017-08-05 08:43] Spookcity commented on #2
I have updated Slim 7 from version 1.0 -> 1.4
**Download the ROM**   - [Slim 7.1.2 - Stable 1.4](https://www.androidfilehost.com/?fid=745425885120753540)
**XDA Thread**  - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-slim-rom-7-nougat-t3558926)
**Changelog** - [Changes](https://github.com/Spookcity/ROMS-G800F/issues/7#issuecomment-320430984)

[2017-08-05 15:54] Spookcity commented on #2
I've updated my kernel to v4.0. See the [XDA](https://forum.xda-developers.com/galaxy-s5-mini/orig-development/kernel-spookcitykernel-n-7-x-custom-roms-t3626015) thread for more details.

[2017-08-07 11:40] Oleggluk commented on #21
Check connection)

_Отправлено с моего Samsung SM-G800F с помощью [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-07 11:53] jimmy999x commented on #21
I do not keep that rom in xda, I only build it from time to time on request, but I suppose I can do that, as far as paranoid, I tried to build that rom and I still do not get results, anyway, I'll try to build those two roms today same.

edit 1: https://www.androidfilehost.com/?fid=961840155545587292 RR 5.8.4 already :)

[2017-08-07 17:05] jimmy999x commented on #21
![image](https://user-images.githubusercontent.com/21678167/29037299-708c4918-7b79-11e7-9a59-b0245b2c1bbe.png)
I get this error when I build aospa

[2017-08-07 17:35] Mikahlo commented on #21
@jimmy999x Thanks again for the RR! I'm using this from now on. Regarding XOSP: the developer plans to make a substratum theme in XOSP style. At least this something for later "nostalgia" ;)
@Oleggluk If you don't prefer magisk or it doesn't work, you can use the "addonsu-arm-signed.zip" from the lineage os download page. This package works in RR too (I tested it).

[2017-08-07 17:44] Oleggluk commented on #21
@Mikahlo Thank you. I'm using magisk. But I do not like how it works when it's built into the firmware. I install it myself.

[2017-08-07 18:26] Spookcity commented on #21
Everyone seems to love RR but me. I'm an outsider lol. Either way thanks for building!
About that AOSPA error. Interesting, it seems as if its failing to remove a file that's just not there. Not sure why. I can only guess that is has to do with their kernel build script. Maybe try to use the prebuilt kernel method like I've mentioned before on here. You can always grab the zImage from my kernel zi

[2017-08-08 06:09] jimmy999x commented on #21
I happen the same @Spookcity  almost all love RR, but I do not understand its magic, I prefer crdroid, I feel that its battery consumption is lower and its configurations are enough.
I have compiled an update of AOKP, I leave the link. ( On paranoid) I wrote what you left previously in Boardconfig.mk and I still get the same, you want to try? I lend you the VM
https://www.androidfilehost.com/?fid=

[2017-08-08 07:24] Oleggluk commented on #21
@Spookcity Attention, attention :D. Installed this version https://www.androidfilehost.com/?fid=673368273298974457, new settings for HotPlug appeared, you can configure the threshold for the increase in the number of cores. For example, at the frequency of the first 1200 kernel, the second core is turned on, when the second core of frequency 1300 reaches the third core is turned on .. Or I misunde

[2017-08-08 08:29] Spookcity commented on #21
@jimmy999x Thank you for the offer. I am super busy right now and for the next few days. Perhaps after that. I may just try to download and see on my computer. I'm honestly not sure how to fix that error though. I would have to do some searching. Also,thanks for updating AOKP. I will put the link in the main AOKP thread with your permission of course.

@Oleggluk Interesting,this is why I wanted to

[2017-08-08 08:51] Oleggluk commented on #21
@Spookcity "Do alucard and ondemandplus work properly on the standard kernel adiutor? Is it just this version they dont work with or both?"
I used different versions kerneladiutor, starting with the version from Google Play and ending with three more mods found on the Internet. These governors do not work correctly on all versions, they should regulate the frequency and the description is very goo

[2017-08-08 09:14] Spookcity commented on #21
@Oleggluk OK, thanks a lot for the info. I will look into this and see if I'm able to tune or fix these 2 governors.

Edit:
Yeah, they seemingly both just stay at the max frequency...Or at least stay there for too long. I only looked at it for a minute, but that is indeed not right

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 11:12] Mikahlo commented on #21
Everyone has a different taste. I don't love RR but it's a great ROM with (too) many features. But this ROM has the "accidental touch" already copied from PA which is indeed very useful. Regarding Kernel Adiutor mod: I don't use it anymore until an update appears or other free apps that are maintained are available.
@Spookcity You could also "just" implement Spectrum ([XDA](https://forum.xda-devel

[2017-08-08 11:37] Spookcity commented on #21
@Mikahlo Yeah, thanks for the suggestion about spectrum. I've already thought about this and looked into it some, but while I think it would be useful for some certainly due to it's simplicity. I don't like the idea of not being able to tweak things. Plus I'd have to create the different profiles. I'd need help with that as I don't really know, so in the end it just seems like it's not really wort

[2017-08-08 15:00] Mikahlo commented on #21
@Spookcity Alright I'm going to try the mod from @Oleggluk . Found another synapse in this thread ([XDA](https://forum.xda-developers.com/android/software/zip-ukm-reborn-unified-t3558888)) and will try this also. If this fails I will just make a script with some "essential" settings.

[2017-08-08 15:38] Spookcity commented on #21
@Mikahlo I've experimented with UKM. It's nice and works better than just synapse "out of the box" but without being properly setup it still fails reading many things.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-09 09:57] Mikahlo commented on #21
@Spookcity I've tested UKM and it does seem to work but looks really awful. The Adiutor Mod from the user BHB27 seems to be a normal mod version from Kernel Adiutor with some nice additions like the log stuff so that one is good. In addition to the 2 governors that behave strange I have another one: blueactive. This one locks the frequency at max. Ondemandplus locks at 800 MHz for me and alucard l

[2017-08-09 13:07] Spookcity commented on #21
@Mikahlo Yeah,I didn't really like UKM. I have opened the KA27 mod that @Oleggluk linked in android studio. There are what I believe to be profiles for about 10 different devices.I may try to see if I'm able to tweak or edit some things for our device. No promises on that as I'm not very experienced in app building,but its something I've been meaning to learn more about for awhile,so this may be t

[2017-08-09 16:13] Oleggluk commented on #21
@Spookcity What about support for zram in the kernel?

[2017-08-09 18:00] Spookcity commented on #21
@Oleggluk Yeah,I can certainly look into it and try to get that going. I'm definitely open to suggestions and ideas. As long as they add something useful to the kernel...Or at least don't cause issues.
I'll try to get a test build up over the weekend with some new features... And fixed alucard and ondemandplus governors, which I believe I've already fixed..Fingers crossed. Still gotta look into bl

[2017-08-09 18:14] jimmy999x commented on #21
Of course you can post the rom AOKP, I did that to share :)

[2017-08-09 18:23] Spookcity commented on #21
@jimmy999x Thanks! I figured as much,but didn't want to just assume. I'll do that tomorrow then. With proper credits given to you of course. Thanks again!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-10 12:06] Oleggluk commented on #21
@Spookcity The I / O "row" scheduler locks the phone. Helps only pulling out the battery or forced reloading with two buttons.

[2017-08-10 13:38] Spookcity commented on #21
@Oleggluk I was just getting ready to say that I don't have this problem..Until it happened to me. It was fine until my screen went off and then it locked up. I pulled the battery, restarted and it has been fine since with row I/O scheduler,so I'm not sure what to think. I'll certainly look into it, but it may be difficulty to track down as I can't seem to reproduce this now. Thanks for pointing i

[2017-08-11 10:52] Oleggluk commented on #21
@Spookcity Another modification of adiutor https://forum.xda-developers.com/showpost.php?p=70227707&postcount=2 made specifically for Exynos 5420 devices

[2017-08-11 13:26] Spookcity commented on #21
@Oleggluk Nice find! I will definitely give it a try.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-11 13:31] Mikahlo commented on #21
@Spookcity Some guy on xda mentioned random reboots. I have them too but so far only when the governor zzmove is set. The profile for this gov. doesn't seem to matter.

[2017-08-11 13:52] Spookcity commented on #21
@Mikahlo Thanks for the info. Perhaps it is zzmoove related then as the other person who was having random reboots was also using it also. I used to use zzmoove a lot,but haven't recently. I will certainly look into this. Thanks!

[2017-08-11 17:32] ghost commented on #21
@Spookcity I always use zzmoove (because you recommended it to me) and it works fine. I'm running v4.0 with AEX v4.3 and I haven't had any reboots, unlike others.

The battery life has been amazing by the way (considering the fact that our device's battery isn't huge), I got 4 hours of screen on time yesterday and I'll probably get 3.75 hours of SOT today.

You said you were using a different kern

[2017-08-11 18:12] Spookcity commented on #21
@StanNL I personally prefer zzmoove as well and have only switched recently just to test other governors...And fix some. I never had any issues with zzmoove either,but its been a couple of weeks since I've used it. I believe I've fixed the issues with alucard,ondemandplus and bluactive,so I will be going back to zzmoove. I'm curious if I'll have any reboots.

I also am very happy with my battery l

[2017-08-11 18:29] Oleggluk commented on #21
@Spookcity
![11 2017 212635 gmt 0300](https://user-images.githubusercontent.com/27913216/29226813-1c98a3fe-7edc-11e7-958e-93f6c1844d54.jpg)

[2017-08-11 19:12] Spookcity commented on #21
@Oleggluk I'd recommend not using that voltage. Haha
No,I have no clue what that's about. I have to guess its due to synapse not being setup properly and how it reads certain things. I'll double check my voltage table setup,but I think they are correct.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-12 07:43] HaxXorHardy commented on #21
Hi i got random restarts with this kernel: Spookcity_Kernel-N_v3.0a. I dont know why :(
Here is the logcat output:
[Log_2017-08-11_13-54-47_Part2.txt](https://github.com/Spookcity/ROMS-G800F/files/1219574/Log_2017-08-11_13-54-47_Part2.txt)
[Log_2017-08-12_06-43-30.txt](https://github.com/Spookcity/ROMS-G800F/files/1219575/Log_2017-08-12_06-43-30.txt)

[2017-08-12 08:23] Spookcity commented on #21
@HaxXorHardy Thanks for the log. Unfortunately fasthub refuses to let me view it so I'll need to have a look when I'm on my laptop later. It is strange that some have these random reboots. I bet I've had less than 5 in all of my builds and tests. I'm also using zzmoove as of last night again and no reboots.
Hopefully your log will have some useful info. I'll get back to you on that.

_Sent from my

[2017-08-12 08:59] Mikahlo commented on #21
@Spookcity Hola! Had another reboot. I'm not sure if I changed anything. Logs ect. are in my "repo". Maybe these reboots are ROM related?

[2017-08-12 09:11] Spookcity commented on #21
@Mikahlo  Thank you! A quick look at your log shows a kernel panic. I need to look more into it to see if I can find the exact cause,but hopefully I'm able. @HaxXorHardy  I saw nothing in your logs that showed me the reason of reboot. Hopefully @Mikahlo logs will show more more when I have the time to look closer. Thanks guys!

[2017-08-12 10:18] HaxXorHardy commented on #21
Is there a good tool to record logs without a PC?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-12 10:31] Spookcity commented on #21
@HaxXorHardy MatLog from the play store is very good. I think you can also copy logs (last_kmsg etc) within kernel adiutor.

[2017-08-12 10:49] Spookcity commented on #11
**AEX Changelog**

**AEX V4.5**

- Merge August security patch
- Merge latest CAF Tag in respective repos
- Add support for Snapdragon LLVM toolchain (SDClang)
- Add support for boost framework
- Add support for fling velocities
- Enable/Disable kill button on notification guts
- Improve SlimRecents
- Fix string derps
- Fix In-Call vibrations
- Animate icon while locking a task
- Fix Lockscreen sh

[2017-08-12 10:50] Spookcity commented on #2
I have updated AEX to v4.5

**Download the ROM** [AEX 4.5](https://www.androidfilehost.com/?fid=961840155545588256)
**XDA Thread** [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v3-3-t3573531)
**Changelogs** [Changes](https://github.com/Spookcity/ROMS-G800F/issues/11#issuecomment-321973751)

[2017-08-14 10:41] HaxXorHardy commented on #21
[log2.txt](https://github.com/Spookcity/ROMS-G800F/files/1221974/log2.txt)
here is blackscreen
[log.txt](https://github.com/Spookcity/ROMS-G800F/files/1221975/log.txt)
crashed after midnight

[2017-08-14 13:02] Spookcity commented on #21
@HaxXorHardy Thank you. I do appreciate you sharing the logs. I haven't had time to further investigate the other logs,but I will try to have a further look at those and yours later today or tomorrow.  Hopefully I'll find some useful info.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 15:53] Mikahlo commented on #21
@Spookcity Another reboot today, different ROM this time (AOSP extended). The kernel panic is there again. I only have the last_kmsg because I messed up. I found [SysLog](https://play.google.com/store/apps/details?id=com.tortel.syslog&hl=en) and will use this from now on.

[2017-08-14 16:57] Spookcity commented on #21
@Mikahlo Thanks again. I'll have a look probably tomorrow. Just really busy lately.
It's strange though I'm also using AEX for 3+ days now and have had no reboots or other issues. I believe @StanNL is/was as well with no real problems. Perhaps it's an app or something causing it for some. Hopefully the logs will show something I can use. Kernel panics or kernel oops tend to give a lot of info....i

[2017-08-14 17:05] Oleggluk commented on #21
@Spookcity I installed RR from scratch (from August 13). Installed Kernel Adiutor, restored the settings from the profile. And I had a lot of unexpected reboots during the day. I noticed that this happens at 1600, I have a voltage of 1200 at 1600 (previously it was stable), I added another 25 (it was 1225) and the reboot stopped. I will test further. I'm waiting for the test version).

[2017-08-14 18:04] Spookcity commented on #21
@Oleggluk Interesting,thank you for this info! Keep testing and please let me know your findings.
Test version hopefully will be up tomorrow or Wednesday. Stay tuned.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 20:44] Mikahlo commented on #21
Hey @Oleggluk ! If you want to try a (nearly) Paranoid ROM, try AOSPC. It has all the features from a Paranoid ROM including the theme engine. Thanks to @jimmy999x for a constant flasharoo :D

[2017-08-15 10:41] Oleggluk commented on #21
@Mikahlo This is a fake), I'm interested in the internal optimization of the paranoid android. And the additional settings I have enough in the RR.
@Spookcity @jimmy999x  I want want I want want :D https://www.xda-developers.com/art-submodule-for-aosp-7-1-2-adds-xposed-functionality-to-custom-roms/

[2017-08-16 10:35] Spookcity commented on #21
@Oleggluk  I was reading about this a some time ago. I thought about adding it to one of my ROM builds. I still may give it a go. I don't know. I've just really been lacking time lately and I think paranoid android will require too much work for me right now. I am hopefully going to create a new "test builds" issue later as this has gotten large and release a test kernel.

Ive been really busy,but

[2017-08-16 10:45] Oleggluk commented on #21
@Spookcity Do not waste time on the paranoid android, it's not that important. The last RR (from August 13) just works great. But support xposed would be very desirable to see (at least a test version of rom). And in the kernel I would like Zram support.
By the way, after I increased the voltage to 1225 at 1600, there was not a single random reset, everything works stably.

[2017-08-16 11:33] Spookcity commented on #21
@Oleggluk Glad to hear the kernel is working well again. I've been looking into ZRAM. There's a bit more to it than I originally thought,but I think I can manage. Won't be in this build. Maybe the next. If not that then as soon as I figure it out :)

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 12:56] Spookcity opened #22 "Test Builds #6"
A continuation of #10, #18, #19, #20 and #21

[2017-08-16 13:29] Spookcity commented on #22
**Spookcity_Kernel-N - Test v4.0a**

**Changes:**

- **Removed ROW I/O scheduler** ( until I can hopefully fix it)
- **Added I/O scheduler switcher by sultanxda** (changes the I/O scheduler for a specified request queue to Noop when the screen turns off in order to improve power consumption while the screen is off
- **Added PIE net scheduler**
- **Added support for USB keyboards** ( You need [This

[2017-08-16 13:31] Spookcity commented on #21
New test builds issue [Here](https://github.com/Spookcity/ROMS-G800F/issues/22) Also new test kernel.Please continue this there.

[2017-08-17 08:17] ghost commented on #5
I recently found a ROM named PixelROM and it looks really interesting: https://gitlab.com/GooglePixelROM
Does anybody know if it's possible to build this ROM for our device?
@Spookcity @jimmy999x

[2017-08-17 08:37] Spookcity commented on #5
@StanNL Hmm,well I just had a quick look. I tried to view their manifest to see where they were pulling some of their repos to get an idea of how difficult it may be,but it seems to be empty...Which would make it impossible to build. I'll have a look on my laptop later when I'm at home. Perhaps it's a phone issue..or I'm just not that smart :D

_Sent from my Samsung SM-G800F using [FastHub](https:

[2017-08-17 09:23] ghost commented on #5
@Spookcity Alright well there's no need to hurry whatsoever. The kernel test v4.0a (that's the latest one right?) works perfectly fine for me by the way

_Sent from my Google Pixel XL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 12:05] HaxXorHardy commented on #22
hi @Spookcity
i installed Beanstalk rom(newest)
then spookcit-kernel-4.0a
then gapps nano
then superSU
one after one with TWRP
Fresh install and it reboots after 3 mins of use.
is this correct sequence?
idk what is the fault :(

now i tried a fresh install:
First beanstalk rom
then the kernel.
it is still the same problem

here is the log from the second try.
[log.txt](https://github.com/Spookcity

[2017-08-17 13:31] Spookcity commented on #22
@HaxXorHardy Hmm,interesting. I'll try to have a look at the log when I'm home if I have some time. I've just been rather busy. The sequence your flashing sounds fine. I can only offer a quick suggestion right now,and that's to try and eliminate the cause one by one. So,only flash the ROM. See how it goes. Then maybe flash gapps and so on. You may be able to at least figure out the cause like that

[2017-08-17 13:32] Spookcity commented on #5
@StanNL Yeah,v4.0a is the latest kernel. Glad to hear its going well so far. Let me know if you have any issues.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 15:44] ghost commented on #5
@Spookcity It's still working great as ever!

_Sent from my Google Pixel XL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 13:19] HaxXorHardy commented on #22
It is after flashing the kernel. But idk what the reason is. I use the newest twrp  and only flashed Rom and kernel like the logs in my first comment they are only Rom and kernel.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 13:55] Spookcity commented on #22
@HaxXorHardy Just had a quick look at your logs. Sorry I was busy yesterday..but is/was your device encrypted? I only ask because this is the only thing that really stood out to me in the logs
"Cryptfs : Cannot remove dm-crypt device"

[2017-08-19 07:32] HaxXorHardy commented on #22
@Spookcity Yes it was encripted but i flashed the Stock rom cause i got a realy strange error:
![14985081336574](https://user-images.githubusercontent.com/1397712/29484555-83527fd0-84c1-11e7-8852-7c376402098c.jpg)
after press "reset Phone" it loads twrp and trys to delete data cache etc(default settings)
the only posibility was odin mode cause twrp was not able to mount the partitions.

Do you thi

[2017-08-19 09:37] Spookcity commented on #22
@HaxXorHardy I do think it has something to do with it yes. If it is fully due to that I'm unsure.
I'm trying to think of a solution that you haven't already tried and don't really know off the top of my head. I'll have to give it some thought. Perhaps someone else has an idea?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 11:49] HaxXorHardy commented on #22
@Spookcity i dont know how this works, but maybe repartitioning vor deleting this thingy is an Option? I have not tryed any solution, cause I never had any problems wit this. Hmm maybe encript end decript again?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 13:05] Spookcity commented on #22
@HaxXorHardy I will be honest,I really am very unsure and don't want to give you bad advice. It's a strange issue. Hopefully someone else has some clue because I really don't. If not,maybe post the issue on XDA? Maybe someone there can help. I've never messed with encryption on a phone in any way, so yeah I'm not very qualified to answer this.

_Sent from my Samsung SM-G800F using [FastHub](https:

[2017-08-20 08:39] Spookcity commented on #22
Hey can anyone test the intelliactive CPU governor for awhile? I was getting random reboots with the last test version of my kernel. I had not messed with voltages or much else. I have since switch CPU governors and its yet to happen. Just curious if anyone can confirm this. Thanks!

[2017-08-21 17:41] Mikahlo commented on #22
@Spookcity I did just that, see my repo for logs with intelliactive. Do you need a dmesg or modem log? I had the random reboot once with zzmove and profile 4 also. The logs are kind of useless I guess. Isn't there a way to get a more precise log of what happened when the os crashed?

[2017-08-21 18:25] Spookcity commented on #22
@Mikahlo Thank you very much! I will have a look hopefully tomorrow. I've just been lacking time recently to look into this further. I've also grabbed a log from my reboot with intelliactive. Again,kernel panic. No surprise. It might have to do with me changing the HZ to 300 from 100...or a suspend thing. Intelliactive def seems to be the cause though. I've not had a single reboot until using it.

[2017-08-23 00:44] jimmy999x commented on #22
Good evening everyone, I have not been around for a long time, I have been busy, I have a big question, I have seen that bliss rom and lineageos already started working with version 8.0, when they think that it is ready for our device? I speak of the source code, I am anxious to test android 8.0

[2017-08-23 07:31] Spookcity commented on #22
@jimmy999x  Yeah,I noticed this as well. I had a look at SlimROMS 8.0 manifest and at this point they are only pulling the AOSP repo's. Same with Lineage. They are pulling some of their own,but they are all 14.1. So until this changes I see no point in even attempting a build....which I believe is going to be full of problems for our device sadly :(

[2017-08-23 16:10] jimmy999x commented on #22
why? Some incompatibilities?

[2017-08-23 17:02] Spookcity commented on #22
@jimmy999x Well,with every new release there are changes that will nearly certainly require at least some changes to the device trees. From what I've read about Android O there are some rather significant changes. This could be a challenge. Tobias aka hennymcc is the one who has fixed and created the majority of the fixes and patches for the trees. It's not an easy thing to do and requires lots of

[2017-08-24 00:54] jimmy999x commented on #22
Unfortunately not being programmed in android, but if I can collaborate with a server so that they can perform their tests and others, it has good compilation times and also internet connection

[2017-08-24 14:13] Spookcity commented on #22
@jimmy999x Thanks,that is certainly appreciated and could be useful. I'm not sure. For myself I am still in the very beginnings of learning java and cpp,so it would probably be very difficult..or at least exceptionally time consuming for me to do it. Hopefully hennymcc has plans to work on it at some point. I'm not sure,but I would also understand if he doesn't as it is really time consuming.

_Se

[2017-08-27 13:34] Spookcity commented on #22
**Spookcity_Kernel-N - Test v4.0b**

This is attempt number one to try to solve some of these random reboots that some,myself included,are experiencing with the last build. Apologies for taking so long to try and get this resolved. I've just been very busy.Hopefully this will have some effect as I'm not too sure what step 2 will be at this point. I guess looking into suspend related things.

**Cha

[2017-08-29 10:37] Spookcity commented on #2
I have updated AICP
**Download the ROM** [AICP 12.1](https://www.androidfilehost.com/?fid=961840155545591815)
**XDA Thread** [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aicp-12-1-nougat-t3565009)
**Changelogs Can be found within the ROM - Settings ->Aicp Extras -> Changelog**

[2017-08-30 07:55] hard-sat commented on #22
RR-N-v5.8.4-20170813-kminilte-Unofficial
Spookcity_Kernel-N_v4.0b-1500mhz (v3.0a, v4.0a, v4.0b)
kerneladiutor-update-Quark.44.BHB27-Mod or Kernel+Adiutor+v0.9.71.1P(239)
new frequency, it is impossible to change tension of frequencies ((
v3.0 have no new frequency
![screenshot_20170817-221202_](https://user-images.githubusercontent.com/28715316/29861126-de71db56-8d70-11e7-9bc8-8b2e5c8550b4.jpg)
I

[2017-08-30 08:46] Spookcity commented on #22
@hard-sat Hmm, I have no clue why this would be. No one else has reported this to me and I have no issues. I have used a few different versions of kernel adiutor as well. I'm not sure what to say. I will try the 1500MHZ version and see. I have not tested these. Perhaps I messed something up.

Edit:
Also,that bizarre frequency seems to be "normal" I'm not sure why,but I have had that a time or two

[2017-08-30 09:59] hard-sat commented on #22
and v.3 perfectly works!
something is badly changed in the version of century v.3a and, as a result, the subsequent versions.
I thank

[2017-08-30 11:42] Spookcity commented on #22
@hard-sat You are right. It's only the 1500MHZ version,but changing voltages indeed does not work with version 4.0b..Probably the last few versions as well. I obviously messed something up. I will try to fix it when I have some time.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-30 15:18] Mikahlo commented on #22
@Spookcity No random reboots with Spookcity_Kernel-N - Test v4.0b. I guess you reverted the correct commits. I didn't mess with kernel-adiutor at all. So I was using the default settings. The battery lifetime is great like the previous versions. I will try other governors the next days and hope for the best :)

[2017-08-30 15:43] Spookcity commented on #22
@Mikahlo Great news and many thanks for the feedback! Hopefully this will be behind me now so I can release a stable v5.0 on XDA and work on other test builds to release on here.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-09-01 13:43] Spookcity commented on #2
I released v5.0 of my kernel on [XDA](https://forum.xda-developers.com/galaxy-s5-mini/orig-development/kernel-spookcitykernel-n-7-x-custom-roms-t3626015) It is the same as test version 4.0b. I fixed the voltage control on the 1500mhz version...I think.

[2017-09-01 18:18] hard-sat commented on #22
**Spookcity**, THANKS for Spookcity_Kernel-N_v5.0-1500, everything perfectly works and tension changes))
and it is possible to make FM-radio also? worked on the Android 4... ))
I thank))

[2017-09-01 18:29] Spookcity commented on #22
@hard-sat Glad to hear the voltage control is indeed fixed. As far as FM radio. A month or more ago I tried very hard to figure this out. I even downloaded the KK kernel sources to try to build the module.I tried a few different radio apps,but none would work. I have to say I think FM radio for our device is a lost cause.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/stor

[2017-09-01 18:31] hard-sat commented on #22
it is a pity, I thank))

[2017-09-01 18:34] Spookcity commented on #22
@hard-sat I agree,it would be nice. I'm just not real sure what else I can try. Perhaps if I have some free time I will revisit it. Maybe I can think of another idea.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-09-01 18:41] hard-sat commented on #22
very pleasantly to communicate with you, good luck, I thank))

[2017-09-01 19:06] Spookcity commented on #22
@hard-sat Same to you :)

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-09-01 19:17] hard-sat commented on #22
we wait for your grandiose decisions! ))

[2017-09-02 17:48] hard-sat commented on #22
**Spookcity**, hello. I read on XDA about complaints to unauthorized resets with your kernel.  I had such problems too. I updated the program of the modem. My resets ended. The program of the modem is updated separately programs of system. Can do it and will help ))

[2017-09-02 18:03] hard-sat commented on #22
[Basebands / Modems] SM-G800F](https://forum.xda-developers.com/galaxy-s5-mini/general/baseband-sm-g800f-t3354355)
maybe will help))

[2017-09-02 18:57] Spookcity commented on #22
@hard-sat  Hey,thanks a lot! I always appreciate the help. I'm not sure if that's the issue for them or not,but it could be. I will mention it to them.Thanks.

[2017-09-09 21:37] jimmy999x commented on #22
I've noticed that hennymcc is working on LOS 15.0, that's very good news! :) When I have time, I will try to compile some test version for you

[2017-09-10 08:10] StanNL commented on #22
@jimmy999x That would be amazing!! That way, we could also help henny a little bit by testing everything. I'll volunteer as a guinea pig :)

[2017-09-10 17:22] StanNL commented on #22
@jimmy999x Henny just made some "fix compilation" (?) commits, which will probably make the compilation easier, so good luck!

[2017-09-13 08:28] Spookcity commented on #22
It is indeed great news that Tobias has started to work on Android O for our device. We are very lucky. At this point,last I heard he has successfully got it to build,but it doesn't boot. I've been lacking the time lately to do much of anything android related,but hopefully soon I will try to see if I'm able to lend a hand in some small way.

_Sent from my Samsung SM-G800F using [FastHub](https://

[2017-09-16 19:56] jimmy999x commented on #22
![image](https://user-images.githubusercontent.com/21678167/30515529-eab6b606-9aff-11e7-98e9-e44091f6a8d4.png)
I can not compile roms, for this problem, any ideas?

[2017-09-17 12:01] Oleggluk commented on #22
I understand correctly, the development of RR for android N is discontinued? https://plus.google.com/communities/109352646351468373340
@jimmy999x
Could you, when will be the time, make the final version?

[2017-09-17 18:13] jimmy999x commented on #22
yesterday I tried to compile roms for the s5 and s5 mini, but due to the recent changes that were made, I could not do it, apparently I have to discard some commits

[2017-09-17 18:29] Spookcity commented on #22
@jimmy999x The error you posted earlier I would assume could be fixed by finding that permissions.xml file...Or you could comment it out wherever it's called for (BoardConfig.mk,device.mk) Not sure what that file does specifically though,so it could cause issues if done this way.

On a side note: I finally had some free time today. I successfully built crDroid 8.0,but as with LOS 15 it doesn't boo

[2017-09-19 05:53] Spookcity commented on #11
**AEX Changelog**

**AEX V4.6** FINAL

- Merge September security patch
- Merge latest AOSP Tag
- Merge latest CAF Tag in respective repos
- New AospExtended bootanimation
(Credits:https://plus.google.com/+ManuelMöllmann)
- Fixed adaptable storage
- Fix memory leaks
- Add support for more boost frameworks from Paranoid Android
- Improve fingerprint scanner performance
- Allow user to add or remove

[2017-09-19 05:55] Spookcity commented on #2
I have updated AEX to v4.6. This is the final Nougat release.
**Download the ROM** [AEX 4.6](https://www.androidfilehost.com/?fid=745425885120763621)
**XDA Thread** [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v3-3-t3573531)
**Changelogs** [Changes](https://github.com/Spookcity/ROMS-G800F/issues/11#issuecomment-330436929)

[2017-09-19 13:19] friedensfurz commented on #22
@jimmy999x Can you please update RR?  Thanks:grinning:

[2017-09-20 07:46] Spookcity commented on #2
I have updated AICP
**Download the ROM** [AICP 12.1](https://www.androidfilehost.com/?fid=961840155545597310)
**XDA Thread** [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aicp-12-1-nougat-t3565009)
**Changelogs Can be founf within the ROM - Settings ->Aicp Extras -> Changelog**

[2017-09-21 18:08] Spookcity commented on #22
@friedensfurz If @jimmy999x  is too busy and doesn't have the time I may have the time to try to build an update for RR over the weekend or early next week.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-09-22 17:44] jimmy999x commented on #22
Sorry guys, I do not have the same time as before, lately I'm very busy with the university

[2017-09-23 11:06] friedensfurz commented on #22
@jimmy999x No problem, take your time. @Spookcity might build RR when he has some time:grinning:

[2017-09-24 08:33] Spookcity commented on #22
@friedensfurz i indeed will build an update. Things have been pushed back some due to me working on LOS 15 (which Tobias has now posted up on XDA) So, I will try to get RR updated later in the week....As well as a new test build of my kernel.

[2017-09-25 13:32] Spookcity commented on #22
Well,I found a little time to build RR,so here ya go. AFH won't let me log in,so I have put it on my GDrive for now. I will probably add it to the main RR XDA thread too at some point as Zocker added me as a contributor.

[RR-5.8.5-FINAL](https://drive.google.com/open?id=0B_rGv18gTmnVYXhJOTdERGpOeFk)

[2017-09-25 21:14] HaxXorHardy commented on #22
please update Beanstalk rom! i love this rom it works perfect for me! <3<3<3

[2017-09-26 03:41] Spookcity commented on #22
@HaxXorHardy I am going to build an update for slim today. Then Beanstalk will be my next build.

[2017-09-26 07:57] HaxXorHardy commented on #22
@Spookcity ty you are the best! :heart_eyes:

[2017-09-27 04:02] Spookcity commented on #7
**Slim 7 Changelog**
Changes from the last build (1.4) to 1.11

**1.11**

- fw/base: Don't disable GPS prematurely
- fw/base: PrivateStorageInfo: Exclude primary physical volume total space
- hw/qcom/audio-caf/msm8916: Merge caf/LA.BR.1.2.9_rb1.24
- hw/qcom/audio-caf/msm8974: aenc-aac: bounds checking
- hw/qcom/media-caf/msm8916: Merge caf/LA.BR.1.2.9_rb1.23
- hw/qcom/media-caf/msm8974: mm-video-v

[2017-09-27 04:09] Spookcity commented on #2
I have updated Slim 7 from version 1.4 -> 1.11
**Download the ROM**   - [Slim 7.1.2 - Stable 1.11](https://www.androidfilehost.com/?fid=745849072291676455)
**XDA Thread**  - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-slim-rom-7-nougat-t3558926)
**Changelog** - [Changes](https://github.com/Spookcity/ROMS-G800F/issues/7#issuecomment-332402582)

[2017-09-29 10:14] Spookcity commented on #22
@HaxXorHardy Beanstalk updated. Have a look at the main post on XDA for some important details.
[XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-beanstalk-7-nougat-t3585327/)

[2017-09-30 14:10] Oleggluk commented on #22
@Spookcity The calm before the storm? What awaits us in the new test version of the kernel?)

[2017-09-30 17:22] Spookcity commented on #22
@Oleggluk Yes, I have just spent my rather limited free time the last little while trying to help out as much as I'm able with some LOS 15 issues. I was actually going to release a test build today. I built it,but it throws an error while flashing about the image being too large for the boot partition. Which is strange,but I've obviously messed something up. I will try my best to look into it and

[2017-10-03 11:24] Spookcity commented on #22
**Spookcity_Kernel-N - Test v5.1**

**Changes:**

- **Added MSM Sleeper hotplug**
- **Reduced vm_swappiness from 60 to 20**
- **Added intellidemand governor**
- **Added autoSMP hotplug**
- **Added CPU boost driver**
- [**Proc: much faster /proc/vmstat**](https://github.com/Spookcity/android_kernel_samsung_kminilte/commit/f131b7bbb5e82401486e479fb15120874428a285)
- [**Cpufreq: Persist cpufreq time

[2017-10-03 16:02] hard-sat commented on #22
here and problem with Spookcity_Kernel-N_v5.1-1500mhz
tension on 1500mhz isn't regulated ((
![screenshot_20171003-184823_1](https://user-images.githubusercontent.com/28715316/31135292-36199ac6-a86d-11e7-8b41-5071168e6c97.png)
help please, I thanks

[2017-10-03 16:56] Spookcity commented on #22
@hard-sat Ugg,sorry about that. This is the same problem as with the last 1500mhz version. Hopefully I can remember how I fixed it. I have been pretty busy,but will look into it and release a fixed version as soon as I have some time.

Edit:
@hard-sat I think I have fixed this issue. The new build is in the same post above. Hope it works now.

_Sent from my Samsung SM-G800F using [FastHub](https:/

[2017-10-04 06:28] hard-sat commented on #22
this problem is solved, we wait for updates, I thank ))

[2017-10-05 09:25] friedensfurz commented on #22
@spookcity With 5.1, still Crashes within minutes :( I really think it's a F2FS problem, can you / somone try to use this kernel with data and cache as F2FS? Thx

[2017-10-05 10:26] Spookcity commented on #22
@friedensfurz Hmm,that's a shame. Thanks for letting me know. I have been really busy lately with real life things and the limited free time I've had has been spent trying to sort out some audio issues with LOS 15. I'm not really sure what I would have done to cause this problem. Particularly with F2FS. I will need to have a look into. Which I will when I have the time.

_Sent from my Samsung SM-G

[2017-10-05 12:17] Oleggluk commented on #22
@Spookcity Los15 is interesting. Calls already working? I tested the prealph version a little. And what are the problems with sound? I remember there the music played well. I also noticed a lot of settings for bluetooth in the developer parameters, but there was no way to check it.

[2017-10-05 13:57] Spookcity commented on #22
@Oleggluk Yes,Tobias fixed the ril problem,so calls work now. Sound was working fine,but something has changed and no longer works. I've tried many things to try to figure this out (reverting things,applying found patches etc.) with no luck so far. It's very confusing. I'm sure Tobias will figure it out though when he has the time.

_Sent from my Samsung SM-G800F using [FastHub](https://play.googl

[2017-10-05 15:34] vonico commented on #22
so what is working and what isn't now in LOS 15? I have a bit of free time and I could install again Linux and try to build to see what's (not) working now

[2017-10-05 15:50] Spookcity commented on #22
@vonico The only thing that doesn't work in my testing and useage is audio (ringtones, music player,etc) Phone calls work fine now. Audio worked before,but no longer does for some reason. I've given myself a headache trying to sort that out,so I've taken a break. I'm sure its something simple that I'm just overlooking. Tobias is away,but I'm sure he'll figure it out when's he's back if I'm unable.

[2017-10-06 11:24] Spookcity commented on #2
I have updated AOKP
**Download the ROM** [AOKP 7.1.2.](https://www.androidfilehost.com/?fid=817906626617936710)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aokp-nougat-t3570088/page4#post72117523)
**Changelogs can be found within the "ROM Control" app**

[2017-10-06 12:40] vonico commented on #22
@Spookcity great!
Can somebody build LOS 15? I am too busy to do it myself this weekend and would like to at least try it out!

[2017-10-06 14:49] Spookcity commented on #22
@vonico I've built LOS15 many times in the last few days. Luckily I have sorted out the audio problem and have built yet again.
You can test it out no prob: [lineage-15.0-20171006-UNOFFICIAL-kminilte](https://drive.google.com/open?id=0B_rGv18gTmnVQ0I4Y2FFVjZJZEU)

Edit: I also applied a patch for home button wake as it was driving me insane hah

[2017-10-06 15:14] vonico commented on #22
@Spookcity already downloading
Thank you very much! 😊😊

[2017-10-06 16:46] Oleggluk commented on #22
@Spookcity @vonico
Does anyone have problems with memory on los15? Applications do not see memory and a memory card. The camera also does not see the memory.

[2017-10-06 16:58] Spookcity commented on #22
@Oleggluk Interesting. The camera, you are right,has a problem with picking it up. The camera still needs more work. My internal and external card are picked up fine though other than the camera.

Edit:
I need to test more. I've not tried many apps. I now understand what you're saying. I will test this out later as I'm currently away,so I'm using another ROM.
Feedback like this is very good though

[2017-10-06 17:03] Oleggluk commented on #22
@Spookcity My any installed applications do not see memory and a memory card.

Редактировать: I'll now try to make a complete format with the removal of all files

[2017-10-06 17:06] Spookcity commented on #22
@Oleggluk Yeah,I realized that's what you meant after I read your post better. I don't think I tested this,so this may indeed be an issue. I'll flash it later,test and grab a log and go from there. Thanks for reporting

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-06 17:30] Oleggluk commented on #22
@Spookcity A complete deletion of all files from the phone does not help. Applications do not see memory or write that there is no access.

[2017-10-06 18:12] Spookcity commented on #22
@Oleggluk OK,this explains the camera issue then. I guess it's a system wide issue. Did you have this problem when you tested the build on XDA?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-06 18:19] Oleggluk commented on #22
@Spookcity I did not use this version for a long time, as there were constant reboots. But then I managed to install x-plore and from it a couple of applications., So x-plore saw the memory.

[2017-10-06 18:48] Spookcity commented on #22
@Oleggluk OK,yeah the reboots were caused by a kernel issue that Tobias fixed. I'll try to look into the storage issue soon though.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-06 22:35] vonico commented on #22
@Spookcity my camera also says to insert an sd card before being able to use it, although I have one.
I also have trouble restoring my whatsapp chats backup, but I guess that doesn't have that much to do with the ROM though...
other than that, everything else is working really smoothly and without any issues at all :)

That said, I do miss some personalization options such as locking the lock scre

[2017-10-07 07:56] Oleggluk commented on #22
@Spookcity People are asking to make the kernel support TTL fixing. Some operators block the distribution of the Internet, but there are instructions on how to get around this. But the kernel must support the fixation of ttl.
Quote: "On the operators of the Big Three, as well as Tele2, in contrast to the Iota TTL must be fixed, not changed.
And it's on 64, and it's on the distributing. Others do n

[2017-10-07 08:51] Spookcity commented on #22
@Oleggluk Yeah, I don't know much about this,but thanks fro providing the info. I will certainly look into it. It sounds rather easy from what you wrote.

@vonico Yeah.I am going to try to look into this storage issue later. LOS 15 is still in the early days,so it is missing a lot of features. I built AICP 13 as well,but it is simply LOS 15 at this point. In time more things will come.

[2017-10-07 09:06] Oleggluk commented on #22
@Spookcity Is AICP 13 also a memory issue?

[2017-10-07 09:24] Spookcity commented on #22
@Oleggluk Honestly I'm not sure. I didn't test it. I would assume so though as it must be a device issue. Hopefully I'll have a little time later today to see about this.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-07 09:58] Oleggluk commented on #22
@Spookcity I have a lot of time today, I can check if you give me a link

[2017-10-07 10:27] Spookcity commented on #22
@Oleggluk I don't have the AICP build any longer. I still have the sources though,but I was talking with Tobias and his build (the one on XDA) does not have the problem with memory/storage. That may make it easier. Either I just did something wrong...A new patch that has been added since his build or perhaps the sources have caused this issue. I think its more likely one of the first 2. I am going

[2017-10-07 12:55] Spookcity commented on #22
@Oleggluk Any particular apps that don't detect storage? Aside from the camera. I would like to test. I tested the browser and it was not a problem.

[2017-10-07 13:01] Oleggluk commented on #22
@Spookcity for example, the x-plore file manager does not show partitions of internal and external memory at all.

[2017-10-07 13:04] Spookcity commented on #22
@Oleggluk OK thanks,I just installed MiXplorer and indeed same thing.

Edit: Well kinda. It doesn't show the internal or external storage,but if I click to show images or audio for example,it displays everything correctly.

[2017-10-07 13:12] vonico commented on #22
@Spookcity I tried downloading a pdf and it also told me that no sd card was detected.
Also in whatsapp, I get an error when downloading pictures, besides from not being able to restore the backup I made...

[2017-10-07 13:14] Oleggluk commented on #22
@Spookcity It's strange, the system sees well the memory and the memory card, extracts the memory card without problems, all the volume readings and the names are correct., But somewhere something prevents the applications from seeing the memory and writing to it. I hope it will not be difficult to fix it

[2017-10-07 13:16] Spookcity commented on #22
@vonico OK,thanks for the info. Interesting. I downloaded something via the browser app and had no issues.

@Oleggluk You are exactly right. This is exactly whats happening. I will mess with it a little more and see if I'm able to sort it out.

[2017-10-07 15:08] vonico commented on #22
@Spookcity good luck! When you come up with a new build I'll be ready to try it out! :)

[2017-10-07 15:10] Spookcity commented on #22
Alright,well I was unable to solve this yet. Its a strange issue. I have downloaded many things via the browser without issue. There's certainly something strange about it,but the logs didn't really show anything. I'm off for now,but if anyone can get any useful logs of the problem,particularly WhatsApp or similar that'd be great and I'll gladly have a look and try some other things tomorrow.

_Se

[2017-10-07 16:02] Oleggluk commented on #22
@Spookcity But the program for logs can not save it as it will not see the memory)). Do I have to do this via adb on my computer? What commands need to be entered in adb for the correct log and how to save it in txt?

[2017-10-07 16:14] vonico commented on #22
I got a logcat when downloading a picture in Whatsapp and another log when downloading the file in chrome
[logcat_whatsapp.txt](https://github.com/Spookcity/ROMS-G800F/files/1366246/logcat_whatsapp.txt)
[logcat_chrome.txt](https://github.com/Spookcity/ROMS-G800F/files/1366247/logcat_chrome.txt)

EDIT:
idk if this is related, but I also see these lines quite often in the log just with the phone plu

[2017-10-07 16:41] Spookcity commented on #22
@vonico Many thanks! The lines you posted are not relevant to this issue I don't think. I'll have a look at your logs when I'm home later. Thanks again!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-07 16:48] vonico commented on #22
@Spookcity I think this one is more detailed:

[code]

[2017-10-07 19:13] Spookcity commented on #22
@vonico Thank you! I am not really sure what to think though. Your chrome log didn't show anything. The only thing that stands out to me in the Whatsapp logs are the OkHttpClient warnings. I'm unsure if this is the problem though. I was able to download things fine with the stock browser. I will try chrome and see what happens. I will also try to search about the memtrack errors. This seems to be

[2017-10-07 20:26] vonico commented on #22
Hmm strange..
Maybe changing the permissions in recovery explorer fixes it?

[2017-10-07 21:10] Spookcity commented on #22
I don't think that would fix it. I tried a few things via adb shell,but that didn't work either. I'll try to look more into it tomorrow if I have time. Its weird that it's not all apps though. Like the default browser works fine,but obviously Chrome,WhatsApp and the camera do not.

_Sent from my Samsung SM-G800 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-08 07:39] hard-sat commented on #22
all are silent, and I also did not note a problem ((
in Spookcity_Kernel-N_v5.1-1500mhz the problem with tension is solved, BUT new frequency 4294967 appeared again ((
help please!!! I thank
![screenshot_20171008-101719_](https://user-images.githubusercontent.com/28715316/31314881-58b42ac4-ac14-11e7-8adb-b05fe9b10c0a.png)

[2017-10-08 10:46] Spookcity commented on #22
@hard-sat I guess I messed something up with the steps or something. I am rather busy,but will see if I can fix it soon.

[2017-10-08 11:40] Spookcity commented on #22
So this storage issue with LOS 15 appears to be an sdcardfs problem. I have successfully download stuff with Chrome and my storage now shows up in MiXplorer as well. This was achieved by disabling sdcardfs. This is not a proper fix though.

[2017-10-08 12:17] Oleggluk commented on #22
@Spookcity Want Want )

[2017-10-08 12:24] vonico commented on #22
@Spookcity I think with this "fixed" I can use this as my main ROM. Thank you very much

[2017-10-08 12:30] Spookcity commented on #22
@Oleggluk Haha,sure thing. [Here you go](https://drive.google.com/open?id=0B_rGv18gTmnVM0U5dTB2Mm94X2c)
Again,this is only a temporary workaround and not really a fix. Also,the camera is again broken. Not sure why. I'll need to see. Maybe I missed a patch.I would assume Whatsapp will also work with saving things now as well,but curious to hear as I've not tested. Maybe it cause other issues. I'm a

[2017-10-08 13:04] Oleggluk commented on #22
@Spookcity WhatsApp and Camera are working! If there are no serious errors, I will test all day.

[2017-10-08 13:08] Spookcity commented on #22
@Oleggluk Great! Thanks for letting me know and would gladly appreciate any other findings you may notice. Thanks!

_Sent from my Samsung SM-G800 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-08 15:32] vonico commented on #22
@Spookcity camera does indeed not work, but the rest works fine. I restored the whatsapp backup without problems and now I'm back at the build from a couple of days ago.

[2017-10-08 15:38] Oleggluk commented on #22
@Spookcity
wi-fi works.
Mobile Internet works
The fingerprint scanner does not work.
G800 phone model without F
The GPS Status & Toolbox application v7.6.163 writes that there is no gps on this device))
The recorder works, and on the screen recording takes off.
Magisk 14 works, root is.
The camera works, but the photo size is very small.
Sound works, music plays, online music also works.
In genera

[2017-10-08 15:43] vonico commented on #22
@Oleggluk I tried the google camera and for me it doesn't work

[2017-10-08 15:47] Oleggluk commented on #22
@vonico
The standard camera and Snap Camera HDR work for me

[2017-10-08 17:54] Oleggluk commented on #22
That's not on time .. An official xposed came out for Android N https://www.xda-developers.com/official-xposed-framework-android-nougat/

[2017-10-08 18:35] Spookcity commented on #22
@Oleggluk and @vonico Thanks a lot guys. It is very helpful! Most of these issues I knew about. I didn't know about the photo size though. The camera doesn't work for me on the last build,but I'm not overly concerned as I think that I may have made a mistake. I'm not real sure what the status of GPS is. I'll have to look at the device tree and talk to Tobias.
As far as Xposed for Nougat: Go figure

[2017-10-08 19:09] vonico commented on #22
@Spookcity about GPS. in the build from a couple of days snapchat gets the signal and provides me the filters without issues, so I guess it works. Google maps also recognizes my location without any problems, so location is working here

[2017-10-08 19:28] Spookcity commented on #22
@vonico Hmm,interesting. Thanks. So I guess it does work. At least to some extent. That's good. I'm sure there are still issues to be resolved with it though. In time.

_Sent from my Samsung SM-G800 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-09 08:27] Oleggluk commented on #22
@Spookcity At night for 9.5 hours the charge decreased by 4%, this is a good result.
Los 15 is already quite stable. But since there are still very few settings, I can not use it every day. After RR, I do not have one million) settings. I return to RR and will experiment with xposed). Thank you, you are going in the right direction).

[2017-10-09 09:10] Spookcity commented on #22
@Oleggluk Great to hear! Those are def good results. Tobias is back and he already has a proper fix for the storage issue becasue he is a ninja hehe. It seems as if not a lot is happening with LOS really. They have not done too much in the last little while,so I don't know whats going on with that. Hopefully they will start adding things in the near future though. Time will tell.

[2017-10-09 17:46] jimmy999x commented on #22
Greetings to all, I have a query, I bought a Samsung galaxy j7 (2016), excellent device, but unfortunately does not have any rom aosp, I would like to build from 0 device tree, some advice or tutorial?

[2017-10-09 18:18] Spookcity commented on #22
Hey @jimmy999x good to see  you around. I hope all is well. As far as your question: I only know of one way to do this,and that is to find a device (or 2) that is as similar as possible to the J7 that already has working device trees. Then you can use that as your starting point. Obviously you can't use their proprietary blobs,but you can extract those from your device with [This](https://github.c

[2017-10-09 21:40] jimmy999x commented on #22
a developer is working for this device, but I would like to do a job on my side, to learn a little more

[2017-10-10 07:15] hard-sat commented on #22
**Spookcity**, our great teacher, help please, let's complete Spookcity_Kernel-N_v5.1-1500mhz, good luck to you, and all the best))
I thank

[2017-10-10 08:32] Spookcity commented on #22
@jimmy999x Gotcha,well I think the best way is to do what I mentioned...At least it's the only way I know. You will def learn some things if you go this way as it will certainly not be easy.

@hard-sat I will try my best to work on fixing the bizarre frequency with the 1500mhz kernel this week or over the weekend. I cannot promise as I have been rather busy,but I'll try to find some time.

[2017-10-12 14:40] Spookcity commented on #22
**AEX-4.6 Highly Optimized with most apps  removed**

This was really only meant as a personal build,but I have decided to share for those who use this ROM and would like to give it a try. **This is not an update to AEX 4.6** I will not be building anymore updates for this ROM. This is simply as the title suggests,a very optimized build with nearly all apps removed. On to some info:

**Uber toolch

[2017-10-12 15:18] jimmy999x commented on #22
thank you so much, I'll try both

[2017-10-12 15:40] Oleggluk commented on #22
@Spookcity It is intriguingly written. Also try this version))

[2017-10-12 16:24] Oleggluk commented on #22
@Spookcity How in AEKS-4.6_UBERTC8.X-DTC5.0 write sms? :D

[2017-10-12 16:41] Spookcity commented on #22
@Oleggluk Haha,yep,no messaging app either as I always use a 3rd party app. Usually textra. You can easily grab the default messaging app from another ROM though.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-12 16:52] Oleggluk commented on #22
@Spookcity I already pulled out the application for sms from RR. I can not understand how you like this firmware? Advanced settings resemble Windows 98))). Can you do the same with RR? Applications that I can remove myself, but optimize all sorts of fashionable ones, too. Magisk is better not to build into the firmware, it often has a beta version and it's easier to put it separately.

[2017-10-12 16:58] Spookcity commented on #22
@Oleggluk Hah,well we will have to agree to disagree :D AEX is by far my favorite ROM. There's just something about it. It has all of the customization options I need and it runs fantastically for me. Even the "standard" version.
That's the reason there are so many different custom ROM options available though, because we all have different likes and tastes.

Edit: I perhaps can try to do a RR bui

[2017-10-12 17:14] Oleggluk commented on #22
@Spookcity All these additional settings are in the RR and also work fine and it looks better)). Tastes are different, but I still do not understand).
It will be great if you can also do RR. I think we still have a long time to use it, since on the 8 android RR will probably only next year (.

[2017-10-12 18:01] Spookcity commented on #22
@Oleggluk I'll certainly look into it. Yeah,there is no O/8.0 branch for RR. I was kinda surprised as most ROMS already have one. Perhaps you've read something and it will indeed be next year.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-12 18:11] Oleggluk commented on #22
@Spookcity It's just my assumption that something stable will not be until next year.
I restored my applications, made the settings, applied the theme .., now if I do not go into advanced settings, this disk can not be distinguished from RR)). I will give him a chance), I will test a few days if I do not find serious problems for me.

[2017-10-12 18:27] Spookcity commented on #22
@Oleggluk Hehe,yeah give it a try. I do really like AEX. I think you're probably right about RR. I mean if they've not even started on the Oreo repo I think it will indeed be some time.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-13 11:04] Oleggluk commented on #22
@Spookcity And where did the system profiles go?

[2017-10-13 11:34] Spookcity commented on #22
@Oleggluk No system profiles on AEX. Some may not like this. I personally do as I never use the profiles.

[2017-10-13 11:41] Oleggluk commented on #22
@Spookcity I just recently started using system profiles on the RR. During wi-fi activation, the network mode was switched to E, when wi-fi was turned off, the network mode was switched to 4G, it is very convenient and economical. And in AEX there are no profiles and there is not even a quick setting for switching the network (this is minus (

[2017-10-13 11:57] Spookcity commented on #22
@Oleggluk Ahh,I see. This would be useful in that situation. I never fully understood using system profiles,but for a situation like that it does indeed make sense and sound useful.

[2017-10-14 11:49] Oleggluk commented on #22
@Spookcity I do not know how you did it, but it's an absolute record for all three years of using this phone.
![screenshot_20171014-144248](https://user-images.githubusercontent.com/27913216/31575400-dbcbe558-b0ee-11e7-9d31-13189c42065c.png)

[2017-10-14 12:34] Spookcity commented on #22
@Oleggluk Wow, I assume this is battery? That is indeed great! I also have very good battery life on AEX in general,but it is also better for me with my "optimized" build. I can't really say why. I suppose just some of the build flags must improve it in some way...Or I accidentally discovered something when I needed to edit some of the code to build with these optimizations and toolchains :D

[2017-10-14 12:40] Oleggluk commented on #22
@Spookcity "@Oleggluk Wow, I assume this is battery?"
This is more than 9 hours of screen work on AEKS-4.6_UBERTC8.X-DTC5.0 with my usual use. Such a result was never on one firmware. Now I have a new favorite among the firmware))

[2017-10-14 12:55] Spookcity commented on #22
@Oleggluk That is really amazing results! I will have try check my battery more closely. I just know that I do have great battery life with this ROM....I told you to give it a chance hehe

[2017-10-15 16:41] Oleggluk commented on #22
@Spookcity And the memory of the calendar (com.providers.calendar) for what purpose left? It also works only with the standard calendar. Or do you need something else?

[2017-10-15 16:59] Spookcity commented on #22
@Oleggluk I think,but may be wrong that it was needed for another package to build correctly. There was some reason I left it,but can't specifically remember right now. I think that's what you're asking. If not sorry :D

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-15 17:02] Oleggluk commented on #22
@Spookcity understandably thank you. Any interesting news about Los15 or more?

[2017-10-15 17:18] Spookcity commented on #22
@Oleggluk I've been using LOS 15 for about a week. For me it runs very nicely. The big things that still don't work that I know are NFC,GPS and video recording. I don't think Tobias has made any recent commits to the device repos,so if I have some time this week I'm going to try to lend a hand and see if I can at least figure one of those out. Everything else works great for me.
Then I'm going to

[2017-10-16 07:57] Oleggluk commented on #22
@Spookcity Oh yeah, I saw a little on the other phone AEX v5 alfa, they are working on it. There even there are a few additional settings). Only translation into Russian is almost not (.But I think in the future they will make a translation.) Also it would be interesting to try a super-duper)) version of you as a version of AEKS-4.6_UBERTC8.X-DTC5.0

[2017-10-16 12:56] Spookcity commented on #22
@Oleggluk Yeah,I downloaded the AEX sources yesterday. Maybe sometime this week I will try to build and see how it goes. Also,I will certainly try to do an optimized build of an oreo ROM at some point.

@hard-sat I think and hope I have corrected the strange frequency issue on the 1500mhz version of my kernel. Could you let me know if its fixed so I can upload this version to XDA and start working

[2017-10-16 13:48] hard-sat commented on #22
Everything is great !!! I THANK !!!  )))

[2017-10-16 15:05] Oleggluk commented on #22
@Spookcity Ever wondered about the re-partitioning of memory? The system partition on the stock firmware takes 5GB! And on custom firmware about 1GB. Whichever patch to do, to return part of the system partition to the Data section. I hope after the translation of my idea is clear))

[2017-10-16 15:41] Spookcity commented on #22
@Oleggluk I do understand what you're saying. I've honestly never thought about this,but you're correct about the huge amount of space that the stock firmware uses. I can certainly look into it. Its an interesting idea. If it's possible I can't say. If you come across anything interesting related to this please do share. I'll try to search a bit when I have some time.
I assume it would involve cre

[2017-10-16 16:41] Oleggluk commented on #22
@Spookcity I found one topic where there is a lot of information and instructions about it. But it is in Russian (http://4pda.ru/forum/index.php?showtopic=544998). There are a lot of instructions for different processors, but unfortunately I did not see anything for our processor ((., When I have time I'll look more closely.

[2017-10-17 06:40] Oleggluk commented on #22
@Spookcity There is nothing useful for Exynos processors to markup memory.
The only phrase with a mention is this:
"Users of smartphones based on Exynos processors are less fortunate - they will have to develop a kernel with already re-allocated memory."
And I also looked in Titanium Backup, that in the system section 2.11gb and freely only 1.37gb. Internal memory + media 12.7gb. We have nothing t

[2017-10-17 07:05] Spookcity commented on #22
@Oleggluk Haha.ok. Thanks for the info though. It was an interesting idea...I suppose for other phones. It's something I had not thought of before.

[2017-10-17 07:20] Oleggluk commented on #22
@Spookcity One fat minus in AEX is. I just can not install ViperFx. Swears at not working / not suitable BusyBox. I installed different versions of BusyBox in different sections and different ways. I installed ViperFx in many ways, from the usual apk to installing exclusive archives through twrp. Does not want to install / run the driver ((. Is this a common AEX problem or only an optimized versio

[2017-10-17 07:52] Spookcity commented on #22
@Oleggluk Interesting. I always use viper as well,but haven't installed it recently as I've been jumping from ROM to ROM. I'm sure I've installed it on AEX before and I don't see why it would be an issue... On the "normal" version or the optimized version. I will try to install it later and see if I can figure out what the problem might be..Oh,you do mean Viper4Android right? Or is this something

[2017-10-17 07:57] Oleggluk commented on #22
@Spookcity Yes, I'm talking about Viper4Android)
I've never had problems with it on other firmware before.
I will wait for results.

[2017-10-17 07:59] Spookcity commented on #22
@Oleggluk OK,thanks. That would indeed be an issue for me as well cause I use it too. Will report back later today with my findings.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-17 09:04] Spookcity commented on #22
@Oleggluk OK,I had some time.. You are correct it will not install saying a busybox error. I thought that I may have messed something up with my optimized version of AEX,so I tried the standard version. Same error. I am really unsure what the deal is. I also tried a few different versions of busybox without success. There is also a Magisk module for viper,but I kept getting a "process error" when

[2017-10-17 09:28] Oleggluk commented on #22
@Spookcity Ok. I will know that this is not only my problem. I already broke my head with this. I hope this can be fixed.

[2017-10-17 11:41] Spookcity commented on #22
@Oleggluk

![](https://i.imgur.com/Z1eG5z6.png)

OK, I got it working. I forgot,I always use [A.R.I.S.E.](https://www.google.nl/amp/s/forum.xda-developers.com/android/software/r-s-e-sound-systems-auditory-research-t3379709/amp/)
This will install V4A and the driver. The thread is kinda a mess and its not the easiest to install as you need an arise.prop so it knows what to install. Plus there are m

[2017-10-17 11:50] Oleggluk commented on #22
@Spookcity There, the devil himself will break his leg. I need help). Wow! 300MB. I did not understand, are these modules for Magisk? I refused the Magisk modules, because after the activation of any module, the ability to edit the system and programs working with the system is limited.

[2017-10-17 12:08] Spookcity commented on #22
@Oleggluk I think there is a magisk module,but I don't use that. I think the 300mb is for a full install. Could be wrong though,but there are many possible things to install. I install core,viper and viper profiles only. It really is a nice sound mod,just a bit confusing. To make it even more exciting I you need to dirty flash your ROM again. Then flash ARISE. I will post my arise.prop along with

[2017-10-17 12:19] Spookcity commented on #22
@Oleggluk Ok,download [This file](https://drive.google.com/open?id=0B_rGv18gTmnVbzVlVEJneExVamM) and place it in the root of your internal storage. This will only install the core and V4A and V4A profiles. I installed the latest build from [Here](https://androidfilehost.com/?w=profile&uid=24549084345925777) "ARISE+Magnum+Opus+20170918+Stock+Edition.zip" The zip can go anywhere on  your phone,but i

[2017-10-17 12:28] Oleggluk commented on #22
@Spookcity  God, how is it all difficult, I already got a headache)). Thank you! without you I would never understand.

[2017-10-17 12:37] Spookcity commented on #22
@Oleggluk Hah,you're most welcome. The thing with ARISE is that the XDA thread is more confusing than anything. It is really not layed out very well at all and then people keep posting different versions on every page. Its a mess. Let me know if you need more help. I am glad to try.

[2017-10-17 12:59] Oleggluk commented on #22
@Spookcity Oh yeah! working! everything is super! and profiles are interesting. Generally elegant! Thank you!!!

[2017-10-17 13:12] Spookcity commented on #22
@Oleggluk Great! Glad to hear. I've used ARISE for awhile now..off and on and really like it. Always glad
 when I'm able to help out as well

[2017-10-17 14:19] Oleggluk commented on #22
@Spookcity In the theme of Los14.1 there was today an assembly with some patch: "Build contains latest wpa_supplicant patches." What is this patch? Too I want))

[2017-10-17 14:36] vonico commented on #22
Hey @Spookcity
I just saw there is a new Oreo branch in AEX's github. Do you think you will have time this week to look into it and possibly build a test ROM? I'm excited to see this ROM being updated :)

[2017-10-17 14:36] Spookcity commented on #22
@Oleggluk Hmm,I haven't read anything about this. I'm unsure what that's all about. I'll have to do a bit of research. I would have to assume its a security patch as I think the main purpose of the wpa_supplicant is to control keys and other things related to the WiFi driver.
What else the patch would be for I've no idea.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/stor

[2017-10-17 14:44] vonico commented on #22
Hey @Spookcity
I just saw there is a new Oreo branch in AEX's github. Do you think you will have time this week to look into it and possibly build a test ROM? I'm excited to see this ROM being updated :)

[2017-10-17 15:53] Spookcity commented on #22
@vonico I hope so. It is in my plans to try to build this week or over the weekend. Not sure how easy or hard it may be. I will post it here first,so stay tuned!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-17 16:59] Oleggluk commented on #22
At AEKS-4.6_UBERTC8.X-DTC5.0, one thing annoys me. For security purposes, the "install" button is not active in this firmware when there is a filter on top of the screen or any information is displayed on top of all windows. I rebuilt PackageInstaller.apk and disabled this protection. I did it for myself, but it's still possible for somebody else to interfere. Download and replace PackageInstaller

[2017-10-17 18:06] Spookcity commented on #22
@Oleggluk That's fantastic! Thank you! I will give this a go.

Update:
It works great. Good job and thanks again @Oleggluk

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-18 14:11] Oleggluk commented on #22
Someone uses a fingerprint. I found this module "Fingerprint Scanner Booster" for magisk. It increases the priority of the fingerprint process in the system. Hah, maybe it's a coincidence, but for the whole day I did not have any problems with the fingerprint, it works great. I would like to have someone else try it, especially if someone has trouble working on a fingerprint. To see if it really w

[2017-10-18 16:55] Spookcity commented on #22
@Oleggluk That's a nice find! I don't use the fingerprint scanner so I can't really test...or at least I wouldn't notice a difference if I did.
After just a quick glance at the link you posted about the module it seems as if this could be implemented in the kernel. I'll have to read through that a bit more though.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/d

[2017-10-19 08:18] Spookcity opened #23 "Test Builds #7"
A continuation of #10, #18, #19, #20 ,#21 and #22

[2017-10-19 08:21] Spookcity commented on #22
I've update my kernel on XDA to v6.0 (same as 5.1) Hopefully over the next few weeks I have the time to look into adding ZRAM,possibly implementing the fingerprint boost that @Oleggluk has found,along with other that ideas I have.

Also,lets continue this over [Here](https://github.com/Spookcity/ROMS-G800F/issues/23)

[2017-10-19 18:22] Spookcity commented on #23
Small update on Android O ROMS:

I built AEX 5.0 and it doesn't boot :(
The logs show that it's related to graphics. I suppose I will need to try to edit the device trees more to get this working. Hopefully I'll figure something out over the weekend.

Update II:
After spending much time debugging and trying to figure out why it wouldn't boot,I have succeeded in getting it to boot. Sadly there are

[2017-10-21 12:21] Oleggluk commented on #23
@Spookcity Hi). Recently I notice that on other smartphones many praise ViperOS firmware, that it is very fast, smooth, economical .., compared to popular RR, AEX, Los .. Advanced settings at AEX level. If there is time, it might be worth a look.
https://github.com/ViperOS-Project

[2017-10-21 14:58] Spookcity commented on #23
@Oleggluk Sure thing. I enjoy trying out different ROMS. As soon as I hopefully get AEX 5 working properly I will d/l the sources and give building it a go.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-22 10:51] Spookcity commented on #23
Well,after a fair bit of work I finally believe I've succeeded in building a working version of AEX 5.0. The device name is also fixed now thanks to Tobias. Along with some other commits he has made to the device repos recently. If you would like to give it a try:
**Download** [AospExtended-v5.0-kminilte-20171022-0529-ALPHA](https://drive.google.com/open?id=0B_rGv18gTmnVSEFXYnl2QkZDSDQ)
![screensh

[2017-10-22 11:05] Oleggluk commented on #23
@Spookcity I can not resist, I want to try). Are there any serious problems?

[2017-10-22 11:09] Spookcity commented on #23
@Oleggluk None that I've noticed. Everything I've tried works as expected. No reboots are anything like that. I think it runs very smooth. I will say that it also at this point lacks many customization options though.

Edit:
Also,This is what the WPA_supplicant patches are for. I somehow just came across it yesterday.
[Link](https://www.google.nl/amp/s/www.xda-developers.com/wpa2-wifi-protocol-vul

[2017-10-22 11:23] Oleggluk commented on #23
@Spookcity Oh, interestingly interesting, but through this vulnerability you can crack the wi-fi password? I hacked almost all the neighbors using wifislax, but there are a few that are strong guys).

[2017-10-22 11:36] Spookcity commented on #23
@Oleggluk Hehe,yeah something like that. I'll be honest I haven't read enough about it. I need to dig a bit deeper to get an full understanding of it. I just know,Android wise that all 8.0 ROMS should have this patched.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-22 13:45] Oleggluk commented on #23
@Spookcity An access point works on AEX5. And on AEX4.6 does not work, the devices can not connect. Can I fix this in 4.6?
In AEX5, the video does not work. There are no button settings. No translation of additional settings, But it works well. Someday it will be for daily use, but not now.

[2017-10-22 14:30] PRO100GREEK commented on #23
@Spookcity In LOS15 I could change a view of icons. In AEX 5 I can't do that. Can you add this simple feature in ROM?

[2017-10-22 16:42] Spookcity commented on #23
@PRO100GREEK Hmm,not fully sure what you mean. There are icon settings from within the launcher settings though . Might not be what you mean though. Either way, I am going to wait until AEX 5 is farther along to start thinking about adding anything. All Android O ROMS it seems are moving slowly...at least by comparison to MM.

@Oleggluk I didn't know access point didn't work in v4.6. It's not real

[2017-10-22 16:53] PRO100GREEK commented on #23
@Spookcity I meant that
![screenshot_20171022-194508](https://user-images.githubusercontent.com/29138248/31864231-b7bcfcd6-b762-11e7-9128-8580762efefc.png)
In LOS15 I found this settings in options of pixel launcher. In AEX5 I didn't find that in options of pixel launcher
sorry for tautology

[2017-10-22 18:08] Spookcity commented on #23
@PRO100GREEK  I assume this screenshot is from AEX 5 and you've found it? If not the same settings are available by long pressing on the home screen and then selecting settings.

Also, @Oleggluk  What do you mean by video not working? It works for me. Do you mean video recoding?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-22 18:11] PRO100GREEK commented on #23
@Spookcity this screenshot is from LOS15. I restored my ROM

[2017-10-22 18:18] Spookcity commented on #23
@PRO100GREEK Oh,well those same settings are available in AEX 5 as well. Just checked.

Also,I use nova launcher,but if you like pixel launcher I would give this a try. I've used it for a bit and its really nice.
[Lawnchair](https://www.google.nl/amp/s/forum.xda-developers.com/android/apps-games/lawnchair-customizable-pixel-launcher-t3627137/amp/)

_Sent from my Samsung SM-G800F using [FastHub](ht

[2017-10-22 18:29] PRO100GREEK commented on #23
@Spookcity ok. I'll try it as soon as I can

[2017-10-22 19:48] vonico commented on #23
@PRO100GREEK where are those settings? I am using LOS15 and can't find it...

[2017-10-23 04:11] PRO100GREEK commented on #23
@vonico they are in options of pixel launcher
I use this version of launcher - P-4275643

[2017-10-23 10:40] Oleggluk commented on #23
@Spookcity "Also, @Oleggluk What do you mean by video not working?"
In the standard camera, I have an error connecting to the camera when trying to shoot a video.

[2017-10-23 13:58] Spookcity commented on #23
@Oleggluk Ok,yeah this is one of the few remaining issues with 8.0 ROMS for our device. Tobias fixed GPS yesterday,so the only real issues I can think of anymore are the video issue,Bluetooth a2dp (audio) and SELinux. I think everything else is working now.

Also,I had a bit of time this morning so just for you: [ Viper-kminilte-20171023-Coral-v3.1.1-UNOFFICIAL.zip](https://www.androidfilehost.com

[2017-10-23 15:05] Oleggluk commented on #23
@Spookcity Thank you! for Viper, now I'll try.
  And what are the problems with selinux on the 8 android?

[2017-10-23 15:38] Spookcity commented on #23
@Oleggluk The SELinux problem is just that it cannot be set to enforcing without breaking things. This is no problem for me as I always use permissive,but I certainly understand some wanting/needing enforcing.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-24 06:36] Oleggluk commented on #23
@Spookcity Installed ViperOs, not bad, very similar to AEX, but there are also their buns. But I'm back on AEX, this is the only firmware where App ops correctly works . Another would be to fix the modem mode and it would be generally super. And the weather moved to the left side of the status bar).

I do not know how our mobile network works, but on the 4G the battery is discharged before our eye

[2017-10-24 08:29] Spookcity commented on #23
@Oleggluk I agree,very similar to AEX. The only thing I don't like is the lack of slim recents. I have a hard time using any ROM without this feature as I really like it.

You seem to have more knowledge of the mobile network than I do honestly. I can just say that I don't really have this issue on any ROM. I used to in the early days of MM I believe,but it's been some time. I can only guess that

[2017-10-24 08:46] Oleggluk commented on #23
@Spookcity Can you show a screenshot of the battery statistics when you use mobile Internet ?. And then I'm frustrated with my statistics, I have completely unlimited mobile Internet, but I can not use all its charms with the screen's work 4-5 hours (

[2017-10-24 09:24] Spookcity commented on #23
@Oleggluk Sure thing. Again, I never really like "study" this and who knows,perhaps its similar to yours. This was with no WiFi and only mobile internet for the last 2 hours or so. I can post another one later if you'd like.
Also,I'm running Viper right now.

![](https://i.imgur.com/QwAQg9e.png)

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fasta

[2017-10-24 09:37] Oleggluk commented on #23
This is not accurate data, as in the interval there was a charge.
Here are my statistics:
![screenshot_20171024-123126](https://user-images.githubusercontent.com/27913216/31935650-05fa5f46-b8b8-11e7-8ef5-b0eeaf22be6f.png)Only wi-fi 1 hour 43minutes of the screen. basically reading the forum 4PDA.
Now I'll switch to LTE and see the statistics change in a few hours.

[2017-10-24 10:10] Oleggluk commented on #23
For 18 minutes of the screen, minus 5% of the charge on 4G, and the further, the faster the discharge will be.
![screenshot_20171024-130455](https://user-images.githubusercontent.com/27913216/31937189-5ed2a93a-b8bc-11e7-9441-de2e1d84a187.png)
When using WI-fi, during the same time, 1-2% would be discharged

[2017-10-24 10:32] Spookcity commented on #23
@Oleggluk Hmm,interesting. I honestly don't know much about this. Its been awhile since I've had battery problems,so I've not really looked at it much recently. I can post another screenshot later though if that's at all helpful.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-24 10:39] Oleggluk commented on #23
@Spookcity I think nothing can be done. In principle, I already resigned myself to this.
Is there any idea how to fix the modem mode? It seems to work, but other devices can not connect, hang or authenticate or get an ip address, it does not go any further.
Maybe some file needs to be replaced from another firmware. Or the values of any change ..

[2017-10-24 11:05] Spookcity commented on #23
@Oleggluk I do not know. Its something I can try to look into some though when I have some time.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-24 11:36] Oleggluk commented on #23
@Spookcity What is this for?
 https://forum.xda-developers.com/showpost.php?p=74276306&postcount=1474

[2017-10-24 12:05] Oleggluk commented on #23
@Spookcity I'm not strong in logging., ., But maybe this will help fix the modem mode.
10-24 14:48:46.065 D/wifi    (3267): set interface wlan0 flags (UP)
10-24 14:48:46.066 I/WifiHAL (3267): Initializing wifi
10-24 14:48:46.066 I/WifiHAL (3267): Creating socket
10-24 14:48:46.073 E/WifiHAL (3267): Could not find group vendor
10-24 14:48:46.074 I/WifiHAL (3267): Initialized Wifi HAL Successfully;

[2017-10-24 12:44] Spookcity commented on #23
@Oleggluk Hmm,well that patch just adds modem support. Highly unlikely that this is causing your problems. There are certainly errors within your log. I'd be lying if I said I fully understood them though. I'll try to do a little digging later.

Edit:
I did do some looking into your log with not a lot of success other than a few things I already assumed..The rfkill error is no problem,nor are the

[2017-10-25 07:49] Oleggluk commented on #23
@Spookcity I last night tested the latest Los14.1 and 15, no problems with the modem mode, the devices are connected well. And I re-read the topic AospExtended on xda, about the problem with wifi hotspot began to write a very long time (https://forum.xda-developers.com/showpost.php?p=71580876&postcount=50) and then it continues. It never worked on this AEX firmware.

[2017-10-25 09:29] Spookcity commented on #23
@Oleggluk Well that's good then. Good catch about the hotspot on AEX too. I had completely forgotten about that as I don't think anyone mentioned it in awhile and I very rarely use it.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-25 10:03] Oleggluk commented on #23
@Spookcity What good is that?)

[2017-10-25 12:00] friedensfurz commented on #23
@Spookcity Hey, does SafetyNet work with Magisk on Android 8 ROMs? Magisk Hide can hide the Permissive SeLinux status, so it would be interesting if someone could try that out ;)

[2017-10-25 13:25] Spookcity commented on #23
@Oleggluk Haha,I guess I just meant it was good that things were working on LOS and its not an issue with your phone or something,but your right,that doesn't help with AEX at all :D Weird it works on 5.0 but not 4.6.

@friedensfurz

![](https://i.imgur.com/1vEiMPX.png)
This is from AEX 5.0,but it's obviously going to work in LOS15 as well.

_Sent from my Samsung SM-G800F using [FastHub](https://pl

[2017-10-27 11:30] tester-02 commented on #23
@Spookcity would you be so kind and update AEX 5.0? I'm lovin it ;-)
Is it possible to use your kernel with that rom?

[2017-10-27 14:30] Spookcity commented on #23
Hey @tester-02 I've been using AEX 5.0 most of the time recently and I like it as well. If time allows I am hoping to build an update for it over the weekend. I will probably create a thread on XDA as well.
I tried my kernel on it and for some reason it doesn't boot. That will be one of my next things to try to get going,making the kernel compatible with 8.0 ROMS.

_Sent from my Samsung SM-G800F u

[2017-10-28 13:46] Spookcity commented on #2
I have done a fresh build of AEX 5.0 and created a thread on XDA
[XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v5-0-t3696001)

[2017-10-30 06:17] jimmy999x commented on #23
![image](https://user-images.githubusercontent.com/21678167/32157177-ad4a3a52-bd20-11e7-8c22-698bf3e6772b.png)
when I use make j4 otatools I get this problem, I try to create a device tree from 0

[2017-10-30 08:35] Spookcity commented on #23
@jimmy999x I think,but could be wrong that you now need to set "build_ota_package" to true. I suppose this could be done in the BoardConfig.mk or device.mk. I've not tried so I'm not 100% though.

[2017-10-30 14:22] MikeTeh commented on #23
@Spookcity Hello, I've some questions, with Kernel v6.0 settings in gouvener/ hotplug going back to default after reboot, any ideas for this? Tried 'zzmove', after reboot 'interactive' is back, for example.
AEX 8.0 also needs the new TWRP from Oreo LOS Thread in XDA?
Last question, sorry for this, is it possible to update Resurrection Remix Nougat with last security patches in next weeks?
Thanks f

[2017-10-30 15:23] Spookcity commented on #23
@MikeTeh Hey there. I'll try to answer your questions.
1. I'm not real sure what would be causing your settings to not stay. Are you using kernel adiutor,kernel adiutor-mod or something else?

2. You do not need the latest "Oreo" TWRP to flash AEX 5.0. It will flash fine with an older version as there is no asserts check.

3. Hmm,maybe. Are we positive that RR has updated their repos with the late

[2017-10-30 18:45] rendev97 commented on #23
After a couple of hours of work, learning how to use github, I made this device tree, what else should I do or how should I continue? https://github.com/rendev97/android_device_samsung_j7xelte

[2017-10-30 19:47] MikeTeh commented on #23
Thanks for your quick reply @Spookcity

1. I'm using kernel adiutor from playstore for kernel control, but i have HEBF 2.0.1 also installed ( [(https://forum.xda-developers.com/android/software-hacking/hebf-tweaking-battery-saver-optimizer-t3401341] , there was an update with a new app version in the last weeks for HEBF).
With kernel v5.1 everythings worked fine for me.
I'm not the only one,  ther

[2017-10-31 06:26] Spookcity commented on #23
@rendev97 Man,thats tough. You are certainly missing things like the init file. Is this your device? [Github](https://github.com/jcadduono/android_device_samsung_j7xelte). If so you can use parts from that. Its for TWRP,but there are things there that would be useful. What are you trying to build? Android 8 or? There will be def changes that need to be made to the files from that link if so. Plus

[2017-10-31 16:15] tester-02 commented on #23
https://github.com/cm-3470/android_device_samsung_kminilte/commit/714522bba9a63f8f6a1dfb0fe7b9aaf678060ec3
I guess now only the SELinuxbug remains - what a great surprise how quick you devs adapeded oreo to our device - very big thanks!

Is there a way to inplement this last changes without building?

[2017-10-31 16:38] Spookcity commented on #23
@tester-02 Yeah,I saw this a bit ago. Tobias aka hennymcc is very good at this stuff. We are lucky.As far as implementing without a new build,I'm not sure I'll have to look at the commit a bit closer,but it was just changing permissions so this seems possible.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-11-01 01:47] MikeTeh commented on #23
@Spookcity , kernel settings works fine with kernel editor now.
Thanks for support and all your work for our device

[2017-11-02 07:27] Spookcity commented on #23
Hey guys,for anyone who would like to try out another 8.0 based ROM I have built **GZOSP** (ground zero open source project)

**Notes**
- This build has all of the newest device sources including the video recording permissions commit. However video recording,while it starts for me still does not work properly. At least with the stock cam app. I haven't talked to Tobias in a bit,but this could be

[2017-11-03 11:35] Spookcity commented on #23
OK,I have built an update for RR. It was a bit of a pain in the a$$ to be honest. It used to be just like building LOS/CM,but some things have apparently changed. As well as them joining the growing list of ROMS that refuse to build with zsh shell sadly. I spent a lot of time on that...trying to figure out why I was getting strange errors. Worked just fine with zsh a couple of months ago.Blah,sorr

[2017-11-03 16:54] MikeTeh commented on #23
Many thanks, I'll try it out today in the evening

[2017-11-04 01:46] MikeTeh commented on #23
First feedback -RR+gapps, clean install and it looks good, no issues at this moment for me. I think its OK, but I'll test some more..
..not now;)

[2017-11-04 11:19] Spookcity commented on #23
@MikeTeh OK,thanks. That's been my findings as well after a day of usage. All seems to work fine. Just wanted a second opinion because there were so many build issues.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-11-04 11:21] Oleggluk commented on #23
@Spookcity Do not worry about RR. I missed RR)), since yesterday I use, there are no problems.

[2017-11-04 12:12] Spookcity commented on #23
@Oleggluk Hehe,thank you! I'll go ahead and add it to the XDA thread later. This is possibly the longest I've ever used RR for and I must say,while still not my favorite ROM I like it a lot more than I used to.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-11-04 13:28] MikeTeh commented on #23
Works fine, think you can also add it in xda. Thanks a lot

[2017-11-04 15:48] friedensfurz commented on #23
Does Wifi work for you? My Wifi doesn't turn on anymore, also wiped system cache and dalvik..

[2017-11-04 15:54] Spookcity commented on #23
Thanks for the feedback guys.

@friedensfurz I've had no issues with WiFi on RR. Very strange that you have. I've no idea why that would be an issue for just you.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-11-04 16:35] vonico commented on #23
@Spookcity could you make a new aex build with the video recording fixed? I really like this ROM but I'm missing this 😊

[2017-11-04 19:19] Spookcity commented on #23
@vonico Well I certainly could. However,at least going off of my build of GZOSP video recording still doesn't work properly. I'm going to hopefully talk to Tobias and see what's up with it exactly. Because there is a chance that its only broken still on AOSP based ROMS. Either way,I hope to have some time tomorrow and I will try to look into this some. I will build an update for AEX as soon as I'm

[2017-11-06 06:41] Spookcity commented on #2
I've updated Slim ROM to v 1.16. It is the final update.

**Download** [Slim 1.16](https://androidfilehost.com/?fid=962021903579490415)

**Changelogs can be found** [Here](https://slimroms.org/)

[2017-11-07 19:22] vonico commented on #23
I don't know if this helps, but I can record videos using Snapchat and Instagram (camera doesn't crash), although the video in Snapchat then turns 90º and the sound is very high-pitched. Instagram just crashes when trying to save or upload the video, not to mention the lag of the video present on both apps when recording/watching it (although this may be because of the app itself)

[2017-11-08 07:34] Spookcity commented on #23
@vonico Hey thanks! That does seem like something that may indeed be helpful. I honestly have not had the time to try to look into this issue more...aside from checking various ROMs gerrit pages to see if anything somewhat related pops up. Hopefully soon Ill have more time. Thanks for the info!

[2017-11-11 19:32] Oleggluk commented on #23
@Spookcity There was a new kernel developer for our phone! https://forum.xda-developers.com/galaxy-s5-mini/development/kernel-lucky-t3703604
But there is no understandable description. What do you think about it?

[2017-11-11 20:08] Spookcity commented on #23
@Oleggluk Interesting. Yeah,there's not much in the XDA thread as far as a description. Looking over his git repo it doesn't seem as if he has added much,if anything to the kernel. It looked like he added some older commits mostly related to modules and keys. I couldn't find a download link though. I was gonna give it a try. It's def always a good thing to have more people developing for our devic

[2017-11-11 20:12] Oleggluk commented on #23
@Spookcity I also can not find the link to download. And yes, it's good that there is someone else, the more developers, the more ideas.

[2017-11-11 20:26] tester-02 commented on #23
For the download please have a look at the very beginning:
    Discussion
    Downloads
    Reviews
Just select Downloads
It took me a while too ;-)

[2017-11-11 20:30] Oleggluk commented on #23
@tester-02 Hahaha thanks. I've already stuck the whole screen and could not have found it without you.

[2017-11-11 20:32] Spookcity commented on #23
@tester-02 Ahh,thanks. I will try although I'm currently running a nougat ROM and if my experience with my kernel has told me anything it's that if his kernel boots on Oreo it probably won't on nougat. I've spent a bit of time trying to figure this out for my kernel.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-11-19 09:51] Spookcity commented on #23
**Another Oreo ROM - XenonHD**
I've really been putting off updating AEX or building any new ROMS until the video recording issue is solved,but I had some time yesterday and wanted to do a build. I tried to build Slim8,but their repo is still not ready for Android 8...So I instead built XenonHD. Just posting it here for anyone who sees this and wants to give it a go. I'll probably,once the video r

[2017-11-24 21:44] Oleggluk commented on #23
@Spookcity https://www.xda-developers.com/how-project-treble-revolutionizes-custom-roms-android-oreo/
It is very interesting! You should watch this. What do you think about this?

[2017-11-25 09:21] Spookcity commented on #23
@Oleggluk That is a really fantastic article! I knew and had read some about treble. My understanding was that it would help manufactures (Samsung,Sony,etc) release newer Android versions much faster due to them "skinning" pure Android and also their proprietary apps and such. I never really considered how this would effect custom ROMS. Very very interesting. As far as I understand it though this

[2017-11-25 19:10] Spookcity commented on #23
So,I've merged my N_custom kernel with my Android 8 kernel branch and it successfully boots on Android O ROM's. I thought everything was fine. Tested settings in kernel adiutor and all was well. Tested more for about 10 minutes. Seemed fine until the screen went off and I couldn't wake it. This happens repeatedly,so it's obviously a huge issue. Now it's just about finding the time to try and figur

[2017-11-27 10:20] Spookcity commented on #23
**FM Radio update**
There is work going on in the dev group by Tobias and another member regarding FM radio. They have already gotten much further than I was able to,so fingers crossed this may actually happen at some point.

[2017-11-27 11:11] Oleggluk commented on #23
@Spookcity Hah, and I believed that it was possible. keep us informed

[2017-11-27 13:26] Spookcity commented on #23
@Oleggluk I certainly will. It's def more complicated than I thought it would be.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-11-29 19:25] Spookcity commented on #2
I've updated AEX 5.0. Details and download can be found on [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v5-0-t3696001/page2#post74682228)

[2017-11-30 08:07] Oleggluk commented on #23
@Spookcity Hey. Is it difficult to implement for our smartphone? https://www.xda-developers.com/wireguard-vpn-project-support-android-roms/

[2017-11-30 11:42] Spookcity commented on #23
@Oleggluk That's interesting and seems like a pretty cool thing. It seems as if it can just be built as a kernel module. If so it should probably be as easy as downloading the source, editing the kernel config and building that specific module. I'd have to look into it a bit more though as I could be wrong. I'll try to see what I'm able to do with it when I have some time.

_Sent from my Samsung S

[2017-12-03 18:16] w3bservice commented on #23
@Spookcity
THX for AEX 5.0. Installiert without problems. A little thing is, wa and freindly cant play Videos.
With opencamera i can save video, no playback. In Linux downloaded from sdcard playback OK.

[2017-12-03 19:39] Spookcity commented on #23
@w3bservice Thanks for the feedback. As far as video playback. It also doesn't work for me in any browser or video player. There is a fix however,and that is to install Fenix46's [Lucky Kernel](https://forum.xda-developers.com/galaxy-s5-mini/development/kernel-lucky-t3703604)  It indeed fixes this problem. I have looked over his kernel repo and couldn't figure out what commit(s) fixed video playba

[2017-12-03 19:56] vonico commented on #23
I have the lucky kernel installed and didn't notice any improvements in video playback...

[2017-12-03 20:04] Spookcity commented on #23
@vonico Weird,for me video playback in browsers and in the video players that I've tried does not work with the stock kernel,but with his it does for me.
Still confused as to why after looking over his commits,but for me it solves those issues.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-12-04 18:33] w3bservice commented on #23
For the kernel Form fenix46, is there a flashable image for download
I would be test the aex rom at work, for my work i need Video playback for monitoring the datacentre.

[2017-12-04 19:44] Spookcity commented on #23
@w3bservice Not that I'm aware of,but you can just extract the boot.img from the kernel zip. I had to do this as it wouldn't flash with my TWRP build.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-12-05 18:32] tester-02 commented on #23
For the F-variant were a few stock rom updates published. With TWRP 3.2.0 the installation for the flashable basebands fails, with TWRP 3.1.1 it works. Any idea?

[2017-12-05 21:09] Spookcity commented on #23
@tester-02 Hmm,strange problem. I'm honestly not sure why it works with 3.1.1 but not 3.2.0. I'm not real sure on the changes. I just know there was one line of code needed to fix the flashing problem with LOS 15. I don't really think that's the problem,but idk.
I'll ask ayke and see what he says. Although I haven't seen him in the dev group for awhile.

_Sent from my Samsung SM-G800F using [FastH

[2017-12-14 00:07] vonico commented on #23
Any recent news? I installed the latest aex update last week and I realized the Bluetooth with speakers is buggy Everytime I turn on the screen, so I don't know if there are any updates regarding the video recording issue, or if an update with just the newest aex version (in case there is one) would be possible, but the BT and video issues asides, everything works as it should

[2017-12-14 05:42] Spookcity commented on #23
@vonico Glad to hear that most things are working as they should. No real news. The video recording issue has not been fixed and is still present on other devices as well,so I'm not real sure whats going on with that.
Most ROMS are transitioning to Android 8.1 (which doesn't build properly for our device yet last I tried. Partly because of the source repos I think and party because Google likes to

[2017-12-16 16:26] jimmy999x commented on #23
I have finished with my university period for now, I have a vacation, I can compile roms again, maybe not with the same speed as before, but I tried, greetings!

[2017-12-17 19:21] Oleggluk commented on #23
@jimmy999x
Hi). Well, I'm as always for updating RR))

[2017-12-18 05:47] Spookcity commented on #23
Hey @jimmy999x Nice to see you here. You contributions are always appreciated!

[2017-12-21 11:33] Oleggluk commented on #23
@jimmy999x
Something went wrong, the vodka was stronger. Studying at the institute is evil. Freedom is good.))

[2017-12-24 15:23] Oleggluk commented on #23
@Spookcity Is there any news about FM radio? Or more interesting news?

[2017-12-25 13:39] friedensfurz commented on #23
I have some Offtopic news but still - there's an Xposed module called NoDeviceCheck (https://github.com/pylerSM/NoDeviceCheck) which always returns true when testing SafetyNet, so you can even use Xposed or anything else and you will always "pass" SafetyNet ;)

[2017-12-25 19:54] Spookcity commented on #23
@Oleggluk I have no news to report Android wise whatsoever. The dev group has grown silent over the last few weeks,so I think (but could be wrong) that the state of FM Radio is that some things need to be edited in order to get it to work properly. One thing I remember was that it was defaulting to using the mic instead of the speaker. So thats one problem. They got fairly far with it though. I th

[2017-12-29 22:25] friedensfurz commented on #23
@Spookcity After some time, I decided to setup a Linux machine on my behalf but to build a Rom, I need some kind of a guide. Do you know of any guide (best for our phone)? Regards and enjoy your holidays ;)

[2017-12-30 09:47] Spookcity commented on #23
@friedensfurz Well,I don't specifically know of one for our phone,but there is [This](https://forum.xda-developers.com/chef-central/android/guide-android-rom-development-t2814763) While it is kinda old a lot does still apply. One big difference will be getting the needed dependencies installed if you're using a newer version of Linux. This is easily sorted with a quick search of  "setup android de

[2017-12-31 01:04] jimmy999x commented on #23
I hope I'm not late, use this method, it's the simplest, it's the one I use, regards! https://raw.githubusercontent.com/nathanchance/Android-Tools/master/Guides/Building_AOSP.txt

[2018-01-03 10:10] friedensfurz commented on #23
@jimmy999x @Spookcity Yeah, at the moment I'm busy with some real-life stuff, but when I have time the next days, I will take a look at the guides you mentioned - I'm sure they'll be of help ;)

[2018-01-05 23:25] friedensfurz commented on #23
Okay, thanks to both @Spookcity and @jimmy999x as well as hennymccs documentation the build of RR succeeded :grinning: . How long does building usually take? For me it took about 50 Minutes which is quite long in my opinion as I have a fairly good PC. Any suggestions on how to optimize the building speed? I already use CCHACHE with 100GB and Java VM Size with 30GB RAM :grin: Anyways, many thanks t

[2018-01-06 05:29] jimmy999x commented on #23
are very good times, I used google vm and had those compilation times, about 1 hour, but google blocked my debit card, now compiles roms in another way that takes much longer

[2018-01-06 07:17] Spookcity commented on #23
@friedensfurz Nice! Good job. I would say 50 minutes is a very good time. I don't think you will get much better times than that. At least theres nothing I can think of to achieve it. Although if that was your first build and it took 50 minutes,with ccache enabled the next builds will be even quicker. Building Android is very CPU and RAM intensive. You obviously have a very good PC. I'm not even g

[2018-01-06 12:49] Oleggluk commented on #23
@friedensfurz Where can I download the new RR?

[2018-01-06 12:53] Oleggluk commented on #23
@jimmy999x And I thought that you went into a binge))

[2018-01-06 16:49] friedensfurz commented on #23
@Oleggluk Yeah, the only problem is that I used "make clean" afterwards as the guides said it would be required for each rebuild, but it also removes the created ROM oops😁😁 Anyways, I will rebuild RR the next days when the 2018/01/05 security patch gets merged (btw @Spookcity how do I find out when RR merges that security patch?). At the moment its still at Dec 17 and I don't wanna build the ROM t

[2018-01-07 08:20] Spookcity commented on #23
@friedensfurz  The only way that I'm aware of to see when a custom ROM has included the newer security patches in their build is to check their changelogs. Perhaps there is another way and I am just unaware though. There is a chance that RR may not push the latest security patches to nougat though and focus solely on Oreo. I do doubt this however,but who knows.

As far as Arch Linux...Man I can no

[2018-01-07 21:34] friedensfurz commented on #23
@Spookcity I found an easy way how to find out a repos current security patch, Android Version, Platform Version etc:
Every repo like RR or lineage has a subrepo named "android_build", there is a file called "version_defaults.mk" in "/core" which contains all that info. Additionally there is a free website called changedetection.com which will email you when a selected website or file updates. So

[2018-01-12 09:20] Oleggluk commented on #23
On the Internet, a lot of discussions of the vulnerabilities Meltdown and Specter. How much is this dangerous for our smartphone and can it be fixed?

[2018-01-12 09:58] Spookcity commented on #23
@Oleggluk I looked into this some,but really only for patching my Arch Linux machine. From my understanding (it could be very wrong as I haven't read tons on it) is that while it effects Android as well it's not nearly as big of an issue. Again,I could be very wrong. I plan to try to look into how to patch my kernel for these issues,but I just haven't been able to find the time. I keep hoping and

[2018-01-13 13:30] JoeyCorleone commented on #23
@Oleggluk
[Google FAQ](https://support.google.com/faqs/answer/7622138)

It seems like the January security patch mitigates some of the possible attacks.

[2018-01-14 07:18] Spookcity commented on #23
@JoeyCorleone Thanks a lot for that info!

[2018-01-15 12:34] friedensfurz commented on #23
@Spookcity @JoeyCologne Yep, that's right, the only problem is that LineageOS didn't merge the January security patch yet

[2018-01-15 12:35] friedensfurz commented on #23
@Spookcity @JoeyCologne Yep, that's right, the only problem is that LineageOS didn't merge the January security patch yet and until then, I also can't build with that patch :(

[2018-01-15 12:35] friedensfurz commented on #23
@Spookcity @JoeyCologne Yep, that's right, the only problem is that LineageOS didn't merge the January security patch yet and until then, I also can't build with that patch :(

[2018-01-15 12:35] friedensfurz commented on #23
@Spookcity @JoeyCologne Yep, that's right, the only problem is that LineageOS didn't merge the January security patch yet and until then, I also can't build with that patch :(

[2018-01-15 12:35] friedensfurz commented on #23
@Spookcity @JoeyCologne Yep, that's right, the only problem is that LineageOS didn't merge the January security patch yet and until then, I also can't build with that patch :(

[2018-01-15 12:35] friedensfurz commented on #23
@Spookcity @JoeyCologne Yep, that's right, the only problem is that LineageOS didn't merge the January security patch yet and until then, I also can't build with that patch :(

[2018-01-15 12:37] friedensfurz commented on #23
@Spookcity @JoeyCorleone Yep, that's right, the only problem is that LineageOS didn't merge the January security patch yet and until then, I also can't build with that patch :(

[2018-01-16 16:38] Oleggluk commented on #23
@friedensfurz Today, my other smartphone has been updated with the January security patch on the RR. You can already compile the RR

[2018-01-16 23:00] friedensfurz commented on #23
@Oleggluk Yeah, thanks for the info, the file that actually shows the current security patch (https://github.com/ResurrectionRemix/android_build/blob/nougat/core/version_defaults.mk) does however not say so. The LineageOS one (https://github.com/LineageOS/android_build/blob/cm-14.1/core/version_defaults.mk) was updated however. What phone do you have? I will def look into this.. Tomorrow I can com

[2018-01-17 10:47] Oleggluk commented on #23
@friedensfurz
![screenshot_20180117-005737](https://user-images.githubusercontent.com/27913216/35038698-a3609e8c-fb8c-11e7-9212-c345acc35d51.jpg)

[2018-01-17 18:55] friedensfurz commented on #23
@Oleggluk It seems like the security patch of January is not complete yet, it's just the critical patches at the moment. I will try to build the rom tomorrow and see the outcome

[2018-01-17 19:01] friedensfurz commented on #23
@Oleggluk It seems like the security patch of January is not complete yet, it's just the critical patches at the moment. I will try to build the rom tomorrow and see the outcome

[2018-01-18 14:35] friedensfurz commented on #23
@Oleggluk As I promised, here is the ROM, I hope it boots and works, if you want to try: www88.zippyshare.com/v/v5ipOXIp/file.html

md5: bf99b7718c950326b8dd5d5848ff184e ;)

[2018-01-18 14:54] Oleggluk commented on #23
@friedensfurz I have not installed it yet. But I looked at the files in the archive, there ro.build.version.security_patch = 2017-12-05

[2018-01-18 15:55] Oleggluk commented on #23
@friedensfurz Works good. But the security patch is 2017-12-05. There was a problem with Magisk, because I had a newer version, and in the firmware the old version. I had to install separately from the archive. It would be nice to exclude Magisk from the firmware. It is better to put it separately, it is updated frequently, and in the firmware the old version is always there.
I think that the RR d

[2018-01-18 16:52] friedensfurz commented on #23
@Oleggluk Thanks for the confirmation, I'm glad it works. Like I said, there is no security patch for 2018/01 in RR at the moment, the guy who build your ROM probably didn't merge the new patches from Lineage, it's a lot of work and if no one of the many RR developers has done that yet, he obviously didn't as well. He probably just changed the line you mentioned in build.prop because he thought th

[2018-01-19 02:56] CHEF-KOCH commented on #23
[RR-N-v5.8.5-20180118-kminilte-Unofficial](https://mega.nz/#!YQM33CDa!y1rmjh6ndSkYa1_EPexmyC5tzhYV4Z5IWU1dWdT-p5M) mirror of [original post](https://github.com/Spookcity/ROMS-G800F/issues/23#issuecomment-358670371) by [friedensfurz](https://github.com/friedensfurz).

md5: bf99b7718c950326b8dd5d5848ff184e
Credits: [friedensfurz](https://github.com/friedensfurz)

I'll update my post here to report b

[2018-01-19 07:35] ghost commented on #23
https://www1-lw.xda-cdn.com/files/2018/01/build-configs-android-go.png

@spookcity This image above might be interesting for you. These are the build configurations for Android Go, which is an optimised version of Android for phones with 1GB of RAM and below. It should make older phones run much faster. I don't use my S5 mini anymore, but I'd suspect that using these build configurations would hel

[2018-01-19 09:11] friedensfurz commented on #23
I also have a Androidfilehost dev account now, all ROMs I build will be found there. Enjoy your weekend, folks ;)

[2018-01-19 19:17] CHEF-KOCH commented on #23
What exactly is missing to get Android 8.1 on the S5 mini running? Maybe I can help, still love my old test device and it does it's job. Can someone make a todo list with the needed link to the broken sources?

[2018-01-19 19:57] friedensfurz commented on #23
@Spookcity I found a quite good way of improving building speed, just by changing the cpu governor from powersafe to performance. I got from 50 Minutes to 28, maybe it helps you and your laptop as well :grinning:

[2018-01-19 22:40] friedensfurz commented on #23
@CHEF-KOCH Well, I'm not too sure about what's still broken in 8.1 but one thing I know is video recording which seems to be broken atm. I don't have a link but look up the G800F device tree on github, branch LOS-15 if you can help. Also look at the cm3470 repo (the processor of our phone). Maybe you should ask @Spookcity, he knows more than me :wink:

[2018-01-20 07:35] Spookcity commented on #23
@StanNL Thank you for that info. I will certainly be looking into that when I find the time.

@friedensfurz Interesting. I never thought to change cpu governors honestly. I will def give that a try. Thank you. I should be getting a used thinkpad of some sort soon. At least I am in the market for one.Hopefully with an i7 and 12-16gb of RAM,so that alone should help massively over my core2duo and 4g

[2018-01-20 07:45] Spookcity opened #24 "Test Builds #8"
A continuation of #10, #18, #19, #20 ,#21,#22 and #23

[2018-01-20 14:15] vonico commented on #24
Any news about FM radio?

[2018-01-24 08:05] Spookcity commented on #24
@vonico Hey sorry it took me so long to answer this. I've been away. The news is about the same however. The sound does not route properly. It is still being worked on,but from my understanding it's a bit of a guessing game as to what has changed since KK and the last working version of FM radio. Could be many things.Therefor it is rather time consuming. Hopefully it will be figured out. Only time

[2018-01-24 15:26] alefello commented on #24
Hi Spookcity
1st question: I noticed that fingerprint sensor remains active only for a little while after screen is turned off. Is it possible to keep it active with screen off, so we can have a "fingerprint to wake"?
2nd question: for FM is only the sound that does not route, in your kernel is implemented the right bluetooth driver that at least make FM scanning avaliable?
3rd question: is it pos

[2018-01-29 10:56] Oleggluk commented on #24
On the official RR page in Google +, screenshots appeared with RR v6 android 8.1.
https://plus.google.com/communities/109352646351468373340

[2018-02-09 15:17] Oleggluk commented on #24
From the latest news from the Internet:
Resurrection Remix (official)
Greetings to all RR users
First and foremost we would like to thank you all for being patient for the RR-Oreo release.

We , Team RR would like to announce that the wait is finally over .
Today we will be releasing first builds for RR-OS  based on Android 8.1.0 .

[2018-02-14 08:37] friedensfurz commented on #24
@Oleggluk Yeah, I will release a test build of RR 8.1.0 soon ;)

[2018-02-15 21:08] vonico commented on #24
Does somebody know if there has been some progress on the video recording issue? I mean, if there are so many affected devices it shouldn't take too long for the LOS team to release a patch or something, right? Or is it more difficult to fix it as I'm imagining?

[2018-02-19 11:34] Oleggluk commented on #24
@vonico hennymcc updated the information on the forum in topic LineageOS 15.0.
@friedensfurz I think it's already worth trying to build a version of RR v6?

[2018-02-20 16:11] Oleggluk commented on #24
@Spookcity Come back, I will forgive everything :D

[2018-02-22 07:55] friedensfurz commented on #24
@Oleggluk  The build will take some more time, @Spookcity how do I fix "could not locate config makefile for product xy" ? It even shows when I try to build for official devices :/

Edit: Nevermind, with the new RR, everything with lineage in its name needs to be renamed to rr.

[2018-02-25 10:14] friedensfurz commented on #24
@Oleggluk Would you be willing to test a RR O build soon? It could be possible that it doesn't boot, is that okay for you? :)

[2018-02-25 13:17] Oleggluk commented on #24
@friedensfurz Always ready). I am for any kipish, except hunger strike.

[2018-02-25 21:48] friedensfurz commented on #24
@Oleggluk Build is almost ready

Edit: Build is ready. Look at my Androidfilehost profile to find it.

Three things:
- Do a full wipe
- Use latest TWRP
- No other zips like Gapps, magisk etc. at least just for this test as it could cause issues

Hope it works ;) If not just write it here !

[2018-02-26 04:51] Oleggluk commented on #24
@friedensfurz This is a horrible morning quest. I can not find the link where to download.

Found! It was complicated)))

Installation was successful without errors. But unfortunately it does not work. Do not load beyond the initial Samsung screen.

[2018-02-26 11:39] friedensfurz commented on #24
@Oleggluk Did you try the TWRP from LOS 15 thread? Otherwise please reflash the rom, ehen it doesn't boot go into twrp>Advanced>copy log>include kernel log and post them here. It needs to be done right after the bootloop. Thanks

[2018-02-26 11:43] Oleggluk commented on #24
@friedensfurz I used TWRP from LOS 15 thread and the latest official version. The result is the same. Now I do not have time, but later I'll try to make a log

[2018-02-27 08:01] Oleggluk commented on #24
@friedensfurz I'm not sure what I did right. At TWRP from Los15 and the last official TWRP, completely different logs and names.
[recovery1.log](https://github.com/Spookcity/ROMS-G800F/files/1761720/recovery1.log)
[dmesg.log](https://github.com/Spookcity/ROMS-G800F/files/1761722/dmesg.log)

[2018-02-28 06:47] friedensfurz commented on #24
@Oleggluk That's perfect, it seems to be about the old selinux problems. I will build a permissive ROM/boot image the next days as it should fix the issue ;)

[2018-03-02 04:07] iiziispace commented on #24
TWRP 3.2.1-0.  Do not load beyond the initial Samsung screen.

[2018-03-03 16:06] Spookcity commented on #24
Hey guys! It's been awhile. I apologize for disappearing for a bit there,but I got the flu for way too long and then my gf got it. So yeah,you can prob imagine the fun times I've had over the last weeks :D
Anyway,I'm back and offer [XenonHD-8.1](https://drive.google.com/file/d/1y_ypTf9kWU_RbttT9nmcRrvKgE754Ap4/view?usp=sharing) in hopes that all is forgiven lol
 It is very much untested.It boots a

[2018-03-03 16:41] Oleggluk commented on #24
@Spookcity Welcome back.
I would like to see from you RR V6

XenonHD-8.1 is already downloaded. There is 1 hour for experiments :D

It's started! I forgive you)) :D

Some problems with the resolution for applications. Does not see the files on the external memory card (you may need to format it). Now there is no time. Tomorrow I will test better.
But I'm still waiting for RR v6))

[2018-03-03 20:18] Spookcity commented on #24
@Oleggluk Hehe,thank you :)
I'm glad Xenon booted up for you. I will hopefully have some more time tomorrow to test it more as well. I'll pay special attention to app resolutions and external memory.

As far as building RR v6..I have no problem trying to build it when I have some time,but it seems like @friedensfurz is working on it and nearly has it going. I don't want to do my own build if he is

[2018-03-03 20:47] Oleggluk commented on #24
@Spookcity I will not tell anyone if you build RR, this will be our secret))))).

In XenonHD-8.1 applications do not have access to phone memory and an external memory card. Once upon a time there was such a problem before.

[2018-03-04 09:14] Spookcity commented on #24
@Oleggluk Haha uh huh :)

You're right,apps not having access to the phone memory and memory card was an issue at the beginning with 8.0 ROMS as well. I can't remember exactly what the fix was. I kinda think it may have been a patch by Tobias. I will have a look.
I used to browse our device repo as well as other similar devices on github and random gerrit pages to keep up on what was going on,but

[2018-03-04 14:23] Oleggluk commented on #24
@Spookcity I ran RR v6 from friedensfurz on the core of XenonHD-8.1. So is the problem with memory.

[2018-03-04 19:20] friedensfurz commented on #24
Hey @Oleggluk and @Spookcity, is RR working now? I'm currently building a permissive RR, because I think that was the problem before ;)

[2018-03-04 19:23] friedensfurz commented on #24
New build online at AndroidFilehost!

[2018-03-05 00:38] MikeTeh commented on #24
@friedensfurz Thank you, i'll try it out next days, this build is 8.1? Beste Grüße

[2018-03-05 10:05] Oleggluk commented on #24
@friedensfurz It still does not work. Next to the screen Samsung does not pass.

[2018-03-05 10:06] alefello commented on #24
@Spookcity Hello and welcome back! Yes, I'm alefello on telegram group. In the last few days I had some problems with RR 7.1 on my device (bugs, lagging and so on) so I'm trying to go further with FM radio research and downgrade to MM to see if it's more stable and more reactive.
About that... Is there some 1,6GHz MM kernel version still available? Unfortunately I still have had no time to try to

[2018-03-05 10:20] Oleggluk commented on #24
@friedensfurz The version from February 25 could be launched with a kernel from XenonHD-8.1. The version from March 4 does not start, and on the XenonHD-8.1 kernel it does not start either.

[2018-03-05 10:44] Oleggluk commented on #24
the problem is not in the core. I ran XenonHD-8.1 on the kernel from RR-O-v6.0.0-20180304-kminilte-Unofficial
![screenshot_ _20180305-134324](https://user-images.githubusercontent.com/27913216/36970972-5cd2e6c8-207b-11e8-9eca-e783b25c9834.png)

[2018-03-05 11:02] friedensfurz commented on #24
@Oleggluk RR seems to miss some commits that are available in Lineage etc. I will port the boot.img from @Spookcity 's Xenon port.

Edit: LineageOS builds and boots as well, so it is a problem in RR

[2018-03-05 11:06] Oleggluk commented on #24
@friedensfurz Why are you doing it? The kernel in the latest version of March 4 is working! I ran a version of it on February 25th. But it's also a memory problem.
And the clean version of March 4 does not start at all.

[2018-03-05 11:08] Oleggluk commented on #24
![screenshot_settings_20180305-130813](https://user-images.githubusercontent.com/27913216/36972039-bca4dcd4-207e-11e8-9c5f-c03718a75823.png)

[2018-03-05 12:16] friedensfurz commented on #24
@Oleggluk Yeah, I will just fix it so there's no need of flashing multiple ROMs etc. I just want it to work as any other Rom, but you're right - there will be no effect otherwise.

What is the memory issue btw?

[2018-03-05 12:19] Oleggluk commented on #24
@friedensfurz Applications do not have access to internal and external memory. They ask for permission, you allow, but no effect. File managers do not see the memory, other applications do not see their backups and can not save anything, some applications do not start because of this.

[2018-03-05 12:34] friedensfurz commented on #24
@Oleggluk Did @Spookcity fix that yet? It sounds like it's not just with RR.. :/

[2018-03-05 13:42] Oleggluk commented on #24
Here in # 22 parts, we have already discussed the problem of memory in Los15

"Spookcity
So this storage issue with Los 15 appears the problem of sdcardfs. I successfully downloaded the material with chrome and my memory is now also displayed in MiXplorer. This was achieved by disabling sdcardfs. This, though not a complete solution.
Spookcity commented on October 9, 2017
@Oleggluk good to hear! T

[2018-03-05 20:28] Spookcity commented on #24
@Oleggluk and @friedensfurz OK,let me see if I have this RR situation straight:
The old build boots with the xenon boot.img meaning @friedensfurz was correct and it was just a kernel issue.The build from yesterday doesn't boot no matter what.

If so,in my experience it must be 1 of 2 things,both RR source related.
1. A bad commit(s) that has just broken things and will be fixed by RR soon or
2. A