[2017-04-20 15:25] ghost opened #1 "Introduction & Explanation"
### Introduction
Hi all!

This way of communication was introduced for everything ROM-related that doesn't belong to any specific XDA topic. Also, more importantly, this is a way to share test builds, and for announcements about new ROMs or kernels, so you can keep track of all the latest and greatest for our device.

The reason why we're posting this on GitHub and not XDA, is because it would bec

[2017-04-20 15:41] ghost opened #2 "Announcements"
The most important reason why we created this way of communication, is because we never knew when someone created a new ROM or posted an update to it.
Here, you can comment whenever you've made something you'd like to share.

_Sent from my Google Pixel XL using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-04-20 15:43] ghost opened #3 "Questions/Advice about ROMs"
Are you unsure which ROM to choose or have you forgotten how to fix that camera bug everyone always talks about? Don't hesitate and ask it here.

[2017-04-20 15:50] StanNL opened #4 "-"
-

[2017-04-20 15:52] ghost opened #5 "Suggestions"
If you have a request of any form, post it here and if you're lucky, someone will have some time for you.

It could be something like a new ROM that is really missing at the moment and you really like it.

[2017-04-20 15:53] #4 closed

[2017-04-20 15:55] ghost opened #6 "Slim6"
Here you can share your experiences with Slim6. You can post this on [XDA](https://forum.xda-forums.com/galaxy-s5-mini/development/rom-slim6-marshmallow-t3403003) too, but if it's a test build or you just somehow feel like giving feedback here instead of there, feel free to do so.

P.S: There is a [Slim7](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-slim-rom-7-nougat-t3558926) v

[2017-04-20 15:58] ghost opened #7 "Slim7"
Here you can share your experiences with Slim7. You can post this on [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-slim-rom-7-nougat-t3558926) too, __but if it's a test build__  or you just somehow feel like giving feedback here instead, feel free to do so.

P.S: There is a [Slim6](https://forum.xda-forums.com/galaxy-s5-mini/development/rom-slim6-marshmallow-t3403003) versi

[2017-04-20 16:01] ghost opened #8 "BeanStalk"
Here you can share your experiences with BeanStalk. It's a ROM based on Android Nougat and it has the correct background color for the quicksettings tiles. (Hurray!!!)

You can post feedback on [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-beanstalk-7-nougat-t3585327) too, but if it's a test build or you just somehow feel like giving feedback here instead, feel free to do s

[2017-04-20 16:06] ghost commented on #2
A sample announcement would be:

_I updated XOSP to version 1.7. The most important change is the fact that it is now based on Android Nougat! You can download it [Here](hi)_

The full changelog should be at the specific topic for the ROM. (By the way, the message wasn't real, unfortunately)

[2017-04-20 17:10] Spookcity opened #9 "Slim 7 beta 0.19 Changelog"
**Changes from the last build (0.16) to 0.19**

**Slim 0.19**
- Android version 7.1.2
- Implement Proximity Wake, DM's need to enable per device
 - Replace Gallery2 with SnapdragonGallery
- frameworks/av: mediacodec: minijail: Enable exporting of policy files, camera: Ensure native handle isn't null before closing it
- frameworks/base: Revert Emergency call button on Swipe lock Screen, KeyguardSim

[2017-04-20 17:17] #9 closed

[2017-04-20 17:24] Spookcity commented on #7
**Changes from the last build (0.16) to 0.19**

**Slim 0.19**
- Android version 7.1.2
- Android security patch April 5,2017
- Implement Proximity Wake, DM's need to enable per device
 - Replace Gallery2 with SnapdragonGallery
- frameworks/av: mediacodec: minijail: Enable exporting of policy files, camera: Ensure native handle isn't null before closing it ( **I have reverted this. It broke sound**)

[2017-04-20 17:26] Spookcity commented on #2
I have updated Slim 7 from beta 0.16 -> beta 0.19
**Download the ROM**   - [Slim 7 Beta 0.19](https://www.androidfilehost.com/?fid=817550096634763570)
**XDA Thread**  - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-slim-rom-7-nougat-t3558926)
**Changelog** - [Changes](https://github.com/Spookcity/ROMS-G800F/issues/7#issuecomment-295824209)

[2017-04-20 17:29] ghost commented on #7
Looks great, thanks! (By the way: this is the ideal time to find out if email notifications work)

[2017-04-20 17:33] Spookcity commented on #7
Just checked my email. Works great for me. Thanks for getting this set up. Its a good idea!

[2017-04-20 18:38] ghost commented on #7
@Spookcity I'm glad you like it! Hopefully this will work out the way I though it would!
By the way: you can reply to the GitHub mails with an email, in order to reply to the comment

[2017-04-20 18:47] ghost opened #10 "Test builds"
Here, you can share test builds for people to test. If you want, you can create an issue for that build so people can share their experiences there. When you do so, make sure to either announce the build here first, or post it in the _Announcements_ topic, if you want more attention.

[2017-04-21 14:19] ghost commented on #3
I'll make a comparison of all the different available ROMs here, one day.

### LineageOS (CyanogenMod)

LineageOS is without a doubt the most famous ROM available and it is the successor to the well-known CyanogenMod after it was discontinued in 2016.
It is one of the most stable ROMs for our device and it is very close to stock Android. If you're new to ROMs, this one is definitely a safe choice

[2017-04-22 14:46] Spookcity opened #11 "AEX (AOSP Extended)"
Here you can share your experiences with AEX. The ROM is based on AOSP with many "cherry picked" features from other ROM sources.

You can post feedback on [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v3-3-t3573531) too,but if it's a test build or you just somehow feel like giving feedback here instead, feel free to do so.

If you're interested in this top

[2017-04-22 14:47] StanNL commented on #11
Email.

[2017-04-22 15:07] Spookcity commented on #11
**AEX Changelog**

**AEX V4.1**
-Android version 7.1.2
-Android security patch April 5,2017
-Merged 7.1.2_r4
-Ticker for music track change
-updated roaming icon hide for new roaming logo in 7.1.2
-Force dialer headsup
-Removed inbuilt Email app
-Seperate Battery style for status bar and qs tile

**AEX V4.0**
-ROM is rebased and done from scratch
-Fixed USB Tethering in settings
-Fixed Adaptable S

[2017-04-22 15:08] Spookcity commented on #2
I have updated AEX to Version 4.1!
**Download the ROM** - [AEX V4.1](https://www.androidfilehost.com/?fid=817550096634764064)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v3-3-t3573531)
**Changelog** - [Changes](https://github.com/Spookcity/ROMS-G800F/issues/11#issuecomment-296379462)

[2017-04-22 19:28] Spookcity commented on #10
**Spookcity_Kernel for Nougat ROMS based on the Samsung MM sources**

Ok,I have started to work on this. As of now there are no features added. I have only updated the linux kernel to 3.4.113 (the latest) and added a bunch of optimization build flags. It is compiled with [UBERTC 6.3](https://plus.google.com/communities/112152563785863538123)
I have used  [AnyKernel2](https://github.com/osm0sis/Any

[2017-04-22 19:42] ghost commented on #10
@Spookcity I would create a separate issue now for people to share feedback. Because the people who are subscribed to this topic (which is nobody, yet) only want notifications when there are new test builds and may not be interested in every kernel bug and problem, similar to all the SafetyNet discussions lately.

This comment was great as an announcement, but I think it would be better to also ma

[2017-04-22 19:52] Spookcity opened #12 "Spookcity_Kernel-N"
Just a place to share your experiences with the kernel. Let me know about any bugs or problems you experience. Also share any features you may want to see included in future builds.
[Git repo](https://github.com/Spookcity/android_kernel_samsung_kminilte/tree/N_custom)
[XDA thread](https://forum.xda-developers.com/galaxy-s5-mini/orig-development/kernel-cm13-custom-kernel-t3386508) (Although I may c

[2017-04-22 19:55] Spookcity commented on #10
@StanNL Done!

[2017-04-22 20:01] ghost commented on #12
Thanks for posting it here too! I hope you didn't find it too unreasonable.

As for the new XDA thread: I'd definitely create a new one, just for the sake of clarity. But as you may have noticed, I may be exaggerating the clarity a bit too much ;).

I'm so sorry that I can't test the kernel, but I've fallen in love (sort of) with XOSP and I'm not using Nougat at the moment. I do switch ROMs often

[2017-04-22 20:02] ghost commented on #10
@Spookcity Great! Thanks!

[2017-04-22 20:08] Spookcity commented on #12
@StanNL No,not unreasonable at all. I'm still trying to figure out this system a little,but I do like it and its a good idea!
I have already referenced the test build on the XDA thread,so hopefully some people can try it out and let me know if all is OK.

Maybe XOSP Nougat will come to our device soon! You said nico_vo was going to work on it if I'm not mistaken. If not, I will give it a go after

[2017-04-22 20:20] ghost commented on #12
@Spookcity

That's great, thanks! By the way: I always use FastHub on my phone which is a beautiful ~~XDA~~  (edit: I meant __GitHub__ ) app. It wouldn't work for posting builds of course since you still have to do those from your PC, but when posting comments it works great! (By the way: it isn't available through Google Play atm due to copyright issues, so you'll have to install it through GitHu

[2017-04-22 20:34] ghost opened #13 "Personalization Discussion"
Here you can ask anything about everything! As long as it has to do with Android, you can ask practically anything.

[2017-04-22 20:39] ghost commented on #13
To get this discussion started, I was wondering:

1. Which email app are you guys using?
2. What music app would you recommend?
3. How long is your SoT on average?
4. Which ROM are you using and why?
5. Are you using a GitHub app and if so, which one?

__My preferences__
1. Inbox by Gmail
2. Phonograph
3. I'd say about 4.5 hours
4. XOSP, because it's extremely fluid, especially with L Speed
5. Fas

[2017-04-22 20:59] AndiVR46 commented on #13
Hi, first of all - great idea from you @Spookcity and @StanNL ! ;)
I'd like to ask which OMS capable 7.1.2 ROM do you suggest?
discussion - later... ;) i think i'll test the Kernel also... BIG THX

[2017-04-22 21:09] Spookcity commented on #13
1.Email - Aquamail
2. Music player - BlackPlayer Ex,although phonograph is now included in AEX and I must say its very nice.
3. SoT - hmm,tough one. Probably 4-5 hrs
4. ROM - AEX : Just testing currently. I switch ROMS a lot,but it is probably my favorite N ROM currently.
5. Github app - FastHub now thanks to @StanNL. It seems to be a really great app indeed.

[2017-04-22 21:19] Spookcity commented on #13
@AndiVR46 I am using AEX 4.1. It is fully OMS capable and I've added the latest substratum app to the build. I think its a great ROM. Beanstalk is also really nice if you want a more LOS 14.1 with OMS and other additional features. Its still 7.1.1 though I think. I'm gonna try to build an update soon.

[2017-04-23 07:28] ghost commented on #13
@AndiVR46 Yeah I agree with @Spookcity on this. I haven't tested out AEX for a long period of time, but I did use it for a day or two and I can definitely recommend it.

By the way: This question would fall into the _Questions about ROMs_  category, not that it really matters.

[2017-04-23 08:23] Spookcity commented on #13
@AndiVR46  Also,just to make sure I don't take too much credit,this whole idea was @StanNL and he set it all up. So HUGE credit goes to him!

[2017-04-23 08:26] ghost commented on #13
@Spookcity Well I only came up with the idea and it's up to everyone else to share their creations, because without you, this wouldn't take off!

[2017-04-23 08:37] Spookcity commented on #13
Yeah,hopefully others will join in on the discussions and even share their creations.

[2017-04-23 08:37] Oleggluk commented on #13
1. Mail.Ru
2. AIMP
3. Difficulties of translation
4. RESURRECTION REMIX N . Used all available firmware versions. RR is the most stable, good translation, a lot of settings (no need for xposed). I'm really looking forward to version 5.8.3 (google translation)
5. ----

[2017-04-23 08:45] Spookcity commented on #13
@Oleggluk Thanks for joining in!
I promise to try my best to update RR for you if Zocker doesn't. It's all a matter of time and I just have a lot going on currently.

[2017-04-23 09:07] Oleggluk commented on #12
The new kernel works well for RR N 5.8.2.
I want to see, voltage control, various governors, lowering the minimum frequency. (Google Translate)

[2017-04-23 09:12] Spookcity commented on #12
@Oleggluk All of these features are planned and most should be fairly easy to achieve. I plan to try voltage control as well,but I need to look into this some as I'm a little unsure how to implement it and I don't want to cause major problems!
At this point I'm just really glad that I set up anykernel2 properly :D

[2017-04-23 09:15] Oleggluk commented on #11
AEX firmware is very similar to the RR firmware, but what's the point in it? Settings are less than in RR, a few graphical changes and everything. (Google Translate)

[2017-04-23 09:18] Spookcity commented on #11
@Oleggluk Yeah,I'm unsure. There is something about RR that never really did it for me. I can't explain it. I'm just not a giant fan of it. I do really really like AEX though. Perhaps I need to give RR another shot and see if I feel the same about it.

[2017-04-23 09:19] Oleggluk commented on #12
I'm ready to test any attempts to change the voltage, even to break my phone)) (Google translation)

[2017-04-23 09:24] Spookcity commented on #12
Thank you @Oleggluk. I will test first though as I would feel really bad if my kernel destroyed anyone's phone. Hopefully I'll have some time this week to research voltage control some and see what happens.

[2017-04-23 12:36] AndiVR46 commented on #13
1. Blue Mail
2. Poweramp
3. ... i never played 4-5 hrs at once
4. LOS 14.1 before, now testing AEX 4.1
5. nope
@Spookcity - yeahh, i recognized he has done/helped you with the GH thing. also BIG THX to
 you @StanNL

[2017-04-23 13:08] AndiVR46 commented on #11
i tested AEX 4.1 now for some hours...

1. Because magisk in this build changes the SELinux to enforcing Firefox didn't work from the beginning
2. Via browser has been working for some hours, bur recently crashes after some reboots.
3. bluetooth transfers (.apk) from pc to handy fail, doesn't start the transfer, but askes for confirmation...
4. question: is the first left page (homepage) in this R

[2017-04-23 13:19] Spookcity commented on #11
@AndiVR46 I didn't realize magisk changed SELinux to enforcing. I have only used via browser so far with v4.1,but have not had any problems with it over the course of a couple of days. I'm not sure what would be causing that problem for you.

I haven't tried BT transfer. It is possible that it may be broken in the ROM. I'm not sure why it would be,but it's def possible. Something I will need to lo

[2017-04-23 13:25] AndiVR46 commented on #11
hmm,ok... and the non changeable first left page? Have been using HD Widgets since years on the first page. i've done nothing with Via, after some maybe 3-4 reboots it gave me the last pic... The Google thing is excuseable ;)

[2017-04-23 13:33] Spookcity commented on #11
Yeah, it doesn't seem like you can change the left page,or which page to use as your home screen at all that I could find. While I don't mind pixel launcher, when I decide to use a ROM for any length of time I always install Nova launcher. This solves all of those issues for me.

Weird about the "webview not being installed properly" message. I suppose there was some issue with the build or some r

[2017-04-23 13:36] AndiVR46 commented on #11
already done, but no success... Via crashes again... Just wanted to let you know ;)

[2017-04-23 13:41] Spookcity commented on #11
Interesting. I'm at a loss. I haven't had any problems with it. Thanks for letting me know though. I'll continue to use via and see if I get the same problem.

[2017-04-23 13:49] AndiVR46 commented on #11
ok that... I've known the browser problem in LOS already when using Magisk and the resulting SELinux state change. there i used FF, Gello, Gello Mod from XDA... the state sometimes changed not after first reboot, but the 2nd time it does... take your time, a bit pity actually, but BIG THX anyway
![screenshot_20170423-160924](https://cloud.githubusercontent.com/assets/27836686/25314194/7d89da50-283

[2017-04-23 14:00] Spookcity commented on #11
I really had no idea that magisk changed the SELinux state at all. That is good to know. SELinux is still actively being worked on for our device. Along with hopefully a safteynet fix. While I am not currently messing with it,I know the other devs have looked into it and would like to find a fix for this.

[2017-04-23 14:34] StanNL commented on #3
Could anyone help me with this? I'm pretty sure I've used all ROMs but I don't remember every detail

[2017-04-23 15:00] ghost commented on #11
@Spookcity Could you do something for me?
- Create an issue
- Comment on that issue
- Close that issue

The text doesn't have to be anything special, just 'test' would be enough.

Thanks in advance. (By the way, anyone could do this, not just spook)

[2017-04-23 15:21] Spookcity opened #14 "Test issue"

[2017-04-23 15:21] Spookcity commented on #14
Test

[2017-04-23 15:21] #14 closed

[2017-04-23 15:23] Spookcity commented on #11
@StanNL done. I did all 3 kinda quick. I hope that's OK. Let me know if not.

Also,I will try to help out some with the ROM comparisons when I have some time.

[2017-04-23 15:36] ghost commented on #11
@Spookcity That's great, thanks! The ROM comparison does take up a lot of time indeed. I'm doing it piece by piece right now.

Those tests were in order to confirm something I already expected. You don't have to leave a comment on an issue in order to subscribe, as long as you are watching the repository! I'm removing the paragraphs where I mentioned the subscription thing.

[2017-04-23 15:52] Spookcity commented on #11
@StanNL Ahh OK. Sounds good to me. I would imagine the ROM comparisons indeed take a bit of time. I can't say when, but I will try to do a couple. Although you're better at describing and writing these things than I am...and English is my only language. I'm not real sure what that says about me lol

[2017-04-23 15:59] ghost commented on #11
@Spookcity Thank you! I am participating in Cambridge English exams, so I'm practicing writing a lot. Don't worry ;)
Also: if you've spotted any mistakes, please tell me since I'm still learning.

As for the writing of the texts themselves: it's fine if you just send me a list of features one day and I'll turn it into a text for you.

[2017-04-23 16:28] Spookcity commented on #11
@StanNL Well the exams are certainly working! I would never in a million years guess that English is not your native language. Hopefully one day I'll stop being so lazy and become half as good in your native tongue as you are in mine. :)

I will at the very least get you a list of features and what-not about some ROMS in the very near future.

[2017-04-23 16:43] ghost commented on #11
@Spookcity

Really? Thanks a lot! If I score 80% or higher on the exam, I will get a C2 certificate, which indicates that I indeed speak English at a near-native level. However, this isn't just a standard English test ;)

I'm sure you'll be able to do it! Dutch is one of the most closely related languages to English. However, like any language, it takes a lot of time and you're already doing the m

[2017-04-23 17:22] Spookcity commented on #11
@StanNL I would guess you will do very well on your test. Good luck either way!

I do spend far too much time on my computer,but I do hear plenty of Dutch. I watch and enjoy de wereld draait door most nights :D
I understand far more Dutch than I'm able to speak for sure.

Either way,back on topic hehe
I will most definitely get you a list of info and features on a couple of ROMS in the next couple

[2017-04-24 11:59] ghost commented on #2
After a few days of getting this set up and figuring out how this works, I've finally found out how notifications on GitHub work.

So you don't have to leave a comment on an issue in order to get email updates, but you can just watch this repository by clicking on the eye icon!

[2017-04-24 17:12] AndiVR46 commented on #12
Hi , i tested the Kernel N in Lineage OS 14.1 since saturday - no issues so far

![kernel](https://cloud.githubusercontent.com/assets/27836686/25349379/e8b33ae6-2921-11e7-936c-57e8517a0acb.PNG)

[2017-04-24 18:24] Spookcity commented on #12
@AndiVR46 Good news and thanks for the feedback! There is one issue that was pointed out to me and that I also have....Recorded audio is very distorted. I'm going to try to look into this soon.
I've only tested this on AEX and I'm unsure what Rom the other person who experienced this was using,but if you get a chance, test this out for me. I'm nearly positive it's not ROM specific,but still wanna

[2017-04-24 18:46] AndiVR46 commented on #12
i can confirm  it... The recorded sound is very scratchy at mine, but at my GFs S5mini (LOS 14.1) with the ,,old'' kernel 3.4.39+ sounds CLEAR ;)

[2017-04-24 18:53] Spookcity commented on #12
Thanks a lot for testing. I figured as much. More than likely this going to be caused by one of the MANY Linux kernel patches I applied. I'm going to try to disable a few flags in the build. Use a different toolchchain to see if that fixes it before I go slowly over all of those kernel patches. That'll be fun lol

[2017-04-24 19:17] AndiVR46 commented on #12
with pleasure... hope you can fix it.

[2017-04-24 19:26] Oleggluk commented on #3
The best and most customizable is RESURRECTION REMIX !!!

[2017-04-26 12:44] StanNL opened #15 "test"
This is just a test. Hopefully you won't get a lot of emails because of this.

[2017-04-26 12:44] ghost commented on #15
test.

[2017-04-26 13:00] ghost commented on #15
Another test

[2017-04-26 13:01] ghost commented on #15
Another other test ;)

[2017-04-26 13:29] Oleggluk commented on #12
I found a very serious problem! After some applications (games), the smartphone does not see the headphones and outputs the sound through an external speaker. The same problem was previously at the core of DJ_Steve, he could not solve it. (Google Translate)

[2017-04-26 13:48] #15 closed

[2017-04-26 14:16] Spookcity commented on #12
@Oleggluk Thank you for letting me know.  So strange. It almost has to be related to the Linux kernel patches. I thought that I solved that on my previous kernel build for MM ROMS by replacing one particular file. Hopefully I can do the same this time around.  If  not and it is caused by the kernel patches, I may just release a kernel, for the time being without the patches, so it would still be 3

[2017-04-26 20:20] AshVo925 commented on #12
I finally got this rom on after slim6 but am hoping not to regret it,so far i actually kinda love this rom,will update as it happens

[2017-04-27 06:25] Spookcity commented on #12
@AshVo925 Hey thanks for joining in!  I'm a bit unsure,but I think you're speaking of slim 7 as I remember you posting in that thread.  If so, I don't think you'll regret it. It's a nice ROM and I never noticed any major issues with it. Hope it works out for you!

[2017-04-27 08:39] AshVo925 commented on #11
The Android system webview updated for me since flashing pico Gapps and I dont have any error with it,so far.. I use Jet audio for music and it's just giving me a strange error msg
(libJYt:so text relocation
 libJM4R:so text relocation) yet everything works fine,first time I got that I think it has something to do with lyrics though but it's cool.. I always use jet audio and this is the first time

[2017-04-27 08:46] ghost commented on #11
@AshVo925 What is the file extension of the song file name?

[2017-04-27 08:47] ghost commented on #11
@AshVo925 And: When does the error occur? When opening the app or whilst playing​ the song?

[2017-04-27 08:52] AshVo925 commented on #11
The error occurs as I open the app,then disappears but I took a screenshot,I'm unsure how to take a logcat but what I typed was pretty much what goes on,oh thanks and you're welcome man,glad to be here

[2017-04-27 08:57] AshVo925 commented on #11
File extensions are mp3 format btw

[2017-04-27 09:05] ghost commented on #11
@AshVo925 Well, if you don't know how to send logcats (which is fine), there isn't much we can do. However, a way to "fix" this, and that is by installing a different music app. I would recommend Phonograph.

Hopefully we'll be able to fix this one day, but for now, this is all we can do.

[2017-04-27 09:11] Spookcity commented on #11
@AshVo925 Yeah a log would help,but no problem. I'm unsure what is causing the error you mentioned. If it's not causing any issues I wouldn't worry too much about it though.
Or as @StanNL mentioned perhaps try another music player just to test.

[2017-04-27 09:11] AshVo925 commented on #11
How do I take a logcat and I said it isn't an issue I was just curious to that error msg coz I haven't got it since I've had a droid,that's my music app.. I have plenty time to learn

[2017-04-27 09:18] Spookcity commented on #11
@AshVo925 Well,if you use Linux and have sdk/adb setup you can connect your phone to your PC with adb enabled in developer options.  Then open a terminal and  type "adb logcat > logcat.txt" without the quotes.
If not and probably the easiest way is to just download Matlog from the playstore and use that.
Edit: Also,if you go the terminal way, ctr+c to stop the log.

[2017-04-27 09:19] AshVo925 commented on #11
Phonograph works perfectly but I like super customized equalizer settings,that's all,thanks again

[2017-04-27 09:22] AshVo925 commented on #11
PC is broken that's my issue,can't really do much to my phone coz I'm wary of losing everything you see,I will get matlog now,thanks guys,IL come back when I have a real problem😅

[2017-04-27 09:28] ghost commented on #11
@Spookcity That's also exactly how it works on Windows haha

[2017-04-27 09:31] Spookcity commented on #11
@StanNL Interesting,I had no idea it was the same. I guess windows ain't all bad
 :-D

[2017-04-27 09:40] ghost commented on #11
@Spookcity Every platform has its (dis)advantages ;)

[2017-04-27 09:40] AshVo925 commented on #11
Matlog is so informative I felt like I was tripping reading all that information.. will update my story after a nap,I really love this rom,it is perfect and I don't need Xposed as much as i thought I would..

[2017-04-27 10:46] AshVo925 commented on #11
04-27 12:41:15.572 W/linker  (19806): /data/app/com.jetappfactory.jetaudioplus-1/lib/arm/libJY2.so has text relocations. This is wasting memory and prevents security hardening. Please fix.)
Can I manually edit them via a terminal and "fix"

[2017-04-27 14:04] Spookcity commented on #11
@AshVo925 There is nothing you can do about this warning to my knowledge as it is a problem with the build of your audio player app. So unless it's an open source app and you can and are willing to compile it yourself I don't think you can do much.
I wouldn't worry too much about it though honestly.

[2017-04-27 15:28] Spookcity commented on #10
**XOSP -N (7.1.1)**

Especially for @StanNL :smile:

**This is completely untested.** Hence why it's in the "test builds" section.
This took me longer than I had hoped to build as there were some build errors to deal with. Hopefully it works at least! If there are issues I will try my best,if I have time to fix any rather easy ones. If there are major problems,I can make no guarantees. **There is

[2017-04-27 15:44] AshVo925 commented on #11
OK thanks,its working fine,just that error msg was new to me.. Phonograph isn't that bad either hey,is it safe to remove along with the equalizer,neither work nor does pulse,without damaging any sound libs or things like that?

[2017-04-27 16:16] ghost commented on #10
@Spookcity Hurray!!

[2017-04-27 16:50] Spookcity commented on #11
@AshVo925 Well, I don't want to say something and then have you lose stuff on your phone, so as long as you have a backup my answer would be that
I would think that these could be removed without issue, but again,I'm not
100%

[2017-04-27 17:04] ghost commented on #10
@Spookcity Could you make a thread for XOSP7.1? I can confirm that it boots :D

[2017-04-27 17:15] Spookcity opened #16 "XOSP-N (7.1.1)"
Here you can share your experiences with XOSP-N. The idea behind XOSP is a minimal bloat free ROM which includes Sony Xperia specific apps and various tweaks users would expect from a custom ROM.

There's no XDA thread currently. Perhaps soon! This will be updated appropriately.

[2017-04-27 17:16] Spookcity commented on #10
@StanNL Done! And I'm very glad that it boots! Whew
Edit :
Unless you meant an XDA thread.  I just created a topic on here.  Hope that's what you meant. The XDA thread will come at some point.

[2017-04-27 17:47] ghost commented on #16
You don't have to leave a comment to subscribe to the thread :) (I thought so at first but it isn't true)

[2017-04-27 18:03] Spookcity commented on #16
@StanNL Updated and removed that part. Thanks!

[2017-04-27 18:26] AshVo925 commented on #11
They cool I froze them coz I'd rather keep em instead of interfering with your ROM.. thanks bro you're awesome

[2017-04-28 05:33] Spookcity commented on #11
@AshVo925 Haha,thanks man!
Freezing them was probably the best way to go.

[2017-04-28 13:16] AshVo925 commented on #11
Hey the magisk installer for those sound effects offered had me bootloop,luckily I restored a backup,don't know if it's coz I flashed 3 zips but didn't bother with dalvik wipe coz I was I'm a hurry lol OK games are better than on any other ROM for me,this the best,just be careful with flashing your own stuff outta nowhere,
Sorry
Thanks

[2017-04-28 16:22] Spookcity commented on #11
@AshVo925 Yeah,if you're talking about Magisk modules,that's something I've not really looked into. I'm fairly new to Magisk in generally honestly and am just now starting to learn more about it.

[2017-04-30 13:03] Spookcity commented on #2
I have updated AICP to 7.1.2
**Download the ROM** - [AICP 7.1.2](https://www.androidfilehost.com/?fid=745425885120728320)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aicp-12-1-nougat-t3565009)
**Changelogs can be found in the "AICP Extras" app**

[2017-04-30 13:07] Spookcity commented on #2
I have created a thread and uploaded XOSP 7.1.1 to XDA
**Download the ROM** - [XOSP 7.1.1](https://www.androidfilehost.com/?fid=817550096634766001)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-xosp-nougat-t3598829)

[2017-04-30 13:53] Mikahlo commented on #16
Hi there!
XOSP is the perfect ROM for me. Smooth without animation scale reduced, no bloatware and a nice design. The customization options are between a slimROM and a standard ROM, nothing special but just enough. I even use the launcher that comes with it. Thanks for building this!

[2017-04-30 14:12] Spookcity commented on #16
@Mikahlo Hey,thanks for joining in.  I'm glad you like it.  Hope you enjoy!

[2017-05-01 15:04] Spookcity commented on #2
I have updated AOKP to 7.1.2
**Download the ROM** - [AOKP 7.1.2](https://www.androidfilehost.com/?fid=457095661767157922l)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aokp-nougat-t3570088/page4#post72117523)
**Changelogs can be found within the "ROM Control" app**

[2017-05-01 20:40] Spookcity commented on #10
**Spookcity_Kernel -N** - Test 2
**Download** - [Test2]( https://drive.google.com/file/d/0B_rGv18gTmnVVHRGbGEydEIxODA/view?usp=sharing)
**Please give feedback** [Here](https://github.com/Spookcity/ROMS-G800F/issues/12) or [XDA](https://forum.xda-developers.com/galaxy-s5-mini/orig-development/kernel-cm13-custom-kernel-t3386508)

[2017-05-02 08:50] ghost commented on #12
I'll install the new kernel, now that I'm using XOSP 7.1. However, are there any real benefits at this point?

[2017-05-02 09:03] Spookcity commented on #12
@StanNL Yeah,there should be. Even though I've yet to add any features, I've patched the Linux kernel (to 3.4.105 in this build) I've added many optimization flags to the build and I've built it with my ct-ng build of Uber toolchain,so it should hopefully be at least a little "snappier"

Also, there is a huge benefit for me as I really want to make sure there's no issues with just the patches,tool

[2017-05-02 09:10] ghost commented on #12
@Spookcity Alright, thanks for the update! Good luck with adding the features you want.

[2017-05-02 09:20] AndiVR46 commented on #12
Hi, i test the new 3.4.105 Kernel with LOS 14.1 build of zytrix78 (7.1.2), the recorded audio issue seems to be solved when i compare the audio of my GFs 3.4.39 one with mine...

[2017-05-02 09:30] Spookcity commented on #12
@AndiVR46 Thanks a lot for the feedback! I really hope that's the case. My recorded audio also is good,but who knows. This will make it a lot easier if all of the audio issues are solved in this build cause then I know it's one of the last 8 Linux patches,as opposed to trying to sort through 60+ patches!

[2017-05-02 13:44] ghost commented on #13
Which browser do you use?

[2017-05-02 13:57] Spookcity commented on #13
I generally use Chrome Dev

[2017-05-02 17:10] AshVo925 commented on #11
Magisk caused a few problems for me so I finally got a ROM to work and since spook had a hand in it I'm keeping it,though magisk is a danger zone given my experience on this ROM..

[2017-05-02 18:12] Spookcity commented on #11
Yeah, I have not really messed with Magisk much at all aside from just using it as root. I haven't messed with modules or whatever else at this point. Maybe one day I'll jump in and see how badly I can mess things up :D

[2017-05-03 18:57] Spookcity commented on #10
Back to Linux 3.4.113
**Spookcity_Kernel-N** - Test 3
**Download** - [Test3](https://drive.google.com/open?id=0B_rGv18gTmnVOGVwWGozdTNRT0U)
**Please give feedback**  [Here](https://github.com/Spookcity/ROMS-G800F/issues/12) or [XDA](https://forum.xda-developers.com/galaxy-s5-mini/orig-development/kernel-cm13-custom-kernel-t3386508)

[2017-05-04 14:24] Mikahlo commented on #13
About launchers: did you ever heard of [KISS?](https://github.com/Neamar/KISS)
On Lineage OS, this one was my favourite. The launcher allows you to hide apps, to tag them for the search function and a nice little feature to force close apps is integrated too. It`s a very lightweight one, so this should be the max performance you can get from a launcher.
Regarding a music app: I can recommend  [Ody

[2017-05-04 15:06] Mikahlo commented on #16
Some more words on my new favourite ROM after a couple of days of usage:
I love it! Generally speaking this ROM "feels different" and "fresh". Maybe everyone should "xperiance" this^^
The status bar icons are slightly tweaked and just look good. The phone signal and the wlan indicator are divided into 4 segments each to represent the signal strength. Even the battery icon looks beautiful and shows

[2017-05-04 15:42] Spookcity commented on #16
@Mikahlo Glad you like the ROM! I used it for awhile and I liked it as well. I agree that it just has a different feel to it and it is nice!

On building: I build with 4gb of RAM. You need to tweak some things in order to achieve this,but it will work. It will obviously take a fair bit of time to build. You also MUST have a minimum 4gb of swap as well. I have 4.5.
If you are looking at building ju

[2017-05-04 15:45] Spookcity commented on #13
I have heard of,but have not used KISS launcher. I'll have to give it a try. I have been messing around with [this](https://forum.xda-developers.com/android/apps-games/t-ui-terminal-console-launcher-t3146288) recently and rather enjoy it.

[2017-05-05 09:42] ghost commented on #16
@Mikahlo Well, to be honest, I'm not a fan of the UI at all. I did use a Sony phone back in the Android Jellybean days and the UI hasn't really improved since then, to be honest. I prefer BeanStalk's UI, but you can't have everything in a ROM, so XOSP is still my favourite ROM at the moment.

In my opinion the battery life isn't great either, but I used L Speed and put every setting on extreme per

[2017-05-05 10:56] Spookcity commented on #16
@StanNL Yep,I wish I had more than 4GB of RAM,but it does work at least. The CPU doesn't get much better. Its a core 2 quad @ 2.0GHZ. It's a 6 or so year old Acer, so yeah lol
Hell,I have a desktop that's rockin a Celeron D from about 2005. Its only used as a media server though.
A more modern laptop is def on my want-list.

[2017-05-05 11:08] ghost commented on #16
@Spookcity Well my CPU is worse than yours. It is a quad core 1.5 GHz processor (I'm unsure which one) so it is not very fast, but the heaviest task I do is web development...

[2017-05-05 11:40] Spookcity commented on #16
@StanNL Ahh,OK. Well I don't feel so bad then hehe. That's the important thing though,that the PC can handle the tasks you need it to. At this point mine does,albeit slowly. Android is by far the most taxing thing I do on my PC. I do some music stuff as well,but it handles that pretty well. All in all I'm very happy with my 6 year old Acer. It just takes far too long to build android.

[2017-05-05 11:45] ghost commented on #16
@Spookcity Yeah but I do have 8GBs of RAM so I can use Chrome development tools on multiple tabs, without Chrome eating all of my RAM. That is pretty rare for Google Chrome these days.

I have a 6 year old Acer as well, by the way, but it is a (pretty bulky) laptop and not a desktop.

[2017-05-05 11:52] Spookcity commented on #16
@StanNL Yes, I use chromium and while I don't do any web development, it uses massive amounts of RAM. I really like chrome/chromium,but man its a RAM hog!
I also have a rather bulky Acer laptop.

[2017-05-05 20:01] ghost commented on #16
@Spookcity Really, which laptop do you have?

[2017-05-05 20:22] Spookcity commented on #16
@StanNL [Aspire 7738](https://www.notebookcheck.pl/fileadmin/_migrated/pics/1_64.jpg)

You?

[2017-05-05 20:32] ghost commented on #16
@Spookcity I have no clue because Acer isn't very good at giving remarkable names, as you know.

I think it's this one: https://ic.tweakimg.net/ext/i/1329919511.jpeg

[2017-05-05 20:51] Spookcity commented on #16
@StanNL That is very true. Both yours and mine were probably released not too far apart. I really like mine,but it's huge for a laptop. Its not very portable, but there is a horrible design flaw in the 7738,which makes mine completely not portable. The DC power jack is placed in a circular portion where the screen attaches,so it tends to break due to movement. I've replaced it twice already and no

[2017-05-06 09:04] ghost commented on #16
Well mine isn't very portable either. Not only is it 3.3kg, but there is definitely something wrong with its battery. I have no clue why, but it only lasts for like 10 minutes off-charger, so I can only use it within my own house. It only has a 4000 mAh battery so I don't think it was even meant to be used that way.

Something I did find out, is the fact that, although my 'max' clock speed is 1.5

[2017-05-06 09:40] Spookcity commented on #16
@StanNL Ahh,OK so mine is a fair bit older. Yours I'm sure runs much better with double the RAM and especially if you're getting 2.2GHZ clock speeds. My battery is broken as well,but as mentioned it doesn't matter. I just have an electrical taped wire coming out of where I would normally plug in the charger anyway. It looks awful,but it works. Haha
If this design flaw wasn't there I would upgrade

[2017-05-06 10:32] Spookcity commented on #2
I have updated Beanstalk ROM to 7.1.2
**Download the ROM** - [Beanstalk 7.1.2](https://www.androidfilehost.com/?fid=529152257862724679)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-beanstalk-7-nougat-t3585327)
**Beanstalk Specific issues** - [Github](https://github.com/Spookcity/ROMS-G800F/issues/8)
**Changelogs can be found within settings -> about phone

[2017-05-06 12:02] ghost commented on #16
@Spookcity Haha well at least they learned from their mistakes

[2017-05-06 12:05] ghost commented on #16
@Spookcity By the way: I don't think they look visually similar at all

[2017-05-06 12:31] Spookcity commented on #16
@StanNL Really? I thought they looked very similar. Minus the somewhat strange audio related features on mine (that I've never used) ..And again the DC jack placement.

Edit: After another glance they are more visually different than I first thought.

[2017-05-07 16:15] Mikahlo commented on #16
I have an Asus K52J from around 2010 or 2011. An old core i5 with up to 2,4 Ghz, an mobility radeon card and only 4 GB of RAM. The fastest part inside this thing is the superb ssd 840 series from samsung with 250 GB.

[2017-05-07 16:55] Spookcity commented on #16
@Mikahlo You're computer is also way better than mine :(
Lol. Hell, I think my hard drive is only 5400 rpm.Probably time I start looking into another one. Especially with my "rigged" power connection.

[2017-05-08 11:33] Oleggluk commented on #12
Hey. For a long time I wanted to ask how to fix this error. Battery stats service no controller energy info supplied.
This is on all custom firmware of our device. Can some file not be properly configured or missing? (Google Translate)
![screenshot_20170508-140744](https://cloud.githubusercontent.com/assets/27913216/25802480/43c54062-33fb-11e7-8344-b8fa872eba15.png)

[2017-05-08 12:59] Spookcity commented on #12
@Oleggluk I think that is the case yeah. I'm not positive,but I believe that it's related to a power_profiles.xml.

[2017-05-08 13:01] Oleggluk commented on #12
Where is he located? Can it be edited or extracted from the original firmware?

[2017-05-08 13:10] Spookcity commented on #12
@Oleggluk I think its part of the framework. You would have to use apktool to decompile the framework.res and pull the power_profile from there. Then you could edit it. And recompile the framework. I think there may be something related in the kernel as well,but I believe this error is due to the devices.

[2017-05-08 13:22] Oleggluk commented on #12
I decompiled framework.res, there is such a file there. It is he?

Here you can not use this format, put it in the archive.
[power_profile.zip](https://github.com/Spookcity/ROMS-G800F/files/983568/power_profile.zip)

[2017-05-08 13:26] Spookcity commented on #12
@Oleggluk I can't see that file,but its probably correct. I think it should be located with framework/res/res/xml/power_profile.xml
I can't help much with what to edit to fix this though. I've never looked into really.

[2017-05-08 13:34] Oleggluk commented on #12
I pulled the same file from the original 6.0.1, they are identical. Any other ideas?

[2017-05-08 13:52] Spookcity commented on #12
@Oleggluk Hmm,interesting. Not off hand. I'll have to think a little. I'll let you know if I come up with any.

[2017-05-08 17:41] Oleggluk commented on #5
Has anyone tried to build a Mokee OS? (Google Translate)

[2017-05-08 18:09] Spookcity commented on #5
@Oleggluk I think perhaps I tried during the MM days. I could be wrong though. If so,obviously I had some problem with it that I couldn't solve back then.

[2017-05-08 18:21] Oleggluk commented on #5
It's a pity!((  Reviews are interesting. Maybe if there is time, will you try? (Google translation)

[2017-05-08 18:25] Spookcity commented on #5
@Oleggluk Well,in all honesty I had planned to be done building ROMS (excluding updates to most of my previous builds) I'm trying to build CosmicOS now as a request. Maybe sometime I could give it a go though.
Perhaps jimmy999x could build?

I would just rather spend time working on my kernel at this point,but if he won't/can't build I may try at some point. Just no guarantees.

[2017-05-08 18:43] Oleggluk commented on #5
CosmicOS is not an interesting firmware)). In any case, thanks. Kernel test 3 runs on RR, no problem) (google translation)

[2017-05-08 18:49] Spookcity commented on #5
@Oleggluk I know nothing about CosmicOS honestly. I was just asked awhile ago and said I would try.
I'm glad to hear the test3 kernel is running well. Hopefully I'm going to mess with it some more this week.

[2017-05-10 10:01] Oleggluk commented on #12
There is an interesting topic. https://forum.xda-developers.com/android/apps-games/app-spectrum-kernel-manager-users-t3601542 . Maybe you should try adding to the kernel? (Google Translate)

[2017-05-10 10:50] Spookcity commented on #12
@Oleggluk Interesting. Thanks,I'm always happy to get ideas and suggestions. Especially with a link. I will look more into that when I get home later. I've been working on adding synapse support to my kernel,which I've been able to do. Getting the backend setup so it works properly may be another story. I'm just not sure how much time I want to spend on it. We shall see.

[2017-05-10 14:32] Spookcity commented on #10
For @Oleggluk
**Mokee ROM 7.1.2**

This is completed untested. Maybe it doesn't even work. I had problems with CosmicOS and didn't feel like messing with them any longer than I already did,so I decided to give this a go. If it doesn't work or there are are major problems I make no promises to fix it. Perhaps I will try with minor,easy issues. I just don't want to spend much more time on this.

**D

[2017-05-10 14:33] Spookcity commented on #12
@Oleggluk [Here you go](https://github.com/Spookcity/ROMS-G800F/issues/10#issuecomment-300500982)

[2017-05-10 14:58] Oleggluk commented on #10
![screenshot_20170510-175523](https://cloud.githubusercontent.com/assets/27913216/25905259/2df2ab48-35aa-11e7-8f91-c1a408403e67.png)

I will test until everything is fine). (Google Translate)

[2017-05-10 15:00] Spookcity commented on #10
@Oleggluk Great! I'm glad it boots at least. Let me know how it is.

[2017-05-10 16:28] Oleggluk commented on #10
My friend deceived me haha. I was looking for the firmware with the maximum possible customization. In mokee rum there are no additional settings at all. This is the bare LineageOS 14.1. I do not know what kind of differences. Of the cons: Button settings are not quite right, the name of the memory card is not correctly displayed, the Chinese language sometimes appears in applications. The rest is

[2017-05-10 16:53] Spookcity commented on #10
@Oleggluk hah, that's a shame. I don't know much about the ROM, but I'm sure I'll flash to test at some point. Weird that there's not many options as it's a large ROM, nearly 420MB.
Either way, you're welcome. It was a fairly easy build.

[2017-05-10 20:04] Oleggluk commented on #10
https://www.xda-developers.com/android-dev-weekly-03-whats-new-in-the-world-of-themes-roms-and-mods/
"GroundZero ROMs
Recently, GZR executed a global roll-out for updated versions of all three of their Custom ROMs – Tesla, Validus, and Tipsy. The ROMs have been bumped up to Nougat version 7.1.2."

[2017-05-10 20:11] Oleggluk commented on #10
Validus Rom based on Slim/AOSP plus many additions)
You like the firmware slim)

[2017-05-11 08:57] Spookcity commented on #10
@Oleggluk I do very much like slim. Tesla and Validus are maintained for our device by PsyAfter though.I am unsure about Tipsy ROM. Perhaps I will look into it at some point.

[2017-05-11 10:54] Oleggluk commented on #10
Spookcity_Kernel-N - Test 3 no problem on XenonHD 7.1

[2017-05-11 11:18] Spookcity commented on #10
@Oleggluk Great! Thanks for letting me know!

[2017-05-11 15:11] Oleggluk commented on #10
Installed GSam Battery Monitor, among the applications in the first place is always the kernel and running dozens of processes. This is normal? (Google Translate)

[2017-05-11 15:32] Spookcity commented on #10
@Oleggluk Yes, nothing to worry about there. There are many kernel processes that must run at all times.

[2017-05-11 18:01] Oleggluk commented on #5
I did not understand anything, but it seems interesting))).
https://forum.xda-developers.com/apps/magisk/module-enable-sdcardfs-t3603375

[2017-05-11 18:30] Spookcity commented on #5
@Oleggluk Hehe thanks, I always appreciate links about new things and ideas to implement. I don't know too much about it either, except that it's Google's replacement for FUSE. I read a bit about it some time ago. I will read through that thread more. I believe it can be implemented in the kernel,as this is how I originally stumbled upon SDcardFS. I think it's not so easy to implement currently th

[2017-05-12 20:07] Spookcity commented on #10
**Spookcity_Kernel-N** - Test 4

- Fading LED's
- Initial CPU governors
- Initial I/O schedulers
- Synapse support

## Note
**Synapse apk will be flashed with the kernel. It is far from finished,setup wise. So you will notice some things don't work or will see errors in synapse. This will be fixed with time,assuming I wish to continue trying to set it up. I'd like to,but it seems like it may be ra

[2017-05-14 14:02] jimmy999x commented on #10
https://drive.google.com/open?id=0BwYn4RX4lLh0ZDBWb2VHVDB0X2M  ownrom

https://drive.google.com/open?id=0BwYn4RX4lLh0OUpaOHRYNWxNWWc liquid rom (my favorite)

I leave these roms that I compiled a few days ago, if anyone wants to try them, personally I like liquid, since I have my sound mods in version 7.1.2

[2017-05-14 14:58] Spookcity commented on #10
@jimmy999x Great! Thanks,I will def try out liquid ROM.

[2017-05-14 20:27] jimmy999x commented on #10
@Spookcity Thanks, apparently I found the reason why I could not compile cosmic os, maybe for today (hopefully) be ready

[2017-05-14 21:48] Spookcity commented on #10
@jimmy999x Great! I tried to compile CosmicOS sometime ago,but kept getting ril errors. I had them before on another ROM,but couldn't remember what the cause was,so I gave up. Hehe. Hopefully it was just source related and has been fixed by them.
Its really great to have more people compiling ROMS for our device! I am a bit of a "flashaholic" :D
I'm off to bed now,but plan to try out liquid ROM to

[2017-05-15 14:32] jimmy999x commented on #10
@Spookcity Is true, there is a problem when applying the patches, I tried but did not achieve anything, anyway I will try to compile other roms

[2017-05-15 14:39] ghost commented on #10
Which quick settings background colour does LiquidROM have?

[2017-05-15 15:47] jimmy999x commented on #10
![whatsapp image 2017-05-15 at 12 46 06](https://cloud.githubusercontent.com/assets/21678167/26066273/aa17924a-396c-11e7-83b3-4a067c8fe08c.jpeg)

[2017-05-15 16:14] ghost commented on #10
@jimmy999x Wow! It's the right one! I'll try this out if it's just as smooth as XOSP.

[2017-05-15 17:14] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26069794/98d9ae26-3978-11e7-8737-91008dc5b016.png)

I am working on those 3 roms, in xosp for the update to version 7.1.2

[2017-05-15 17:33] Spookcity commented on #10
@jimmy999x Awesome man! I hope all works out. I'm still very jealous of your build times :D

Edit:
Also,if XOSP builds OK for you I can add you as a contributor on the XDA thread,so you can edit and post the new build in the main post if you'd like of course.

[2017-05-15 18:36] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26073105/2f3f1012-3984-11e7-96c7-149fcd6aa1c7.png)

I am compiling another rom and downloading the resources of another rom, but I got this error with xosp

[2017-05-15 19:06] Spookcity commented on #10
@jimmy999x For the XOSP error. You need to either delete those lines in device/kminilte/overlay/framework/base/ res.....or,preferably add them to source/frameworks/base/core/res/values/config.xml

[2017-05-15 20:29] jimmy999x commented on #10
now get this
![image](https://cloud.githubusercontent.com/assets/21678167/26077904/1691b3a2-3994-11e7-9839-faafa8ac5d46.png)

[2017-05-15 20:50] Spookcity commented on #10
@jimmy999x I'm pretty sure that the cm_arrays file is not needed in this build. I could be wrong. I'd just delete it and build. It's all related to reboots and stuff,so if it builds and there's an issue with that then we known I was wrong about being able to delete it. Hehe

[2017-05-15 21:14] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26079771/4b32e756-399a-11e7-984e-49d0d4bc21f9.png)

mmmm

[2017-05-15 21:45] Spookcity commented on #10
@jimmy999x  Uhg,sepolicy errors,fun. Lol. The only thing off hand I can think is to just remove the line(s) that cause the error. These sepolicy errors can be a big pain in my experience.

[2017-05-16 15:15] Oleggluk commented on #12
"Kernel su-hide," is this going to help pass security? (Google Translate)
https://www.xda-developers.com/lineageos-change-log-9-jelly-as-the-default-browser-kernel-su-hide-and-more/

[2017-05-16 16:07] Spookcity commented on #12
@Oleggluk I don't believe so as Magisk hide seems to work on some other devices. There is a kernel patch by sultanxda that also has helped many other devices pass. I tried and it didn't work. I will look a bit more at that link though.

Edit:
If I can find the kernel patch I will add it to my kernel build though if I'm able as it does help with security.

Edit2:
[This is the patch](https://review.

[2017-05-16 19:10] jimmy999x commented on #10
https://drive.google.com/open?id=0BwYn4RX4lLh0dGtmWVRmR2dmdmc

candy rom :)

![screenshot_20170516-160948](https://cloud.githubusercontent.com/assets/21678167/26123709/3c55c47a-3a52-11e7-8c33-1d0f168b4248.png)
![screenshot_20170516-160940](https://cloud.githubusercontent.com/assets/21678167/26123710/3c5dcc9c-3a52-11e7-92bb-5f7896a8b6ec.png)

[2017-05-16 19:32] Spookcity commented on #10
@jimmy999x  Sweet! Thanks man! I will def try this out.

[2017-05-16 21:05] Spookcity commented on #10
**Spookcity_Kernel-N** - Test 5

Just a small update with [this patch](https://review.lineageos.org/#/c/170648/) applied.Thanks to @Oleggluk for pointing me to it. Just for people to test and let me know if it has caused any strange behavior.
**Download** - [Test5](https://drive.google.com/open?id=0B_rGv18gTmnVRXhQcXozOGs0Um8)
**Github link with patched files for our device** [su patch](https://gi

[2017-05-17 03:02] jimmy999x commented on #10
https://drive.google.com/open?id=0BwYn4RX4lLh0WXJ4RGh4THlYanc aoscp rom (CypherOS )

![screenshot_20170516-235924](https://cloud.githubusercontent.com/assets/21678167/26136730/0711cb50-3a94-11e7-834a-d436701e576b.png)
![screenshot_20170516-235919](https://cloud.githubusercontent.com/assets/21678167/26136731/07139782-3a94-11e7-8be4-f5286aeb933b.png)
![screenshot_20170516-235948](https://cloud.githu

[2017-05-17 05:50] ghost commented on #10
@jimmy999x CypherOS looks great! Could you send a screenshot of the quick settings panel? Also: Which of those three ROMs (including Liquid), is the fastest?

[2017-05-17 09:10] Spookcity commented on #10
@jimmy999x You are on fire! Thanks for compiling all of these ROMS! Its appreciated! I am fairly busy right now,but perhaps I could create an XDA thread for CypherOS sometime later if you'd like me to. Again,thanks!

[2017-05-17 13:04] Spookcity commented on #10
@StanNL CypherOS quick settings panel.
![screenshot_20170517-150052](https://cloud.githubusercontent.com/assets/15154102/26154998/04da43b6-3b12-11e7-9690-17a6d5f1b048.png)

[2017-05-17 14:47] Mrdream94 commented on #10
Hey! Does those Roms have OMS support?

[2017-05-17 14:55] Spookcity commented on #10
@Mrdream94 Many do yeah. I can't remember exactly which,but I've tested CypherOS and am now running CandyROM. Both of these support OMS. I like CandyROM. It seems very nice so far.

[2017-05-17 14:59] Mrdream94 commented on #10
Which do you think is better/faster? I'm still on your (amazing) beanstalk ROM but I wanna try other roms! I need a rom where i can shut off the light on capacitive buttons. Does is supported on any of these? Thank you guys

[2017-05-17 15:08] Spookcity commented on #10
@Mrdream94  It's difficult for me to say which is better or faster. I tend to change too quickly hehe. I can say that Cypher seemed nice, but I'm preferring Candy over that I think,but I don't see an option to disable capacity lights. I can't really remember about the other ROMS. LiquidROM was nice and includes nova launcher and V4A. Haven't tried ownROM,but jimmy999x said it was very similar to L

[2017-05-17 16:37] jimmy999x commented on #10
http://imgur.com/a/kMsBO Legend rom (LOS 14.1 With some added features)

https://drive.google.com/open?id=0BwYn4RX4lLh0U3RGYkdjZjlVSFE

If someone has any rom they want, can comment, I will try to compile it

[2017-05-17 17:00] Oleggluk commented on #10
@jimmy999x  MIUI 👍

Pacman rom

[2017-05-17 17:08] Spookcity commented on #10
@Oleggluk Zocker was working on MIUI. I think he was having problems though. I've never tried to build it,but I think its a bit different.
I was going to be done building new ROMS, but I downloaded TipsyOS sources and will be giving that a go.

Edit:
Pacman ROM appears dead. They are still on MM as their main branch and their nougat branch,last I checked was on 7.0 without any updates for many mon

[2017-05-17 17:30] jimmy999x commented on #10
I read about the instructions and it looks complicated, I guess I'll try to do it today or tomorrow, @Spookcity  is right, pac man is dead, at least for now

[2017-05-17 17:33] Oleggluk commented on #10
@jimmy999x  Are you talking about MIUI?

[2017-05-17 17:34] Oleggluk commented on #12
@Spookcity This kernel supports zRam? And how to set it up? (Google Translate)

[2017-05-17 17:53] Spookcity commented on #12
@Oleggluk I have not done or set up anything with zram. I believe I can do this as a init patch inside anykernel2 though. I will look more into it. I had it planned anyway. Maybe next test build.

[2017-05-17 17:53] jimmy999x commented on #10
yes, MIUI

[2017-05-17 18:25] jimmy999x commented on #10
https://drive.google.com/open?id=0BwYn4RX4lLh0OE1XSGRGeTZRU3c Does anyone know Chinese? LOL

[2017-05-17 23:39] Guntzog commented on #10
Hello, am new with this device and I specially want to thank @jimmy999x  and @Spookcity for they're wonderful job on this device and I have two little questions :
1- Why not make a telegram chat channel ?
2- Did anyone already tried to use dualbot patcher for multi-rom or I should be the first, since there is a lot of good ROMs here, I really want to use many.

[2017-05-18 00:17] jimmy999x commented on #10
http://imgur.com/a/VKAVa

https://drive.google.com/open?id=0BwYn4RX4lLh0Y1Y4WTFqM3dWUVE lineage aosgp (los 14.1 with too many features )

[2017-05-18 06:00] Oleggluk commented on #10
@jimmy999x  This is a good rom, a lot of settings, a good translation, smooth and fast, a terrible inclusion animation :D .. I'll leave it for a few days. Waiting for the update RESURRECTION REMIX, for me it is a favorite, unfortunately rarely updated. (Google Translate)

[2017-05-18 09:31] Spookcity commented on #10
@Guntzog  The telegram group was an idea that was tossed around a bit as well. In the end this seemed like an easier way to share things. I've never used telegram however.
Dualboot works just fine for our device. Been using it for awhile.
I always use the latest version from [Here](https://dbp.noobdev.io/)

[2017-05-18 12:43] Spookcity commented on #10
**Tipsy Rom 7.1.2 - NakedLadies v5.7**

Seems to be a pretty nice ROM after just a bit of testing.
**Download** [TipsyOS 7.1.2](https://www.androidfilehost.com/?fid=817550096634770135)
![screenshot_20170518-130303](https://cloud.githubusercontent.com/assets/15154102/26205864/59a2e052-3be3-11e7-8913-fd29709ccaa4.png)
![screenshot_20170518-130318](https://cloud.githubusercontent.com/assets/15154102/

[2017-05-18 12:59] ghost commented on #10
@Spookcity Wow there are so many new ROMs lately! There is one thing though: Tipsy was already built for our device...

[2017-05-18 13:10] Spookcity commented on #10
@StanNL Lol,oh by PsyAfter? I know he maintains the other 2 GZR's. Either way,I hadn't seen it and it was an easy build :D
I also didn't see it on GZR's AFH page for our device.

[2017-05-18 13:56] ghost commented on #10
@Spookcity Yeah he did make two GZRs, Tipsy and Validus, right?

[2017-05-18 14:00] Spookcity commented on #10
@StanNL I'm pretty sure he just maintains Tesla and Validus. I could be wrong though.
Either way,updated original Tipsy comment with some screens.

[2017-05-18 15:27] ghost commented on #10
@Spookcity Yeah I guess you're right. I'll try Tipsy in a second. It is going to take a long time to make XDA forums for every new ROM if you keep making them at this rate haha

[2017-05-18 15:34] Spookcity commented on #10
@StanNL Haha,well its mostly @jimmy999x at this point. This guy is a ROM building machine! :D
I'm unsure if I'll create an XDA thread for tipsy. I'm going to use it a for bit and decide.

[2017-05-18 15:41] Oleggluk commented on #10
@jimmy999x "lineage aosgp (los 14.1 with too many features )" Periodically, the button "home" does not work ((.
update someone please RESURRECTION REMIX, they added a vibro when connecting the call, I need it.(Google translation)

[2017-05-18 16:30] jimmy999x commented on #10
@Oleggluk Unfortunately I only compile roms, I do not know how to correct those errors, we can only hope that in the next builds that is corrected, now I'm compiling rr remix, Today I woke up very late, it's 1:31 pm here in Argentina

[2017-05-18 17:40] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26215715/ccbb31fe-3bd7-11e7-80fe-16a33619745a.png)

I think in an hour should be ready, maybe a little more, it is more or less what it takes to compile

[2017-05-18 18:06] Spookcity commented on #10
@jimmy999x You and your super fast build times hehe

[2017-05-18 18:57] jimmy999x commented on #10
https://drive.google.com/open?id=0BwYn4RX4lLh0ZnlNSXdUOVR3ZmM ready, not tested but ready, gl

[2017-05-18 19:03] Oleggluk commented on #10
@jimmy999x Do you have a nuclear reactor and a super computer at home? 🥇  So fast .. (google translation)

[2017-05-18 19:24] Oleggluk commented on #10
@jimmy999x Many thanks. Started. I will test. (Google translation)

[2017-05-18 21:01] jimmy999x commented on #10
I do not know what rom compile, any ideas?

[2017-05-18 21:28] Guntzog commented on #10
@jimmy999x  @Spookcity  guys wich gapps should i use, tryed nano it doesnt work, have to go with stock ?
Am downloading RR, its my favorite Rom

[2017-05-18 21:33] Spookcity commented on #10
@Guntzog [OpenGapps](https://github.com/opengapps/arm/releases)
I always use pico,but whatever should work.

@jimmy999x I think you've built every ROM hehe. I have no idea what other ROMS there are. You know more than me,cause I hadn't heard of a few of the ones you built.

[2017-05-18 21:38] jimmy999x commented on #10
@Guntzog Mmmm, pico worked well for always also, @Spookcity  what I will try to do is to make an optimized mm stock version

[2017-05-18 21:43] Spookcity commented on #10
@jimmy999x I think many people would appreciate an optimized stock MM ROM. Good luck!

[2017-05-19 03:10] jimmy999x commented on #10
any idea?
![image](https://cloud.githubusercontent.com/assets/21678167/26231725/7f265f4a-3c27-11e7-999c-09c0f8e33b96.png)

[2017-05-19 05:20] turbotorsten commented on #10
@Oleggluck
I'll publish a Resurrection Remjx Update.
Will take maybe 2 days

[2017-05-19 05:21] turbotorsten commented on #10
@Oleggluk * sorry

[2017-05-19 08:07] Spookcity commented on #10
@jimmy999x I'm unsure about your error. I mean you could obviously comment out/remove those lines,but I would try to clone a packages/apps/nfc from Lineage or another source and try.

[2017-05-19 09:20] Guntzog commented on #10
![20170519_101110 1](https://cloud.githubusercontent.com/assets/28767865/26241396/c65c1780-3c84-11e7-9c37-956b4bd3b27c.jpg)
@jimmy999x  liquid got stock in this waited 1h three trys

[2017-05-19 09:27] Spookcity commented on #10
@Guntzog Hmm, seems to be a Gapps issue. I had no problem with LiquidROM. Have you tried to flash without Gapps just to test?

[2017-05-19 09:50] Guntzog commented on #10
@Spookcity no i haven't, i will, and on jimmys rr n i block here everytime :

![20170519_104707 1](https://cloud.githubusercontent.com/assets/28767865/26242558/1e083bf4-3c89-11e7-8176-5a2be8bebdf2.jpg)

[2017-05-19 09:54] Spookcity commented on #10
Weird,I haven't tried RR,but I know  @Oleggluk has and it worked. You did a full wipe? I'm unsure off hand what may be causing these rather strange issues for you.

[2017-05-19 10:31] Guntzog commented on #10
Liquid worked fine, gapps issue, RR in XDA thread worked fine too, but the one in this thread you Jimmy, a clean flash always I hate dirty, I'll try to DL the file again maybe some files got currapted

[2017-05-19 10:35] jimmy999x commented on #10
Liquid works well for me, it's the rom I use now (it's the few compatible with am3d) rr was not tested by me, that's why I did not upload captures, it's weird, I'm going to download it to try

edit 1:
![screenshot_20170519-080403](https://cloud.githubusercontent.com/assets/21678167/26245338/03ae66d0-3c6a-11e7-9f84-c6a703105eb9.png)

Has worked well for me, without any problem, perhaps your file wa

[2017-05-19 11:34] turbotorsten commented on #10
Anyone got MIUI to work? Well I got it to install, seems to work, but it doesn't boot. Spookcity already pointed something out to me, I'll try more.

[2017-05-19 11:37] turbotorsten commented on #10
@jimmy999x
There is a guide to port Roms like MIUI and Flyme OS on a website called osbusters.
Also there is a good guide on XDA if you search guide complete build MIUI.

[2017-05-19 13:36] jimmy999x commented on #10
Well, I'll try to see some tutorial or read how to do it, wish me luck

[2017-05-19 14:39] Spookcity commented on #10
Here's a couple of MIUI related repos. May be helpful. I have no idea.

[Galaxy S3](https://github.com/nian0114/patchrom_miui_m0)

[PatchROM build](https://github.com/nian0114/patchrom_build_public?files=1)

[PatchROM tools](https://github.com/nian0114/patchrom_tools_public)

[2017-05-19 16:45] Guntzog commented on #10
@jimmy999
![screenshot_2017-05-19-11-41-57 1](https://cloud.githubusercontent.com/assets/28767865/26258036/32f93394-3cc3-11e7-9bc5-ad4843c01d29.png)
x your roms boot but i have this when flashing :

[2017-05-19 17:00] Spookcity commented on #10
@Guntzog This is no problem. I haven't seen that in awhile,but it was present in some ROM builds. It creates no issues

[2017-05-19 18:36] Guntzog commented on #10
I had to install mini gapps and delete those bloatshity apps manually to get app store working :(

[2017-05-19 19:10] turbotorsten commented on #10
@jimmy999x
What Computer do u use? Some vServer?
Or do you have a server at home?
Could I see some specs? And build times?
I'm interested.

[2017-05-19 19:15] Oleggluk commented on #10
@Zocker1304 At his home nuclear reactor and computer "Sunway TaihuLight" with a speed of computing 93 petaflops (maximum speed - 125.43 petaflops) 🥇 :D

[2017-05-19 19:47] jimmy999x commented on #10
@Guntzog Is very rare, as you saw, I could install the rom without any problem and I took captures for you.
@Zocker1304 I use google cloud, its virtual machine, I always configure it with 8 cores, 2tb of hard disk and ubuntu 14.04, the internet if I am not mistaken it is of 1gb, each source code, it takes about 10 min in download and the roms take in compiling 1 hour approximately, which took the

[2017-05-19 20:24] Oleggluk commented on #10
TWRP 3.1.1 is Out. Can anyone update?
https://www.xda-developers.com/twrp-3-1-1-is-out-brings-minor-fixes/

[2017-05-19 20:45] jimmy999x commented on #10
@Oleggluk Do not do that, but every time I compile the 14.1 leave me an image recovery, I guess that's what you're looking for, I do not know if doing that can get the update, I'll try

[2017-05-19 21:12] turbotorsten commented on #10
@jimmy999x also thought about that, but what do you pay for it?

[2017-05-19 21:17] jimmy999x commented on #10
No, no payment, I use the free trial, 300 usd in credit that equals the vm turned on continuously 20 days, but I discovered that you can use the same credit card in several accounts

[2017-05-19 21:28] Guntzog commented on #10
@jimmy999x  Yes I confirm that RR is bugless and magnificent ! Thank you for the good job :)

edit : screen turn black when i call someone, can't or get it back on unless the call ends on @jimmy999x 's RR N

[2017-05-20 00:46] jimmy999x commented on #10
:(

[2017-05-20 07:37] Guntzog opened #17 "Dialer BUG"
Hello,

Am facing a new Bug i have no idea how it happened.

When i call a number with The AOSP dialer, The screen turns black and no action possible, except ending the call (able to do that with the Power button Call end), i was thinking that it was a ROM RR N bug at the beggining, Flasher another MM, Liquid and BeanStalk... Same Bug, re-downloaded Rom, Full Data system Cash.. Wipe Clean Flash, s

[2017-05-20 07:55] Oleggluk commented on #10
@Guntzog Your phone is cursed.
@jimmy999x Everything works great. The three of us installed RR, no one has any problems. Thank you again (Google Translate)

[2017-05-20 08:01] ghost commented on #17
I think that's because the screen gets "blocked" when calling, so that you don't accidentally press any buttons with your cheek when holding the phone to your ear.
The device shouldn't always block the display, but only when there's something (probably the side or your head) nearby. It checks that using the proximity sensor, which is one of the black dots on the top of your phone.  When that senso

[2017-05-20 10:08] Guntzog commented on #17
It is so clean, do you think i should take the Cover Glass off ?

[2017-05-20 10:45] Spookcity commented on #17
@Guntzog I highly recommend not doing that. It's not so easy and there should be no need in this situation. I'm not sure what else could be causing this problem. I'll think some on it, but what @StanNL said really sounds to me like it should be the solution.

[2017-05-20 11:36] Guntzog commented on #17
i can not think of something else triggering the proximity sensor, it's so Clean, if it is not the Screen Protection Glass (shield) then what else ? Hw problem ?

[2017-05-20 12:12] Spookcity commented on #17
@Guntzog Perhaps,I'm unsure. Grab a log for me while having this problem and I'll have a look. Although I don't really expect to see anything,but who knows.

[2017-05-20 12:42] ghost commented on #17
@Guntzog Try installing a "Proximity sensor check" app.

[2017-05-20 15:23] Oleggluk commented on #5
Which fingerprint sensor is installed in our phone? Are there any other new phones with the same sensor? And the official android 7. Is it possible to get out the libs of the fingerprint from there and make it to our phone? (Google Translate)

[2017-05-20 15:49] Spookcity commented on #5
@Oleggluk I honestly have no idea about this. I can look into it at some point though.

[2017-05-20 15:49] Guntzog commented on #17
EDIT : I reset the sensor and force closed it now am good, thanks so much guys

![screenshot_20170520-164804](https://cloud.githubusercontent.com/assets/28767865/26277053/ad16af0a-3d84-11e7-9de1-59355d5b3479.png)

[2017-05-20 16:03] ghost commented on #17
@Guntzog https://play.google.com/store/apps/details?id=com.tigermonster.proxfinder
Try this app and see if it properly alternates between 0 and 5 cm when you move your finger away from and towards the sensor

[2017-05-20 16:08] Guntzog commented on #11
I think am Gina stick to this ROM,  the best for me, GJ @Spookcity  🥇

[2017-05-20 16:11] Spookcity commented on #11
@Guntzog This is probably my favourite ROM. There's just something about it. I'm going to try to update it to v4.2 sometime this week.

[2017-05-20 16:42] jimmy999x commented on #10
@Oleggluk Where are you from? what language do you speak?

[2017-05-20 16:43] Oleggluk commented on #10
@jimmy999x Everyone's favorite Russia :D . Russian language.

[2017-05-20 16:48] jimmy999x commented on #10
@Oleggluk Definitely you have the best president in the world

[2017-05-20 17:00] Oleggluk commented on #10
@jimmy999x Ha ha ha ha. For foreigners, there can be a better one. If an official stole 5 billion rubles, then he is 3 months of house arrest. And if I steal a bag of potatoes, then 5 years in prison. And there was a law on which all calls, sms, social networks, everything, will be stored on the server and transferred to special services. That directly violates the constitution of the Russian Fede

[2017-05-20 17:13] jimmy999x commented on #10
@Oleggluk It sounds hard, very hard, but at least its president is more competent than the one in the country where I live (I'm Peruvian but I live in Argentina) mauricio macri is an inept man who caused an inflation of 400% in just 1 year of government, his President was a member of the kgb, our president was a rich boy who was president by mere whim and all his work team in his last electoral ca

[2017-05-20 17:18] Oleggluk commented on #10
@jimmy999x You know more about our president than Russian)). I do not like to talk about politics on a sober head)). They moved away from the topic. How's it going with MIUI? (Google Translate)

[2017-05-20 17:20] jimmy999x commented on #10
@Oleggluk Unfortunately for now I stopped miui, since I do not understand some things and I need to read more to know how everything works

[2017-05-20 17:25] Oleggluk commented on #10
@jimmy999x "Moscow was not built in a day") . Good luck.

[2017-05-20 17:52] Guntzog commented on #11
That would be grate, the only bad thing is that gogogle anim x) expect that it's my favorite too

[2017-05-20 18:33] ghost commented on #17
And? What are your results?

[2017-05-20 18:56] Guntzog commented on #17
@StanNL I edited the post with the photo, I used it, the app accidentally FC'ed and asked me tobreset the Prox sensor and restartedbsys UI, and after that all became good

[2017-05-20 19:03] ghost commented on #17
@Guntzog Well: as long as it works, right?

[2017-05-20 19:14] Guntzog commented on #17
Yess, it was weird but I think as you sad, the distance was set too close and the app reseted it to default 5cm, now am happy :D

[2017-05-20 22:09] jimmy999x commented on #10
http://imgur.com/a/vhyBM suda mod (I do not know how to describe this rom, it's 14.1 with few languages, less than normal, I think the developer is Chinese, I do not recommend it, but anyway, I leave it)

https://drive.google.com/open?id=0BwYn4RX4lLh0cFJjVlhrVmlTdFU

[2017-05-20 22:21] Guntzog commented on #10
@Oleggluk I believe so, but the curse is gone now and all good.
And by the way, AOX is way faster than RR, battery back up too, one thing better in RR, is disabling HW key light, can't find it in AOX

[2017-05-21 02:02] jimmy999x commented on #10
http://imgur.com/a/mqogn FireHound rom (los 14.1 with some features) https://drive.google.com/open?id=0BwYn4RX4lLh0c1hpWWJXb1JmUUk

[2017-05-21 07:56] ghost commented on #10
@Guntzog Which ROM are you talking about? Do you mean AEX or is there another ROM that I haven't heard of?

[2017-05-21 08:11] ghost commented on #10
@jimmy999x You asked for some ROM suggestions or other things that you could build, and I stumbled across these:
- DirtyUnicorns
- PacRom
- BlissPop
- OmniRom

Those were just a few that I found and it's up to you to decide which you'd like to build.
Maybe some of them have already been built for our device or they don't exist anymore.

[2017-05-21 08:52] Spookcity commented on #10
great work @jimmy999x ...As far as ROMS. I have built Omni and Dirty Unicorns,both probably 4 or 5 months ago. DU was a bit difficult to build. Omni was rather easy. The problem...Neither would boot. I grabbed logs and saw that is was related to an init problem,but was unable to fix it at the time. Perhaps their repos have resolved this by now. I'm unsure.

Edit @StanNL I'm pretty sure he was refe

[2017-05-21 09:14] Guntzog commented on #10
@StanNL I am, AEX*

[2017-05-21 13:44] jimmy999x commented on #10
@StanNL With du comes to a point in the repo sync where I request access to a repository of github to which I do not have access, pac man is dead I think, it is still by version 7.0, with bliss when downloading and installing the patches arises an error, I do not remember what happened with omni, but I'll still try today anyway

[2017-05-21 13:52] Spookcity commented on #10
@jimmy999x Good luck with Omni. It was a fairly easy build if I remember correctly,but apparently the way DU and Omni handle their init procedure is different and it never booted past that for me,even with some changes I made. Hopefully this has changed.
What patch errors did you have with bliss? I've had errors with the services/telephony patch on a few ROMS. If that's the error its a very easy f

[2017-05-21 15:21] jimmy999x commented on #10
@Spookcity really? I have stopped compiling about 8 or 9 roms, maybe more for that error LOL. how can I solve that?

[2017-05-21 15:35] Spookcity commented on #10
@jimmy999x Go to the patch folder in the smdk common folder. Open the telephony patch. I believe it patches the manifest.xml in services/telephony. I'm not 100%,but the patch file will tell you what file it patches as its just 1 in this case. Open that file that needs patching and you simply need to paste the 3 lines with the ± next to them in that file (minus the +)
It's not super important where

[2017-05-21 16:32] jimmy999x commented on #10
I did not understand anything, what lines do you mean? I am downloading the source code of bliss, so I share some images so I know what I should do

[2017-05-21 16:47] jimmy999x commented on #10
http://imgur.com/a/of1D5 dnd rom (DarkNess-reDefined) https://drive.google.com/open?id=0BwYn4RX4lLh0WFB3c2t1SGVXZFE

[2017-05-21 16:52] Spookcity commented on #10
@jimmy999x Sure that's fine. Trust me,its super easy.

[2017-05-21 16:57] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26285800/4c2e6ba2-3e2d-11e7-84e0-93dd718a0e75.png)

The above text is the file inside the folder common and the one below the manifest that you mention

[2017-05-21 17:07] Spookcity commented on #10
Do you see the 4 lines with the + next to them in the smdk common file? These are what you need to copy and paste. The one ± is just an empty line though.
However,what file is the second one? Its not the right one. I think it should be in packages/services/telephony. Is that the androidmanifest.xml you have opened?

[2017-05-21 17:12] jimmy999x commented on #10
Well, apparently I have confused, bliss gave me problems to patch the framework, not telephony, anyway, I will try again with the roms that gave me that problem, I know how to solve it, thank you very much

[2017-05-21 17:16] Spookcity commented on #10
No problem. The reason that most patches fail is because the line numbers don't line up with the file it is trying to patch. All of the patches can be applied manually using the copy/paste method,but it becomes very time consuming when its patching many lines or multiple files.
Either way,good luck!

[2017-05-21 19:20] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26286667/46dac0ce-3e41-11e7-9da3-e852479958dd.png)

When I made a mistake with the ril of samsung when applying the patch, I went to apply again and got this, any ideas?

[2017-05-21 19:43] #17 closed

[2017-05-21 19:48] Spookcity commented on #10
Hmm, I've had this before,but can't remember what the cause was. Perhaps repo sync again,which will overwrite all of the patches and then try to patch again.

[2017-05-21 21:01] jimmy999x commented on #10
http://imgur.com/a/Zylaa After applying the patches the previous problem is corrected, but now I get this problem

[2017-05-22 08:23] Spookcity commented on #10
@jimmy999x Did you figure this out? I'm a bit unsure of this as well. I don't remember having problems with that patch before. I always recommend trying a clean source and then patching again. Sometimes this will solve these problems. You can obviously do the same copy/paste thing with this patch as well,but it is more difficult/time consuming as it patches multiple files.

[2017-05-22 12:59] Spookcity commented on #7
**Slim 7 Changelog**
Changes from last build (0.19) to 0.24
**Note SlimLauncher was still broken,so I removed it and added Nova Launcher**

**0.24**

- art: runtime: support kryo for 32bit
- bionic: Add support for kryo
- fw/av: Revert AudioSessionInfo API Bug #164
- fw/base: Translation update, Add support for pause & resume Download manager
- fw/native: sensorservice: Fix orientation sensor for

[2017-05-22 12:59] Spookcity commented on #2
I have updated Slim 7 to beta 0.24
**Download the ROM**  [Slim 7.1.2 beta 0.24](https://www.androidfilehost.com/?fid=889764386195901081l)
**XDA Thread**  [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-slim-rom-7-nougat-t3558926)
**Changelogs** [Changes](https://github.com/Spookcity/ROMS-G800F/issues/7#issuecomment-303092649)

[2017-05-22 13:28] Spookcity commented on #10
**Spookcity_Kernel-N** - Test 6

**Note** Any following test builds will probably be for the sole purpose of me trying to get the synapse interface right. Hopefully I will be able to and will get feedback from people on it. After that I will create a proper XDA thread for this kernel.

- Unlocked 1500mhz CPU frequency
- Unlocked 200 and 300mhz CPU frequencies
- Full synapse support still,but the a

[2017-05-22 13:39] Oleggluk commented on #10
@Spookcity Without changing the voltage control, lowering the frequency to 200-300 does not reduce battery consumption. It seems so to me. (Google Translate)

[2017-05-22 13:43] Spookcity commented on #10
@Oleggluk You are probably correct about that. Voltage control is the next thing I want to try to mess with when I have some time. Hopefully I will be able to achieve this sometime soon.

[2017-05-22 13:44] Oleggluk commented on #10
@Spookcity RESURRECTION REMIX, test6, the phone booted without problems. I will test. For me, the problem is to use synapse, there is no translation into my language., Tuning by typing)). (Google Translate)

[2017-05-22 13:49] Spookcity commented on #10
@Oleggluk Great! Please let me know your findings. Kernel Adiutor will always work. I would just like to get synapse working properly because I really like it...if it works right. However, it will be on the "back burner" as I would rather have a feature rich, stable kernel without synapse then spend massive amounts of time on synapse, which is by no means necessary.

[2017-05-22 15:35] Oleggluk commented on #10
@Spookcity In synapse again, the error zzmoove. In Kernel Adiutor it seems like there is no such problem with zzmoove, I do not like it (which profile is better for saving the battery?). The sound recording is clean, with headphones no problem. He did not notice any problems. Can I add the governor InteractiveX, SmartassV2, SmartassH3? And voltage control, and the start button of a nuclear reactor

[2017-05-22 15:57] Spookcity commented on #10
@Oleggluk Thanks for the feedback! I have this as well with zzmoove in synapse. I think its related to permissions with the profiles,but am unsure. I've had an issue, only rarely in kernel adiutor, where I go into the "CPU governor tunables" with zzmoove selected and it says its not tuneable, even though it is. I believe its the same reason. I will look into more.I always use profile 2 with zzmoov

[2017-05-22 16:35] Guntzog commented on #3
@Oleggluk is a huge fun of RR :p
My recommandations for a customizable, smooth, almost bugless and a (A-) battery : Resurrection Remix and AEX nougat

[2017-05-22 17:53] ghost commented on #3
My personal preference goes out to XOSP and LiquidROM. I may be a very 'special' user, because I highly focus on speed. Therefore, XOSP is my favorite ROM at the time of writing. However, I'm not a big fan of the Sony-based UI, so I am currently using LiquidROM and I must say that I really like it.

Edit: You can download LiquidROM from the Test Builds section. It is in Jimmy's first comment.

[2017-05-22 18:05] Spookcity commented on #3
I liked liquidROM as well. It was nice and fast. I just can't get away from AEX for customization options and Slim for a faster,not much there type ROM. Those are my 2 favorites as of right now.

[2017-05-22 18:14] Igor9393 commented on #10
Ты спокити молодец ядро на 1.5 ГГц,  это хорошо, но вот чувствуется разница именно для меня важны частоты ,как например на киткат  версии 4.4 стабильное ядро в 1.6 ГГц;  сразу чувствуется скорость и usb utg ,все работает, хотелось бы шагнул вперёд и увидеть после надеюсь стабильного 1.5 ГГц ,1600 , это будет неоценимый вклад,были ядра и на 1700 но не доработанный так их и забросили, за бы хотя-бы

[2017-05-22 18:16] Spookcity commented on #10
@Igor9393 I'm really going to hope that @Oleggluk sees this and can help you because I don't understand any of that. Apart from the numbers. Hehe

[2017-05-22 18:30] Oleggluk commented on #10
@Spookcity This writing is difficult to understand even in their native language)). :D

[2017-05-22 18:31] Oleggluk commented on #10
@Igor9393 https://forum.xda-developers.com/galaxy-s5-mini/orig-development/kernel-custom-kernel-t3130662

[2017-05-22 18:31] Igor9393 commented on #10
Текст сократили и ничего не понятно,  в крае,  спокити молодец  1500 ГГц это хорошо,  но хотелось продолжать дальше и выйти на 1600 ГГц как в версии киткат  4.4 , и было бы хорошо если на официальную 6.0.1 выпустили ядро обновлённые, большое спасибо всем кто трудится с ядрами ,они изюминка телефонов и очень важны.

[2017-05-22 18:36] Igor9393 commented on #10
The text is cut and nothing is clear, in short, specity done 1500 GHz is good, but I wanted to continue on and exit at 1600 GHz version of kit kat 4.4 , and it would be nice if the official 6.0.1 released - updated, big thank you to all who are working with kernels ,they are the highlight of the phone is very important.

[2017-05-22 18:39] Igor9393 commented on #10
Я в угораю с переводчика прислал на английском так перековеркано все ,блин реально ржака

[2017-05-22 18:39] Igor9393 commented on #10
Я угораю с переводчика, прислал на английском там перековеркано все ,блин реально ржака

[2017-05-22 18:43] Oleggluk commented on #10
@Igor9393 Да тебя и по-русски хрен поймёшь. Я же выше написал тебе ссылку на кастомное ядро под сток 6.0.1. Здесь ядро только под кастом 7.1.2

[2017-05-22 18:44] Spookcity commented on #10
@Igor9393 Thanks for translating. I do plan to OC the CPU to 1600,perhaps 1700mhz. I'm a  bit unsure of what you mean with KitKat version. I assume you want a stock Samsung kernel based on 6.0.1. This is based on those sources,but yeah I don't plan to release a touchwiz version sorry.

[2017-05-22 18:47] Igor9393 commented on #10
Не знаю даже, я то ядро пробывал, телефон в бут луп уходит,а про 7 .1.2 я тоже им пользуюсь от времени...

[2017-05-22 18:57] Igor9393 commented on #10
Спокити, я приводил в пример kitkat версию 4.4 , так как на него было выпущено стабильное ядро с 1.6 ГГц,  хотелось бы на неофициальном рома иметь стабильное ядро ,потому что не разу не видел ,что пак-ром тоже не стабилен, а на других

[2017-05-22 18:57] Spookcity commented on #10
Thanks @Oleggluk!

[2017-05-22 18:58] Igor9393 commented on #10
В большинстве  только твои хороши на 1.5 ГГц,  и было бы очень  хорошо если шагнули на шаг в перед в этом

[2017-05-22 19:02] Igor9393 commented on #10
Thanks spookcity , и Oleggluk

[2017-05-22 20:02] Igor9393 commented on #10
Установил ядро на 6.0.1 получилось,не знаю почему был бут луп,  жаль на 1,6 не разработано,  остановилось на 1.5 (

[2017-05-22 20:02] Igor9393 commented on #10
Установил ядро на 6.0.1 получилось,не знаю почему был бут луп,  жаль на 1,6 не разработано,  остановилось на 1.5 (

[2017-05-22 20:21] Oleggluk commented on #10
@Igor9393 http://www.kakprosto.ru/kak-9877-kak-sostavit-pravilno-predlozhenie

[2017-05-22 20:36] aykxt commented on #5
Could you please add support for Ambient Display? If I search it in settings it shows me an option but when I click on it shows me the high touch sensitivity option instead of Ambient Display...

[2017-05-22 21:06] Igor9393 commented on #10
Не подскажете парни ,был уже такой вопрос ток не здесь. При перезагрузки телефона ,WiFi не запоминает пароль,приходится заново вводить, подскажите что делать?  Спасибо заранее.

[2017-05-23 09:13] Spookcity commented on #5
@aykut78  Good to see you here! As far as ambient display...What ROM are you referring to because I know some have it. I personally don't really use it,so I don't know. I assume it would just be a matter of cherry-picking the appropriate commits to get it working though.

[2017-05-23 09:19] Guntzog commented on #11
I activated battery saver yesterday with 20%, I woke up and it's still 20% !
This became my favorite too. Waiting for uptade @Spookcity you van add features?

[2017-05-23 09:26] Spookcity commented on #11
Technically,most features can be added by cherry picking the needed commits. Some are easy and some much more difficult. I built a very customized version of slim 6 with optimized toolchains and added apps etc. I am still planning on doing this for a nougat ROM as well. I've just been trying to decide between AEX and slim 7.

[2017-05-23 11:42] Oleggluk commented on #12
Kernel test6, did anyone notice strangeness with charging? The phone is faster charging.

[2017-05-23 11:57] Guntzog commented on #11
If can I request features: controlling hw buttons light and commands :)

[2017-05-23 12:11] Spookcity commented on #12
@Oleggluk I have not noticed that,but I will try to pay closer attention and see..Better faster than slower though, right? :D

[2017-05-23 12:13] Spookcity commented on #11
I am just going to build the "standard" ROM this time around. Perhaps they have even added such a feature in v4.2. If not I will look into that for a future build.

[2017-05-23 12:14] aykxt commented on #5
@Spookcity I'm using LineageOS 14.1 (20170515)

[2017-05-23 12:32] Spookcity commented on #5
@aykut78 Maybe try one of the Lineage based ROMS that jimmy999x has posted? A lot of these have added features and may have that. I really don't know. However, I don't build LOS as there are enough people already building.

[2017-05-23 12:38] Oleggluk commented on #12
@Spookcity Fast charging is good. The main thing is not to discharge quickly. I'll watch it. Is there news about the new TWRP?

[2017-05-23 12:44] Spookcity commented on #12
@Oleggluk Indeed! As far as TWRP,if ayke doesn't have a new build out sometime soon and I have the time I will try to build an update.

[2017-05-23 14:20] Igor9393 commented on #10
Замена значений  true на false не помогает

[2017-05-24 12:13] Oleggluk commented on #12
Unfortunately the core test6 is a large discharge of the battery. Who has the same?

[2017-05-24 12:41] Spookcity commented on #12
@Oleggluk Very strange. I haven't really noticed this. The only reason would be the 1500mhz CPU frequency I think,because that's all I changed from test5.
It was only a few changed lines of code as well to unlock those frequencies as Samsung already has them there. It was just a matter of getting them to be used. I'll keep an eye on my battery life.

Edit:
I enabled zzmoove's input boosters as wel

[2017-05-24 14:04] Spookcity commented on #11
**AEX Changelog**

**AEX V4.2**

- Merged May Patch 7.1.2_r8
- Updated Packages and Translations
- Updated pre-built APKs
- AEXPapers is back
- New AEX OTA
- Droped Lock Clock
- Switched to OmniJaws
- CAF Sound Recorder
- Keyguard Status Bar clock and Weather
- Nav Bar Button Tint
- Improve​d Screen Pinning
- SystemUI Restart
- Updated Sounds
- Processor Info in about phone
- Kernel Enforcing and

[2017-05-24 14:06] Spookcity commented on #2
I have updated AEX to v4.2
**Download the ROM** [AEX 4.2](https://www.androidfilehost.com/?fid=817550096634771661)
**XDA Thread** [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aospextended-rom-v3-3-t3573531)
**Changelogs** [Changes](https://github.com/Spookcity/ROMS-G800F/issues/11#issuecomment-303733908)

[2017-05-24 18:10] jimmy999x commented on #10
Hello guys, greetings to all, almost could not use the internet, I was busy, I would like to compile some roms, any ideas?

[2017-05-24 18:17] Oleggluk commented on #10
@jimmy999x RESURRECTION REMIX :D

[2017-05-24 18:20] Oleggluk commented on #10
@jimmy999x Find the theme of the firmware of the most popular phones., There often a lot of interesting firmware are collected. From there you can take ideas. (Google Translate)

[2017-05-24 18:24] Spookcity commented on #10
Good to see you back @jimmy999x
I have no idea about other ROMS really,but I'm sure someone will.

[2017-05-24 18:36] Oleggluk commented on #10
@jimmy999x CarbonROM

[2017-05-24 18:37] jimmy999x commented on #10
@Oleggluk I already compiled rr remix, it is higher on the web, I uploaded it, I already did that, I looked at the most popular models, s5, one plus, google pixel and nexus, I will continue searching, anyway thanks, There was a problem with carbon, I'll try to compile now

edit 1:
![image](https://cloud.githubusercontent.com/assets/21678167/26420742/f920cd14-4099-11e7-93ed-4df60f76f152.png) I alwa

[2017-05-25 07:27] ghost commented on #12
You mentioned adding 1.6 or even 1.7 GHz to this kernel, but I was wondering how high this thing can go?
I'd like to test basically anything, even if it's untested, since I am willing to do everything that improves performance, even if it's at cost of battery life.

[2017-05-25 08:04] AshVo925 commented on #12
I second StanNL,now that I'm accustomed to this rom I would love pushing it to its limits,battery life isn't much of an issue for me either.. oh btw,which kernel for AICP anybody recommends?

[2017-05-25 08:33] Spookcity commented on #12
@StanNL and @AshVo925 I'm unsure how far it will go. I would assume 1800 would be the max. Doesn't mean it would be stable at all though. I am going to try and see though. Sadly,I have time now and was planning on it,but an open SSL update completely broke my arch Linux,so now I need to spend this time hopefully fixing this. Oh how I love and hate arch lol

[2017-05-25 09:56] Guntzog commented on #10
@jimmy999x Look at the cell standby battery used in you RR N !! With the is, soo drainful, the phone was a sleep, 0% screen use

![screenshot_20170525-105048](https://cloud.githubusercontent.com/assets/28767865/26445680/1af79a10-4141-11e7-8978-eac75cff1867.png)

[2017-05-25 12:12] ghost commented on #12
@AshVo925 Well, there's only one kernel for AICP (of any other Nougat ROM), which is Spookcity's kernel!

[2017-05-25 12:16] ghost commented on #12
@Spookcity 1.8 GHz would actually be pretty decent for a modern phone. So if you could ever make that possible for our device, that would be awesome! I have no clue how Linux works (on PCs), so I wish you the best of luck with resolving your issues, since I won't be of much help

[2017-05-25 12:17] Spookcity commented on #10
@jimmy999x I'm unsure why you're getting that error with that patch. You can do what I recommended for the telephony patch with this as well though. It's a bit more difficult as I believe it patches 3 or 4 files,but its not too many lines added or removed if I remember correctly.

[2017-05-25 12:18] AshVo925 commented on #12
Lol sorry I completely misunderstood my own words there,I would love to max out my phone is all StanNL,thanks for pointing out my mistake and thanks for all the hard work Spookcity, I'll try to test as much an assist you all in any way I can😅

[2017-05-25 12:21] ghost commented on #12
@AshVo925 Well, I was able to completely understand your comment, but with my comment, I was referring to your last sentence:

[2017-05-25 12:38] Mikahlo commented on #10
@jimmy999x Hi there! Could you try to build a [VanirAOSP](https://github.com/VanirAOSP)?
My first phone with a touchscreen was a Samsung Ace2, and this ROM was my favourite back than.
It was based on CM11 with only minor tweaks, but the result was a solid, very battery friendly and smooth ROM.

[2017-05-25 12:43] Spookcity commented on #12
@StanNL Thanks, I will try my best. I hope it will work and be relatively stable as well. As far as my Arch Linux problem,luckily I have 3 partitions my root,home and a separate one I that keep ROM sources on. I had to completely reinstall the OS,which is annoying,but I haven't lost much thankfully. Now I just need to get things setup...again.

[2017-05-25 16:00] jimmy999x commented on #10
@Guntzog I'm sorry, as I said earlier I do not know how to correct those errors, I only compile roms, but anyway I'll try to see what I can do
@Spookcity Is there any way to apply the patches manually? Approximately how many files are affected? If I patch another ROM and replace those files, would it be the same?
@Mikahlo I tried to compile vanir, but I got problems with the patches, anyway, I'll

[2017-05-25 16:38] Spookcity commented on #10
@jimmy999x You're right,with that patch,since its just from the hardware/Samsung directory and not ROM specific, you probably could just copy over the whole hardware/samsung folder from a ROM where the patch succeeded.

[2017-05-25 16:48] jimmy999x commented on #10
@Spookcity Well, then, I'll try, now I'm trying to use this: https://forum.xda-developers.com/android/software-hacking/llvm-clang-dragontc-future-t3318386

[2017-05-25 16:59] Spookcity commented on #10
Yes,I have a few self built dragontc toolchains in my toolchain repo on here. They seem nice,but be prepared to solve a few errors. Especially if you use anything higher then 3.8

[2017-05-25 17:02] jimmy999x commented on #10
Of the errors is learned, also makes the compilation more satisfactory, I installed the 5.0 version I think

[2017-05-25 17:15] Spookcity commented on #10
Yeah, I'm not sure I've ever been able to build using anything above 3.9,but its been awhile since I've tried.

[2017-05-25 19:38] jimmy999x commented on #10
http://imgur.com/a/EDNOV Vanir is ready, lucky :) if you find some error, let me know, maybe I can correct it @Mikahlo https://drive.google.com/open?id=0BwYn4RX4lLh0blZHVWhmeEF0TzA

[2017-05-25 20:09] Mikahlo commented on #10
@jimmy999x You are insane xD thanks for the vanir! I'm going to test this right now. I'll report at the weekend, so I can run this a couple of days/hours. That should be pretty much every possible ROM for the s5 mini now :)

[2017-05-25 20:40] Spookcity commented on #10
Great job @jimmy999x I will surely try this ROM out!

[2017-05-25 20:42] jimmy999x commented on #10
@Mikahlo There are many roms that I have not compiled yet, many are copies of the most famous, but anyway I will try, there were a dozen roms that I could not compile for some errors (I now know how to correct them or I think), so now I still compile roms, in fact now compile pure nexus,

[2017-05-25 20:44] Oleggluk commented on #10
@jimmy999x  And MIUI too?

[2017-05-25 20:46] jimmy999x commented on #10
@Mikahlo Miui has a different process, it involves modifying files, I tried to make one, to test but it did not start, I do not know exactly what I did wrong, for now that project is paused, at least on my part

[2017-05-26 07:32] Oleggluk commented on #10
Anybody can tell me 5 differences from the VanirAOSP from LineageOS 14.1. I found only 2 differences, this is the desktop wallpaper and a new emblem in the "about phone" item. : D

[2017-05-26 07:40] Spookcity commented on #10
@Oleggluk I have no idea. I have  yet to try it out. One would imagine that there has to be some "under the hood" differences. Otherwise what's the point? I don't know though. It's the same with Mokee. It seemed just like LOS14.1,but I have to assume that there are some unseen tweaks or something going on.

[2017-05-26 13:16] Oleggluk commented on #12
I'm waiting for the kernel test 7 with new security patches from hennymcc)
https://forum.xda-developers.com/showpost.php?p=72437401&postcount=807

[2017-05-26 14:02] Mikahlo commented on #10
@Oleggluk @Spookcity There is no visual difference between LOS and VanirAOSP. The battery lifetime is the difference. With a VanirAOSP you can achieve insane standby times and sots, without loosing functionality or smoothness. I believe they remove some tracking features of LOS and rewrite some code to be more efficient. Back in the CM days, the ROM had some visual differences like a vanir inverte

[2017-05-26 14:36] jimmy999x commented on #10
@Mikahlo Maybe they changed the base, now I'm trying to compile other roms, any ideas?

[2017-05-26 14:53] Spookcity commented on #10
@Mikahlo Yeah I'm sure there are unseen changes to try to improve upon LOS. Otherwise there would be no real point if it was just Lineage.
@jimmy999x Did you ever try to build CosmicOS?

[2017-05-26 14:56] Spookcity commented on #12
@Oleggluk Yeah, I've been talking to him about this. His work on our device is to really be commended. Where would we be without him?!I I will try to get these patches in my kernel soon. I hope it is not a big problem to do so.

[2017-05-26 15:42] Mikahlo commented on #10
@jimmy999x I have no track of which ROM there is already for the s5 mini. What comes to mind is a dirty Unicorn ([github](https://github.com/dirtyunicorns)) or Paranoid Android ROM ([github](https://github.com/AOSPA)).
Regarding your VanirAOSP: everything I tested works so far. The damn battery won't deplete anymore xD
@Spookcity Some of the ROM developers just don' t go for maximum customization

[2017-05-26 15:44] jimmy999x commented on #10
@Spookcity Every now and then I try to compile it, every time I get closer, I'm going to try number 54684214

@Mikahlo With du, I seem to get to a point in synchronization that asks me for access to a private repository or that does not exist

[2017-05-26 17:14] Spookcity commented on #10
@jimmy999x Haha,well maybe this try will be the one! If not maybe 54684215 :D
The DU problem I would assume is related to an improper tag or something on DU's part. I don't know. I synced up and built I guess 4 months ago and didn't have an issue then... With the syncing,the build didn't boot lol

[2017-05-26 17:25] Oleggluk commented on #10
Can I build a Paranoid Android ROM?

[2017-05-26 17:50] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26506358/9beb1214-4222-11e7-87be-2cb586211e12.png)

I got that error when trying to compile cosmic, I even did after "repo sync"

[2017-05-26 18:07] Spookcity commented on #10
@jimmy999x Yes,this is the exact same error I had with it. I didn't spend too much time on it,but never sorted it out. For some reason its not picking up,or its looking in the wrong location for the ril.h file. It is def there. My guess is its some conflict with the Samsung ril,but I'm not sure.

[2017-05-26 18:15] jimmy999x commented on #10
@Spookcity I have checked the lineage folder (where it compiles correctly) verifying in which line that file is mentioned, trying to replicate it in the cosmic folder, but it still does not work, I will keep trying with paranoid and dirty unicorn

[2017-05-26 18:19] Spookcity commented on #10
@jimmy999x Good luck! I'll do a little looking into that error and let you know if I come up with anything. I fixed the same error in my zephyr MM build,but can't remember what I did anymore lol

[2017-05-26 19:25] Spookcity commented on #10
@jimmy999x OK,it seems that perhaps libsecril-client is looking for the ril.h file to be in the device folder. Maybe try to create a telephony folder inside the include folder in the kminilte directory and copy the ril.h into that...or copy the ril.h into the smdk common include/telephony directory. That may solve this error.

[2017-05-26 19:50] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26510348/4b2f44b0-4233-11e7-91ce-90418292c87f.png)

I get this with du, I can not find any solutions, any ideas?

edit 1: @Spookcity I made "git clone" inside the source tree, also the folders, is now compiling, goes for 16%

[2017-05-26 20:00] Spookcity commented on #10
I think maybe you need this https://github.com/CyanogenMod/cm_platform_sdk

[2017-05-26 22:04] jimmy999x commented on #10
http://imgur.com/a/z9kLD :(

[2017-05-27 09:43] Spookcity commented on #10
@jimmy999x  Did you manage to fix this? I have had similar before. Try to cd into the kminilte kernel directory and run "make mrproper" and then try again.

[2017-05-27 16:55] jimmy999x commented on #10
http://imgur.com/a/IEtUL @Spookcity I have compiled xosp 7.1.2, but when I installed I found these problems, it does not have a keyboard and it does not start correctly

edit 1: http://imgur.com/a/nD9FV Compiled tesla, but I have this problem, I do not know exactly what went wrong

[2017-05-27 18:23] Spookcity commented on #10
@jimmy999x I'm unsure about the tesla issue. I've never had that. The XOSP issue I had as well. You need to add
”$(call inherit-product, vendor/xosp/config/xosp.mk)” (without quotes) to your XOSP.mk file and all will be good.

[2017-05-27 19:24] jimmy999x commented on #10
@Spookcity Compiled dirty unicorns, but at the moment of flashing and start the smartphone fails to start, stays in the logo of s5 mini with blue letters above and enters a bootloop

[2017-05-27 19:28] vonico commented on #10
I am trying to compile lineage OS with the new kernel changes, but when syncing I get this error
![screenshot from 2017-05-27 21-28-21](https://cloud.githubusercontent.com/assets/11374411/26523906/7201e44e-4323-11e7-820b-29c9d756d9e8.png)

[2017-05-27 19:29] Spookcity commented on #10
@jimmy999x Yep,this is the same problem I had. I thought maybe DU changed something that would have solved this. I guess not. I pulled a kernel log after I built it and it appears to be an init related problem. I spent a fair bit of time on it. Changed some init related settings for our device with no luck. It's probably something really simple,but I gave up and still am not sure what the exact ca

[2017-05-27 19:31] Spookcity commented on #10
@vonico manually delete external/gello build and try to sync again.

[2017-05-27 19:40] vonico commented on #10
@Spookcity worked, thanks! Let's see how long it takes for another error to show up ;)

[2017-05-27 20:11] vonico commented on #10
wow! only 6 minutes haha
![screenshot from 2017-05-27 22-11-09](https://cloud.githubusercontent.com/assets/11374411/26524125/70547d2c-4329-11e7-9d98-5fe226aa0c55.png)

[2017-05-27 20:26] Spookcity commented on #10
@vonico Are you positive that you have all of the device specific repos..and in the correct locations?

[2017-05-27 20:30] jimmy999x commented on #10
hey, mira, te paso algo que yo siempre hago, me ubico en el source tree y ejecuto esto, te recomiendo que borres 3 carpetas, framework, hardware y packages, hagas un repo sync y que ejecutes el paste,

https://pastebin.com/de1Z1StC o si quieres, puedes esperar que ya estoy compilando lineage

https://drive.google.com/open?id=0BwYn4RX4lLh0WUF4c0lMT25BeWc listo, suerte, no lo probé todavia, suerte

[2017-05-28 10:29] Oleggluk commented on #10
@jimmy999x Please, you could update the RR with new changes like here https://forum.xda-developers.com/showpost.php?p=72455839&postcount=823 (Google translation)

[2017-05-28 18:48] jimmy999x commented on #10
Sure, I'll do it right now

[2017-05-28 19:32] Oleggluk commented on #10
@Spookcity What are the fingerprint libs currently used in the update? Need to flash MM_FP_libs.zip?

[2017-05-28 19:41] Spookcity commented on #10
@Oleggluk  LP still so yeah,if you prefer..or they work better,you'd need to flash the zip.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-28 20:00] jimmy999x commented on #10
http://imgur.com/a/e11k0  Xosp is ready, I will use this instead of liquid, since it is compatible with am3d and that I love, greetings and good luck https://drive.google.com/open?id=0BwYn4RX4lLh0NTFlbDlxZDlLVE0 @Oleggluk Rr goes for 90%, in about 15 minutes it must be ready

edit 1: ready, good luck :) https://drive.google.com/open?id=0BwYn4RX4lLh0OWxJWm1Xd3NGQnc

edit 2: Ok, I have noticed that

[2017-05-28 20:57] Oleggluk commented on #10
@jimmy999x RR clean installation. no problems. I will test further. Thank you!

[2017-05-29 05:19] jimmy999x commented on #10
@Spookcity I have compiled cosmic os, everything has flashed correctly, I get its bootanimation, but at some point (I think when it should start the configuration) the smartphone reboots and goes into a loop, I do not know what could go wrong, I did what you told me With a couple of additional files, right now I'm compiling version 7.1.1, maybe that works correctly

[2017-05-29 09:27] Spookcity commented on #10
@jimmy999x Interesting,honestly I'm not real sure what the cause could be. Maybe a kernel issue. Very difficult to say. If you really want an idea of whats going on grab a log. Hope 7.1.1 works!

Edit: Do you mind if I add your new build of XOSP to the XDA thread? I will give you credit of course.

[2017-05-29 14:19] jimmy999x commented on #10
@Spookcity I have noticed a problem with xosp, my bluetooth does not turn on, with liquid worked correctly, I will recompile again xosp, to see if the error is corrected, with respect to cosmic, the problem could be super su, so I disabled it

[2017-05-29 14:57] Spookcity commented on #10
@jimmy999x Strange issue with XOSP. Not sure why that would be. Hopefully a new build will solve it though. You're right about SuperSu possibly causing the CosmicOS problems. Simple  fix if that is the case.

[2017-05-29 15:11] jimmy999x commented on #10
@Spookcity Still not working, I will delete the line that includes supersu

[2017-05-29 15:15] Spookcity commented on #10
@jimmy999x Good call. If that doesn't work and it's not related to the kernel you can pull a log like normal to see whats happening,if you wanted.

Edit:
I believe this will work with most ROMS.
run "export WITH_SU=false" before you build to disable.

[2017-05-29 16:50] Spookcity commented on #10
**Spookcity_Kernel-N** - Test 7

- Merged the latest commits/patches and fixes thanks to hennymcc

**Notes**
- This kernel is set to permissive by default which will still fail safetynet. If you need safetynet you must set it to enforcing. This can be done via synapse,kernel adiutor or you can create a script.
- Just like with the new stock kernel,Firefox does not work. I will look into this,but f

[2017-05-30 02:35] jimmy999x commented on #10
Cosmic you still do not start, I deleted the line of super su, I have flashed masgisk and it still does not work, I will try with other roms

[2017-05-30 04:46] jimmy999x commented on #10
Xosp 7.1.2 with bluetooth corrected, at least I think, for now it worked fine, good night. https://drive.google.com/open?id=0BxNQjtwLS589U3IzOFRCOHlTWVE

I have noticed that selinux is in enforcing, some way to change it to permissive since compilation?

Xosp 7.1.2 with permissive kernel, https://drive.google.com/open?id=0BxNQjtwLS589U3IzOFRCOHlTWVE

[2017-05-30 08:52] Spookcity commented on #10
@jimmy999x If you still have the Cosmic zip you can share it with me and if I have time I will grab a log and have a look and see if I can tell whats happening. The kernel is a bit of a problem now. We are trying to fix it. If you want a permissive kernel,just go to the kernel source directory and open "arch/arm/configs/kminilte_00_defconfig" and  change the line "CONFIG_CMDLINE="androidboot.baseb

[2017-05-30 12:58] Oleggluk commented on #10
The last RR, after the settings (secondary settings) is post-bootloop. The core of the test7 is the same situation. Not stable all these updates from the selinux in any position. I returned the backup. (Google Translate)

[2017-05-30 14:49] Spookcity commented on #10
@Oleggluk Yeah,the new kernel commits have caused some problems. We are working to try to figure out what the cause is.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-05-30 16:10] jimmy999x commented on #10
@Spookcity https://drive.google.com/open?id=0BwYn4RX4lLh0aXdGNzc5cjBxVlk I do not remember which version is that, without supersu or with supersu, but anyway, it contains the problem of bootloop

[2017-05-30 18:42] Spookcity commented on #10
@jimmy999x Thanks, I'll download it a bit later when I'm at my computer and try to have a look tomorrow.

Edit:
Yeah there's a lot going on with this. Lots of kernel problems and avc denials. Even the bootanimation is being denied. There's more problems than just the kernel though too because I built a new kernel and flashed over it and while it behaved differently, it still doesn't work.

_Sent f

[2017-05-30 22:59] jimmy999x commented on #10
I hope these problems can be solved, I will try to compile some ROMs, even though I do not know which ones

![image](https://cloud.githubusercontent.com/assets/21678167/26611078/14865f3c-4582-11e7-8d05-9726cb231029.png) any idea?

[2017-05-31 09:16] Spookcity commented on #10
@jimmy999x  Yeah,this is recovery related and can be difficult to figure out. It has to do with the fact that you are using Omni's recovery to build this ROM. Try another recovery is all I can say. I know not all can be used with our device,but I use Slim ROM's recovery and that will work with our device. Whether or not it will spit out the same error with this ROM I cant say though.

[2017-05-31 18:16] Oleggluk commented on #10
Paranoid Android returns with Android 7.1.2 Builds: Pie Controls, Color Engine, and More!
https://www.xda-developers.com/paranoid-android-returns-with-android-7-1-2-builds-pie-controls-color-engine-and-more/

[2017-05-31 20:32] jimmy999x commented on #10
Well, I will try to compile paranoid, at the moment I compile DysfunctionalROMs, it goes for 17%, I hope it finishes without problems, greetings

edit 1: ready :) http://imgur.com/a/SOsyf https://drive.google.com/open?id=0BxNQjtwLS589TGgwZkk3Q1NjRDQ DysfunctionalROMs, I like the interface, it is very classic and clean, very smooth

edit 2: paranoid I get this problem, any ideas?
![image](https://c

[2017-06-01 01:26] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26660730/34affef2-4650-11e7-93fe-ed70fd8646ac.png)
I get this problem, any ideas?

[2017-06-01 10:40] Spookcity commented on #10
@jimmy999x Like the bootloader error you posted before I think this is related to recovery, although I could be wrong. I'll have to think about this some. I've had this once or twice,but don't recall what the exact fix was.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-01 11:44] Oleggluk commented on #10
There are a lot of smart people here. I do not have a regular mobile phone operator. 2G is the 3G operator, and 4G is from the other operator. But the communications towers are theirs alone. The problem is that it often switches to 3G and back to 4G does not switch (the signal 4G is very good). What file to edit, can be in Build.prop it is possible to register somehow a priority of a network 4G? A

[2017-06-01 14:16] Spookcity commented on #10
@Oleggluk Perhaps there is a setting within the
[Secret codes](http://joyofandroid.com/android-secret-codes-hidden-menu-dialler-codes/)
I have no idea though honestly. Also not sure about any build.prop edit off hand. I'll think a bit and let you know if I can come up with any ideas. Perhaps someone else knows.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/deta

[2017-06-01 16:05] jimmy999x commented on #10
@Spookcity
![image](https://cloud.githubusercontent.com/assets/21678167/26689034/bfb9fda2-46ca-11e7-945c-dd7b7a19f069.png) what am I doing wrong? How did you compile beanstalk?

[2017-06-01 16:43] Oleggluk commented on #10
@Spookcity Thank you. I found an interesting code * # * # 2263 # * # *.
@jimmy999x But what about Paranoid Android

[2017-06-01 17:20] Spookcity commented on #10
@Oleggluk You're welcome. I hope that will work out for you!
@jimmy999x My guess with your beanstalk problem is to have a look at beanstalks vendor folder and see if you need to add the device somewhere... Or perhaps you need to add an AndroidProducts.mk inside the kminilte folder. If I'm at my computer I'll have a look and see.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.c

[2017-06-01 19:00] Oleggluk commented on #10
@Spookcity I heard a kernel patch was found that causes a problem with Firefox on new disks? Will there be a Core Test8? What news? I'm worried.

[2017-06-01 19:56] Spookcity commented on #10
@Oleggluk I had reverted a commit to "fix" the Firefox problem ,but just in the last hour I found a patch that fixes it and in my testing, I'm about 95% sure it also fixes the bootloop problem with the fingerprint sensor.

Edit: I will build test 8 tomorrow with this patch for a test.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.githu

[2017-06-01 21:23] jimmy999x commented on #10
@Spookcity If you want I can loan you my vnc server so you can do your tests freely, have good storage and good internet connection

[2017-06-02 08:59] Spookcity commented on #10
@jimmy999x Thank you,that is a very generous offer! However,I don't really think I'll have much time in the next few days to do much that would require more than I am using now (CPU,etc. wise) I probably will only have time to build an update to my kernel,which even my old laptop can handle fairly decently :D

Edit:
If you are building more ROMS I would recommend using my [N kernel](https://github

[2017-06-02 14:30] Spookcity commented on #10
**Spookcity_Kernel-N** - Test 8

This is the same as [Test7](https://github.com/Spookcity/ROMS-G800F/issues/10#issuecomment-304699883) except for a patch that fixes Firefox,hopefully the FP issue and perhaps other small things.

**Download** [Test8](https://drive.google.com/open?id=0B_rGv18gTmnVVWNnOHpIb1FYdFE)
**Please give feedback** [Here](https://github.com/Spookcity/ROMS-G800F/issues/12) or [

[2017-06-02 15:54] ghost commented on #12
Now that the Firefox issue has been resolved, we can start looking into the Chrome issue ;)
Am I the only one who gets an _Aw snap!_ message when trying to display a website with Chrome? It only happens after flashing this kernel. I'm using LiquidROM at the moment and I have not tried this with other ROMs, although I know someone has had this issue before.

_Sent from my Samsung kminilte using [Fa

[2017-06-02 16:21] Spookcity commented on #12
@StanNL  Haha,incredible. What's funny is that I don't even use Firefox. I use Chrome dev,but haven't tried to use it due to trying to figured out the problem with FF.
Either way,you are correct. There's a problem with all versions of Chrome. A strange new bug. I'll look into it.

Edit:
Well,I can confirm that the Chrome issue is only with this kernel. Chrome works fine with only the patch to fix

[2017-06-02 18:24] Oleggluk commented on #12
@Spookcity Kernel test8 fingerprints work as before, bootloop no. Firmware RR.

[2017-06-02 18:47] Spookcity commented on #12
@Oleggluk Thank you for the feedback!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-02 19:42] jimmy999x commented on #10
Do you think if I compile cosmic os will work with your kernel?

[2017-06-02 19:52] Spookcity commented on #10
@jimmy999x I built a kernel and replaced the boot.img in the zip with the new one. It didn't work. There were a lot of issues going on in the log I grabbed when I flashed it. Many avc denials which do point towards the kernel being a big problem,but changing it didn't work. You can always try though. Who knows.

Edit:
Change the kernel from enforcing to permissive in [This](https://github.com/Spoo

[2017-06-02 20:50] jimmy999x commented on #10
@Spookcity  Is already compiling, even with enforcing with your kernel, anyway, I will do 2 versions, one with the permissive kernel and another in enforcing, if any will work to do it with DU

edit 1: Now stays in the bootanimation of cosmic os, I see the planet spinning for 10 min

[2017-06-02 20:59] Spookcity commented on #12
Updated the download link for [Test8](https://github.com/Spookcity/ROMS-G800F/issues/10#issuecomment-305805031) Chrome is fixed. The strict aliasing flag now breaks Chrome apparently.

[2017-06-03 00:17] Guntzog commented on #3
AEX is perfect for me too, specially the night light feature, i read a lot and it helps me.

[2017-06-03 06:27] Spookcity commented on #3
@Guntzog I agree. I change ROMS a lot,but I always end up back to AEX. For me it is the best ROM as well.

[2017-06-03 09:15] ghost commented on #12
@Spookcity Thanks! It works again!

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 09:41] Spookcity commented on #12
@StanNL Yes,I'm glad as well because the only browser I use is Chrome. I had just been using Firefox for test purposes and hadn't tried Chrome with the latest updates as the last thing I thought was it would be broken :D

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 15:29] ghost commented on #10
I remember that Oleggluk already mentioned this before, but ParanoidAndroid has returned and I was wondering if somebody could try to build it. Thanks in advance!

_Sent from my Samsung kminilte using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-03 16:03] jimmy999x commented on #10
@StanNL I compiled it, but like du and cosmic, it fails to boot

[2017-06-03 16:10] Oleggluk commented on #10
@jimmy999x Can I link to ParanoidAndroid. Maybe it will start))

[2017-06-03 16:45] Spookcity commented on #10
@jimmy999x I didn't know you successfully compiled paranoid. I think the reasons Cosmic and at least DU don't start are different because I got logs from my DU build and your Cosmic build. The logs were very different. There were many problems with Cosmic.
If you still have paranoid,link me and I'll flash and grab a log and have a look.

_Sent from my Samsung SM-G800F using [FastHub](https://play.

[2017-06-03 17:05] jimmy999x commented on #10
I have deleted the zip and I do not even find it in my gdrive accounts, I will compile that ROM again,

[2017-06-03 17:12] Spookcity commented on #10
@jimmy999x Yeah,only if you want of course. I was just curious. Its an interesting problem, these non booting ROMS. At least DU and perhaps paranoid. Not so much Cosmic as there were just so many problems there. I would like to figure out the cause of DU and possibly Paranoid's refusal to boot.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastac

[2017-06-03 17:36] jimmy999x commented on #10
I have compiled Liquid Darknes again and refuse to boot, apparently the changes that were made prevent it from starting, for now I will use your kerne

[2017-06-03 18:14] Spookcity commented on #10
@jimmy999x My kernel is now exactly the same as the main repos (cm 3470) This is a strange problem. Try to set the kernel to permissive before you build again. That's all I can think of. Like I said,I has the boot issue with DU months ago,but it was init related I think.

Although,if you want to try to see if the kernel changes are at fault. Do this
clone the kernel from cm 3470 and open a termina

[2017-06-04 00:17] jimmy999x commented on #10
It's weird, now I have new mistakes, maybe they made new changes in their resources

[2017-06-04 08:45] Oleggluk commented on #12
I can not delete the system applications through the special software for this. I can not even edit build.prop, changes are not saved. Root magic.su, core test8, firmware RR, changed the different regimes of selinux. Is there anyone else who has such problems?

[2017-06-04 09:08] ghost commented on #12
@Oleggluk That issue sure sounds strange. I'd say that the issue lies within the fact that your system directory was not mounted correctly, but I'm not sure

[2017-06-04 09:22] Spookcity commented on #10
@jimmy999x This is more than likely the cause. I just built an update to AICP with all of the new commits and it boots fine. I haven't noticed any problems,so I think it lies with their sources.

[2017-06-04 09:24] Spookcity commented on #12
@Oleggluk Weird problem indeed. I would have to agree with @StanNL on this. I can't really think of any other reason. I don't think its an SELinux issue. I could be wrong though.

[2017-06-04 14:24] jimmy999x commented on #10
![image](https://cloud.githubusercontent.com/assets/21678167/26762401/ec994cb6-4917-11e7-901a-5039aae3d66e.png) Is it advisable to delete those lines? ( pure nexus rom )

edit 1: issue 1
![image](https://cloud.githubusercontent.com/assets/21678167/26763023/25a0fdb0-4922-11e7-8835-948ecfb5fde0.png)

[2017-06-04 14:37] Spookcity commented on #10
@jimmy999x I've run into this error as well. I believe its related to the sources sepolicies. I think I just deleted those lines,but I can't say what effect as I'm really unsure what ROM it was anymore. I'd go ahead and delete them and test for problems after. Then worry if you notice issues. Probably be fine though.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/app

[2017-06-04 15:50] Spookcity commented on #2
I have updated AICP
**Download the ROM** [AICP 12.1](https://drive.google.com/open?id=0B_rGv18gTmnVVkZhby1zenRzbzg)
**XDA Thread** [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aicp-12-1-nougat-t3565009)
**Changelogs Can be founf within the ROM - Settings ->Aicp Extras -> Changelog**

[2017-06-05 11:26] tapp2 commented on #10
@jimmy999x Please can you check liquid, cause the apps of camera and Magisk not working.

[2017-06-05 16:40] Mikahlo commented on #13
Today I wanted to update TWRP to version 3.1.0-0 and got an error "not a directory". I searched a bit and couldn't find any posts about it. So I did a workaround and installed the TWRP app. With this app I was able to update successfully. Just wanted to share that.
@Spookcity : I tried the console launcher myself because I was curious. Turns out that this thing is nice but impractical for usage on

[2017-06-05 18:16] Spookcity commented on #13
@Mikahlo Good to know. Thanks!
And I agree that the console launcher is not that practical for daily use. I just have it to play around with mostly. Always Nova for me.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-06 01:47] jimmy999x commented on #10
@tapp2 Liquid is the rom I currently use, I have not had any problem with that you mention, exactly what problems do you have?

[2017-06-06 09:41] tapp2 commented on #10
@jimmy999x    ROM Liquid
When i open Magisk or camera, i get this messages:

Magisk:
![screenshot_20170606-100754](https://cloud.githubusercontent.com/assets/29199233/26820754/40e2d3f4-4aa4-11e7-8b5c-0affb8abdee7.png)
camera:
![screenshot_20170606-100742](https://cloud.githubusercontent.com/assets/29199233/26820770/4f92f46a-4aa4-11e7-9c02-2b6fc7359d20.png)
I made several clean installations and do

[2017-06-06 09:57] Spookcity commented on #10
@tapp2 The Magisk part is not an error. You just need to install Magisk Manager. As far as the camera/gallery. My suggestion,disable or uninstall both and install 3rd party cam and gallery.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-06 11:26] tapp2 commented on #10
@Spookcity Many thanks for the fast reply.
Yes, with the manual installations i have done, all work like a charm.
I only reported this issues here, to improve future builds of Liquid.

[2017-06-06 11:54] Spookcity commented on #10
@tapp2 Understood. Glad you got it sorted!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 14:36] Oleggluk commented on #10
@jimmy999x Hey. Congratulations on entering the university. If there is time, you can update the RR. There update to 7.1.2_r17 - NJH47B, a new security patch, and the main thing is fixed the reception on the bluetooth.

[2017-06-07 23:40] jimmy999x commented on #10
Sure, I was planning to try compiling, cosmic or dirty unicorn, but I'll do RR for you guys @Oleggluk
edit 1: enforcing version https://drive.google.com/open?id=0BxNQjtwLS589TFlhV3pMMDFHNHM
edit 2: permissive version https://www.androidfilehost.com/?fid=673368273298961634

[2017-06-08 07:58] Oleggluk commented on #10
@jimmy999x Thank you. No problem. Installed 1 version.

[2017-06-09 00:53] jimmy999x commented on #10
https://drive.google.com/open?id=0B6HnvpggPH_hTW1FUTZkbS1lbVk LOS 14.1 :)

[2017-06-09 15:13] Spookcity commented on #10
**Spookcity_Kernel-N** - Test 9

**Notes**
OK,this will be the last test build as I have spent a fair bit of time this week tweaking,adjusting and adding many patches. This will be (assuming there are no major issues) Version 1 of the Spookcity_Kernel-N. I will create an XDA thread sometime in the near future. Feedback is welcome.

**Some changes of note**
- UberTC 8
- A few additional build flags

[2017-06-09 15:40] Oleggluk commented on #10
@Spookcity Kernel Test9, firmware RR, so far so good., I will test further.

[2017-06-09 15:44] Spookcity commented on #10
@Oleggluk Thanks! Please let me know your findings. I've been using it for nearly 2 days now and it seems good to me, but I can't test everything.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 15:52] Oleggluk commented on #10
@Spookcity I forgot to write before., Test8 and Test9 with switching zmoove to another governor, the phone reboots. Not critical, but not nice. I'm using Kernel Adiutor.

[2017-06-09 15:57] Spookcity commented on #10
@Oleggluk Yeah, that's certainly not nice. I just tried this in Kernel Adiutor and it did not cause a problem. Switched many times. However, there is something strange with zzmoove in general I think. I'll try to look into it some for the next build.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 16:07] Oleggluk commented on #10
@Spookcity To reproduce the problem, you need to enable zzmoove - restart the phone, wait for the settings to be applied., Change to interactive. The phone itself will reboot.

[2017-06-09 16:21] Spookcity commented on #10
@Oleggluk Hmm,I just did this and could not reproduce the problem. If you're able to at some point grab a log of this happening to you. I can look into it. You can use matlog from the play store if you need as its probably the easiest way. I'll try some more and see if I'm able to reproduce this.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fast

[2017-06-09 18:44] Oleggluk commented on #10
@Spookcity I do not know how to use logs and these programs. But one more person confirmed the reboot. He also has an RR firmware. Maybe someone else who can record logs will help. ((

[2017-06-09 19:17] Spookcity commented on #10
@Oleggluk No problem at all. Perhaps I will,at some point be able to reproduce this and get a log. I think awhile ago I may have had this happen,but I can't really remember. I'm going to try to tweak zzmoove anyway, so maybe that will solve this issue... Or make it worse :D

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 19:56] tapp2 commented on #10
@Spookcity I have reproced the issue too. If you wait a bit, before you change the governor from zzmoove to interactive, the phone freezes and restarts.

[2017-06-09 20:15] Spookcity commented on #10
@tapp2 and @Oleggluk Yep,the waiting part seems to be key. I was just able to reproduce this by waiting a few seconds. Weird issue. I'll try to get a log and investigate the cause.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-09 22:19] filip2812 commented on #10
@tapp2 I had that problem with test 8 too.

[2017-06-10 00:16] tapp2 commented on #10
@filip2812 Yes, this problem occurs on test 8 and test 9.

[2017-06-10 14:45] Oleggluk commented on #10
Which file is responsible for the animation of the battery when the phone is charging and turned off?
The animation is incredibly disgusting and the screen does not go off.

[2017-06-10 15:53] Spookcity commented on #10
@Oleggluk Hmm,well it use to be in /system/bin/lpm I think,but we've moved from Samsung's charger to healthd. This is why it looks this way.
I'm not sure off hand how to go about changing this. I'll think some on it.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-10 23:07] jimmy999x commented on #10
![image](https://user-images.githubusercontent.com/21678167/27006936-7a695662-4e18-11e7-9dc6-9a9571e38399.png)
any idea?

[2017-06-11 08:30] Spookcity commented on #10
@jimmy999x Never had that error before,but that patch only patches 2 files with a few additional lines. Should not be a huge problem to patch by hand.

[2017-06-11 08:33] Oleggluk commented on #10
Do you think this will help me with the problem of automatic switching to 4G? https://forum.xda-developers.com/showpost.php?p=72624629&postcount=983 And anyone can build it for RR.

[2017-06-11 10:17] Spookcity commented on #10
@Oleggluk I don't believe that is going to fix your problem. I'm not really sure how to go about solving it really. I'm sure there is a simple fix that's just being overlooked.
Perhaps you could try the app tasker and see if you're able to set something up. It can be a bit challenging to work with tasker though if you never have before.

_Sent from my Samsung SM-G800F using [FastHub](https://play.

[2017-06-11 11:23] Oleggluk commented on #10
@Spookcity How to use the new changes? Need to build the firmware or can I replace a file?

[2017-06-11 12:53] Spookcity commented on #10
@Oleggluk What changes? If you're talking about the SELinux and sim card issue, it's only kernel related I believe, so not ROM specific.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 09:39] Oleggluk commented on #10
This is already done or will only be done? Https://forum.xda-developers.com/showpost.php?p=72633351&postcount=989
This can be added to the RR. The fingerprint sensor is driving me crazy.

[2017-06-12 16:05] Spookcity commented on #10
@Oleggluk I believe henny has committed the fingerprint changes to kminilte device repo.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 16:12] ghost opened #18 "Test builds #2"
This is a continuation of the test builds topic (#10), since it was getting way too long.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 16:14] ghost commented on #10
Could you continue this conversation in #20. I can't be the only one who doesn't like to scroll through 300 comments, right?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 21:12] Oleggluk commented on #18
Check connection). I agree with the phone a lot of flipping a lot of posts. What the technology has come to, it translates words)

_Отправлено с моего Samsung SM-G800F с помощью [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-12 23:14] jimmy999x commented on #18
I have compiled many roms, now I do not know what to do, the majority of roms, they give me problems at the moment of applying the patches

[2017-06-13 03:39] Oleggluk commented on #18
@jimmy999x When there is nothing to do, you can always update RR )). Still it is possible to try to build new twrp 3.1.1

_Отправлено с моего Samsung SM-G800F с помощью [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-13 09:31] Spookcity commented on #18
@Oleggluk I am pretty sure that ayke has built TWRP 3.1.1. There were issues in general with TWRP that I think he has fixed,mostly. I think I remember him saying that the difference was very little and he wouldn't be releasing the new version until all of the bugs were worked out.

[2017-06-13 09:45] Spookcity commented on #12
Just a little "teaser"
![screenshot_20170613-114041](https://user-images.githubusercontent.com/15154102/27076539-cab80e58-502d-11e7-9aad-309f98525243.png)

[2017-06-13 09:47] Oleggluk commented on #12
@Spookcity When will we test?)

[2017-06-13 10:03] Spookcity commented on #12
@Oleggluk Not sure yet. I'm going to probably release test9 as v1 on XDA this week if I have the time. Then I may post up a OC build on here for feedback. I have tweaked the voltages,with many thanks to DJSteve for being able to see what he did so not to destroy my phone. I've been using it set at 1.7ghz for almost 2 days now and haven't had a single issue....so far.
Or maybe I release an OC build

[2017-06-13 10:11] Oleggluk commented on #12
@Spookcity I think the version with 1.7ghz is better left as a Test. If everything goes well, you can release V1. I correctly understood, will control voltage? I've been waiting for this feature for so long. Already want to experience)

[2017-06-13 10:17] Spookcity commented on #12
@Oleggluk I tend to agree with that. I've adjusted the voltages to (hopefully) allow the 1.7 OC to be stable. I've yet to implement the allowing of adjusting them though. Soon it will come though (I hope)

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-13 14:38] Spookcity commented on #2
I have updated AOKP
**Download the ROM** [AOKP 7.1.2.](https://www.androidfilehost.com/?fid=889764386195907565)
**XDA Thread** - [XDA](https://forum.xda-developers.com/galaxy-s5-mini/development/rom-aokp-nougat-t3570088/page4#post72117523)
**Changelogs can be found within the "ROM Control" app**

[2017-06-13 21:19] jimmy999x commented on #18
@Spookcity I would like to learn to compile custom kernels, would you give me some good tutorial?

[2017-06-14 05:24] Spookcity commented on #18
@jimmy999x Sure thing. I would personally start with just trying to compile the "stock" kernel without making any changes. I'll post a few links as well. The main steps are
1. Clone the kernel source
2. cd into that directory
3. In terminal: export ARCH=arm
export CROSS_COMPILE= "path to toolchain" /bin/arm-eabi-
4. make kminilte_00_defconfig
5. make nconfig (or gconfig or menuconfig. They are the

[2017-06-15 08:23] Guntzog commented on #18
@Oleggluk I agree, updating RR would be good

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 08:36] Spookcity commented on #18
**Spookcity_Kernel-test10 - 1.7ghz OC**

OK,I am leaving this here for whoever may see this to test and let me know their findings. I have been using it for days with no issues,but your experience may differ. I am not going to announce this on XDA as I really just need a few people to test and let me know. No changes beside the OC and I adjusted some voltages to work with it.
It is set to automati

[2017-06-15 09:13] Oleggluk commented on #18
@Spookcity Test10, firmware RR. I could not check. Phone freezes tightly. Does not react to anything.

[2017-06-15 09:15] ghost commented on #18
@Oleggluk Yeah and it really overheats to 55-65 °C

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 09:24] Spookcity commented on #18
@StanNL Weird. I have had no issues at all. The temps are nearly identical as with 1.5 for me as well. How is it that 3 ppl with the same phone have such drastically different experiences?
What ROMS are you guys on?
I've used the 1.7 OC for days on AOKP and AICP without a single issue.
Edit:
My CPU temp is steady at 35-38. Has not exceeded 50 and I've been checking for that.

_Sent from my Samsung

[2017-06-15 09:54] Oleggluk commented on #18
@Spookcity Clean installation of the firmware RR and the kernel test10. The phone does not boot, it hangs on the download animation.

[2017-06-15 10:10] Spookcity commented on #18
@Oleggluk What revision of the processor do you guys have?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 10:12] Oleggluk commented on #18
@Spookcity The complexity of translation. What does revision of the processor mean? And where to look?

[2017-06-15 10:17] ghost commented on #18
@Spookcity I'm a bit puzzled by this as well. Don't we all have the same Exynos 3470?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 10:24] Oleggluk commented on #18
@Spookcity
![screenshot_20170615-132231](https://user-images.githubusercontent.com/27913216/27177121-f50824a8-51cd-11e7-870a-9332a7e4d436.png)

[2017-06-15 10:26] Spookcity commented on #18
@StanNL Yes,same processor,but there are at least 3 revisions.
From terminal cat /proc/cpuinfo
On the first line you'll see "rev #"
@Oleggluk. Try the command line I posted. This doesn't show revision... For some reason

Stupid autocorrect. I corrected the terminal command

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 10:33] Oleggluk commented on #18
@Spookcity What kind of command you need to enter, I do not understand.
![screenshot_20170615-133205](https://user-images.githubusercontent.com/27913216/27177489-3aff71d6-51cf-11e7-8d8c-664a915edcba.png)

[2017-06-15 10:35] Spookcity commented on #18
@Oleggluk Yeah,sorry. Autocorrect messed it up.
Enter cat /proc/cpuinfo

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 10:39] Oleggluk commented on #18
@Spookcity
![screenshot_20170615-133743](https://user-images.githubusercontent.com/27913216/27177733-0e990e12-51d0-11e7-9455-5658dfe6cba9.png)

[2017-06-15 10:43] Spookcity commented on #18
@Oleggluk leave a space between cat and /proc. So "cat(space) /proc/cpuinfo'

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 10:45] Oleggluk commented on #18
![screenshot_20170615-134520](https://user-images.githubusercontent.com/27913216/27177958-f16f5e9e-51d0-11e7-803d-21c8e027fb8e.png)

[2017-06-15 10:47] Spookcity commented on #18
Thanks @Oleggluk  This however confuses me more. You have rev 3,same as me,so I have no idea why it works without a problem for me and doesn't even boot for you. I'll flash RR and try.

Edit:
And it becomes even more confusing.

![](http://i.imgur.com/6E6TJsF.png)
No problems with RR for me either,so I don't get it at all.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/sto

[2017-06-15 11:10] Oleggluk commented on #18
@Spookcity It is very strange. But the problem is not just me. Familiar with the forum, wrote to me that he has the same problem, the phone does not boot with the test10 kernel on the RR

[2017-06-15 11:22] Spookcity commented on #18
@Oleggluk yeah, I just don't know what the reason for this might be. It is the most confusing thing to me and I'm not sure how or even if I can fix this as it works perfectly for me on every ROM that I've tried. So I just assumed that if it works for me others should experience at least similar. If you had rev 2 of the processor then I would kind of get it,but you don't,so I'm at a complete loss.

[2017-06-15 12:29] Guntzog commented on #18
@Spookcity in 5hours after work, I will test and see if I'll get the same bootloop or else, I'll keep u informed

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 13:22] ghost commented on #18
@Spookcity I have revision 3 as well. test11 didn't work for me but I'll try test12

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 13:37] Spookcity commented on #18
@StanNL Thanks for testing. Test12 probably won't work either. There's only a small change,but who knows. I guess I'll just stick to using the OC personally and not include it on the kernel cause I have no idea how its possible to be very stable for me,yet not even boot for others. I've no clue how to fix this.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/deta

[2017-06-15 14:03] ghost commented on #18
@Spookcity 12 didn't work either indeed. It's strange that it _does_  work for you. I'm using LineageOS

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 14:11] Spookcity commented on #18
@StanNL Thank you. It is incredibly strange to me. Like I can't even wrap my head around how that's possible. It not only works for me,but it works well. I haven't had a single crash or weird issue in nearly a week of use... On 3 different ROMS. No extreme CPU temps either. I'm at a complete loss.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fas

[2017-06-15 14:14] Oleggluk commented on #18
@ @Spookcity Test 11 and 12 also does not work. Which TWRP do you use? I'm using 3.1.0. Perhaps there is some difference.

[2017-06-15 14:17] Spookcity commented on #18
@Oleggluk I'm also using 3.1.0. Could it be related to SELinux? Is that possible? Are you guys flashing over an enforcing kernel? Maybe I'll compile an enforcing version and see..if you're willing to test. None of this makes sense to me.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 14:22] Oleggluk commented on #18
@Spookcity Dirty installation of salinux in the permissive. Clean installation, I do not remember which option. I'm ready to test any changes.

[2017-06-15 14:27] Spookcity commented on #18
@Oleggluk Yeah probably not SELinux related. Thats' a bit of a long shot really. I'm going to compile an enforcing kernel and I'll compile one with 1.6 OC. Thanks for testing. I'll put links in this post.
If neither of those work I don't know what else to do unless someone smarter than me can tell me how its even possible to work for me and not others,cause I have no clue what the deal is.

[2017-06-15 14:27] tester-02 commented on #18
@Spookcity Test10, -11 and -12 all won't boot for me, too. It makes no difference if I delete catch/delvik or do the dirty flash. I was on your test9 kernel and use LineageOS 14.1. The SELinux is set to permissive and I have the same terminal output like @Oleggluk.

[2017-06-15 14:30] Spookcity commented on #18
@tester-02 Thank you for testing. Any idea as to how this is possible or what could cause this? I am really at a loss. It makes no sense to me.

[2017-06-15 14:30] ghost commented on #18
It does boot by the way. It just wouldn't respond to any form of input on test 10 and on 11 and 12 it would just reboot after it had booted, though it wasn't a bootloop either

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 15:00] Spookcity commented on #18
Thanks for clarifying @StanNL Here's a 1.6 OC version. I tried to compile an enforcing kernel,but it still showed as permissive for some reason in RR.I need to look into that.
**Download** [test13 - 1.6 OC](https://drive.google.com/open?id=0B_rGv18gTmnVWnRPZnZUZWlSTHM)

[2017-06-15 15:08] Oleggluk commented on #18
Test13 works!

[2017-06-15 15:10] Spookcity commented on #18
@Oleggluk great! but someone needs to explain to me how this is possible. I am so confused right now. 1.7 works fine for me.

[2017-06-15 15:24] Oleggluk commented on #18
@Spookcity I saw on your screen a new governor alucard. But I did not find it in Test13

[2017-06-15 15:31] Spookcity commented on #18
@Oleggluk Yes,I've actually been working on the kernel a fair bit over the last week. I've added many new CPU governors,IO schedulers, TCP congestions and a few patches. None of this is included in this build yet. I was wanting a test of the OC without these things first..and good thing as 1.7 apparently doesn't work for many it seems.
If you'll test out the 1.6 version for me and let me know if y

[2017-06-15 15:40] Oleggluk commented on #18
@Spookcity Ahahah. I ran the test10 kernel after test13 and it works! It took 2 reboots. Installed 1700, rebooted the smartphone and the smartphone booted and hung on the desktop

Eh, does not work anymore. Reboot does not help. Loads well, but hangs tightly on the desktop. But once it worked. Miracles are somehow.

[2017-06-15 15:49] Spookcity commented on #18
@Oleggluk Hmm,so even more confusing haha. So very strange. I just can't imagine what the cause would be.
Like I've said 1700 works just fine for me. I've even got 1800 to boot,but it doesn't last long

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 15:50] ghost commented on #18
@Oleggluk Yeah but that issue was the exact same that I experienced on builds 10-12. Test 13 does work!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 15:54] Spookcity commented on #18
@StanNL Thanks for testing and the feedback guys! I guess I'll just keep it at 1600 and perhaps create a separate 1700 git branch ( cause I'm gonna be using that) and when I create an XDA thread link both builds with a large disclaimer about the 1700 build. I can't be the only one who this works for though. My brain hurts from trying to think about why this would be :D

Edit:
OK,something interest

[2017-06-15 16:31] ghost commented on #18
@Spookcity Yeah that's exactly the issue  I had. I'll try to flash the kernel without GApps!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 16:45] Spookcity commented on #18
@StanNL keep me posted. Things seem to be OK for me now though with gapps. No more lagging and no more reboots. I've rebooted a few times without issue.
Gapps does seem to increase the CPU temp though. Although this has stabilized for me as well since initially flashing.

Edit:
I find  it highly unlikely that it is gapps related as I've been steady using my phone with gapps installed and the 1.7 O

[2017-06-15 18:33] ghost commented on #18
@Spookcity Yeah when I installed LineageOS without GApps, it went the same as before: It booted, but after a while it rebooted, and then after a while it froze again and rebooted, etc. It's very strange

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-15 19:05] Spookcity commented on #18
@StanNL Thanks again for testing. It is very strange. I'm really out of ideas as far as anything else to try,or what the cause could be. So if anyone who sees this has any idea about what could cause such a bizarre thing please do let me know.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 04:40] Guntzog commented on #13
Does anyone know why do I always get this error when I try to restore a backup?
Restore from 7.1.2 to 7.1.2 using twrp 3.0.0

![screenshot_2017-06-15-02-00-11](https://user-images.githubusercontent.com/28767865/27212304-557d0290-525f-11e7-8b96-e1667f7ecf61.png)

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 09:47] Spookcity commented on #13
@Guntzog I have no clue,sorry. Hopefully someone else will.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 10:02] ghost commented on #13
@Guntzog Do you have enough storage space left?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 10:04] Oleggluk commented on #13
@Guntzog Update TWRP https://forum.xda-developers.com/showpost.php?p=72685083&postcount=1011

[2017-06-16 13:10] Guntzog commented on #13
@StanNL yep, OK @oleggluk I'll try that

Edit : @Oleggluk i get the same error with 3.1.0 and 3.1.1 when try to restore a backup, and I get this error when I try to flash any ROM via 3.1.1, any idea s guys ? I feel Like my phone is cursed !
![screenshot_2017-06-16-08-58-11](https://user-images.githubusercontent.com/28767865/27246833-a7a7158e-52f4-11e7-850f-491c95ab61c3.png)

![screenshot_2017-06-1

[2017-06-16 15:07] ghost commented on #18
@Spookcity I am really curious about what the cause of the issue might be. The only thing left is rule out differences between our devices and then eventually we'll hopefully find the cause...

1. I'm not using busybox.
2. I use the _userspace_ governor with min. 1400 MHz and max. 1600 MHz (I know it's kinda overkill and very battery unfriendly, but just let me be me).
3. I have _multicore power s

[2017-06-16 15:14] ghost commented on #18
@Spookcity Nope, changing option 3 didn't help and it still freezes at the lock screen.
Maybe you know a few possible differences?

[2017-06-16 16:00] Spookcity commented on #18
@StanNL I have been thinking about this all day. I just have no clue. I've not had any problems with any setting, governor,IO scheduler I set. I'm still using RR with the 1.7 OC. The only problem was the reboot yesterday after flashing gapps. It's been smooth since. I've also been messing with the kernel some ( not the OC issue as I'm at a loss) and have flashed the 1.7 OC I would say 10 times tod

[2017-06-16 16:25] Oleggluk commented on #18
@Spookcity I'm using f2fs. Encryption never used.

[2017-06-16 16:28] ghost commented on #18
@Spookcity Well, I was surprised to find out that I did have BusyBox installed, but I removed it a few days ago (before installing the kernel). It is something that doesn't get removed when you install a new system, so you may have it as well.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 16:31] ghost commented on #18
@Spookcity I'm using LineageOS, maybe you can try out if that has anything to do with it if you have time for it. I don't have any idea which filesystem I'm using nor how to find out

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 16:32] ghost commented on #18
I just found out that I have ext4.
I have an SD card, and though that may sound irrelevant, we could consider it.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 16:38] Spookcity commented on #18
@StanNL interesting about busybox. I didn't know that. I'll flash Lineage in a few and see what happens for me. I also have a SD card. I agree,it doesn't seem like it could be the cause,but at this point who knows. It has to be some minor thing I would imagine...Assuming our HW is the same,which I think it must be.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/

[2017-06-16 16:41] ghost commented on #18
@Spookcity I tried booting it without the __external__ (I forgot to mention that in the previous comment) SD card, but it was in vain and it still froze. It's just very very strange. I also tried your kernel on XOSP this afternoon by the way, but it didn't help unfortunately

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 16:43] Oleggluk commented on #18
@Spookcity What version of RR (who is the author)? . In the subject on xda there is a version without Magisk. I have a version of jimmy999x with Magisk installed. Maybe this is the difference.

[2017-06-16 16:48] Spookcity commented on #18
@Oleggluk hmm, I'm not sure. It has magisk installed though,but since I have my kernel running I'm unsure who built it. The build date is Thu June 8

@StanNL It is so strange. I just can't understand it at all. I'm going to flash Lineage, but it seems the way things are going it will probably work for me.

Edit:
I also checked the voltages. As I messed with them some, but they are identical on the

[2017-06-16 17:12] Spookcity commented on #18
![](http://i.imgur.com/qxGQPRP.png)

![](http://i.imgur.com/iozBBXd.png)

As suspected, no problems for me. Err,so annoying.. So heres all I can think of..
1. If I can find the right code to have the phone boot at 1.5 instead of 1.7 that would help,but I've looked into this some without luck,so if anyone has an idea...
2. Someone can try to grab a kernel log via TWRP without letting the phone rebo

[2017-06-16 18:39] Mikahlo commented on #18
Hi there! Just an idea: could you use performance profiles? I'm not sure if this is a LineageOS-only feature. The ROM could than boot with a medium or low profile with max cpu speed set to a lower frequency than 1.7

[2017-06-16 18:42] Guntzog commented on #18
@Spookcity I flashed the kernel over RR clean without gapps, the boot animation turn like for 30 seconds then it freezs, and that it, I have to force close the phone, doesn't even boot for me

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-16 18:48] Spookcity commented on #18
@Mikahlo I'm honestly not real sure about this. Thanks for the idea though. I think maybe I just need to figure out the proper code to do this. It's fairly simple with snapdragon,but exynos not so much..At least so far.

@Guntzog Thanks a lot for testing. Am I seriously going to be the only one that 1.7 works for?! Its crazy and makes no sense.

_Sent from my Samsung SM-G800F using [FastHub](https

[2017-06-16 19:47] ghost commented on #18
@Spookcity I did what you asked... I think. I installed the kernel via TWRP, then I copied the log to my SD card, and then I reinstalled test13. That's what I was supposed to do, right?

I did read the log, though it contained 1.8 __million__ characters. I felt like there was a lot of repetition. Here's what I understood from it: (I attached a screenshot from the part I was talking about, and [her

[2017-06-16 19:49] ghost commented on #18
@Spookcity Hopefully this will provide you with some useful insights, though it's still very strange that it does work for you.

Some more questions:
- Do you have Magisk installed?
- Do you use any "enable on boot" options enabled at Kernel Adiutor?

[2017-06-16 20:00] Spookcity commented on #18
@StanNL Thank you very much! I won't be able to look at the full log until I'm at my PC tomorrow,but I think you're very correct that the problem lies with the part of log you posted. Although,off hand I'm not fully sure what it means exactly. Hopefully I'll be able to figure some reason out tomorrow.

I've successfully booted lineage without magisk installed and also with.

Same for the enable at

[2017-06-16 20:22] ghost commented on #18
@Spookcity Well I didn't look at the logs on my PC either, but just on my phone, but take your time

[2017-06-16 20:51] Spookcity commented on #18
@StanNL Yeah, I just had a look on my phone and you're very correct. It's just a giant loop. I'll need to look onto this because its not really clear (to me) what the reason is at first glance. Its still really strange to me that I don't have this problem and everyone else who has tried does.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastacce

[2017-06-16 21:35] Mikahlo commented on #18
I have a log too but don't know if I did this right. At least it should be the right kernel (Test10) :D
[TotallySkilledRepo](https://github.com/Mikahlo/nonsense)

[2017-06-16 22:05] Spookcity commented on #18
@Mikahlo Thank you! Your error is very clear. The reason isn't instantly clear to me though. I'll look into this tomorrow. Thanks
93.445692] [3] 2735 Internal error: Oops - undefined instruction: 0 [#1] PREEMPT SMP ARM [ 93.445860] [3] 2735 CPU: 3 Tainted: G W (3.4.113-Spookcity_Kernel #1) [ 93.446007] [3] 2735 PC is at __irq_svc+0x6c/0x74 [ 93.446090] [3] 2735 LR is at irq_exit+0x6c/0xb8

_Sent f

[2017-06-17 03:47] jimmy999x commented on #18
![image](https://user-images.githubusercontent.com/21678167/27249904-6adb0316-52f6-11e7-9b4a-2deb518d026e.png)

Compiling aospextended I get this error, any idea how to fix it?

edit 1:
![image](https://user-images.githubusercontent.com/21678167/27250236-8889fea4-52ff-11e7-9749-db2fc67423ee.png) I got this compiling paranoid, any ideas?

[2017-06-17 07:30] w3bservice commented on #18
Hello, I would like to thank you for your super work
@jimmy999x
With your Roms I have problems. The setup assistant breaks down everywhere. I use to flashen always a new sd card and a fullwipe. My data I copy only after the setup of the mobile phone.

I came to the Roms after the Telekom had the update on MM had been rolled out and my mobile phone is always restarted or simply switched off.
@Spook

[2017-06-17 08:51] Spookcity commented on #18
@w3bservice I think perhaps your issue with the setup assistant crashing is due to you using a version of GApps that is not supported. I read on SlimROMS site that with an update to their ROM a couple of months ago that you must use a very recent version of GApps otherwise you will experience  this problem.

**About this strange kernel issue**
I am sad to say that even with the help of your logs I

[2017-06-17 08:56] ghost commented on #18
@Spookcity Are you sure you gave us the right link or something? It would be a shame if it turned out that you're using a different version

[2017-06-17 08:58] Spookcity commented on #18
@StanNL Hah,yes that would be incredibly frustrating indeed!
Just to make sure of this I actually downloaded test10 from my drive. I'm going to do the same right now and flash just to double check because you're right,how annoying would that be?!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 09:01] ghost commented on #18
@Spookcity Well it almost has to be something strange like this, because there almost isn't any other explanation... It is very suspicious that it only works for you, the creator of the kernel.

[2017-06-17 09:02] Oleggluk commented on #18
@StanNL It `s Magic :D

[2017-06-17 09:03] ghost commented on #18
@Oleggluk Yeah maybe he's just trying to sabotage our phones...

[2017-06-17 09:04] w3bservice commented on #18
@Spookcity
Witch Version of opengapps i must using for this Roms,
your Rom aex runs with ther org opengapps. I used the pico

[2017-06-17 09:07] Spookcity commented on #18
@StanNL Double checked,test10 works fine for me. It is incredibly strange and also the most frustrating thing I've dealt with android wise. It just makes no sense. I'm building another test,, If it boots  for me Ill post it up here in a few. This is going to drive me insane! ahha

@w3bservice I would just use the newest version from [here](https://github.com/opengapps/arm/releases)
I always use pi

[2017-06-17 09:08] ghost commented on #18
@Spookcity In the end, it's probably going to be something very simple and small that we just didn't notice

[2017-06-17 09:08] ghost commented on #18
We all use the SM-G800F, right?

[2017-06-17 09:10] Spookcity commented on #18
I have the SM-G800F yeah...and these crazy annoying problems always in the end turn out to be something really simple it seems.

[2017-06-17 09:12] ghost commented on #18
Yeah it's either going to be something very simple that we just overlooked, or it's going to be something way too difficult that nobody has every heard of

[2017-06-17 09:20] Spookcity commented on #18
Yep, it doesn't make any sense. I would understand it a little more if the 1.7 was very unstable for me or something,but it runs absolutely fine.
OK, tried to build a 1.65 OC,but it doesn't work right. One more thing I can try that may be related to the different :ASV" issue between my log and @Mikahlo

What baseband are you on @StanNL  I cant imagine how this would have any effect at all,but at t

[2017-06-17 09:29] ghost commented on #18
I'm on G800FXXU1CQA1.

I don't know if this has anything to do with it, but this part of the log shows things about 100MHz, isn't that a bit strange? I don't know if those are cpu frequencies, but if they are, that may be the problem...
![image](https://user-images.githubusercontent.com/20394543/27251824-ec12a444-534f-11e7-802f-4d800ef5124a.png)

[2017-06-17 09:31] ghost commented on #18
Something that also happened 239 times in that log, is the following:
`[ 3099.192145] [3]   2516 power_supply sec-fuelgauge: driver failed to report 'online' property: 4294967274
`

[2017-06-17 09:33] Spookcity commented on #18
I'll be honest,I'm not fully sure whats that is related too. I'm pretty sure not CPU freq though.I just checked my log and its the same.Also the power supply failure is no problem. I'm building another test now. Hopefully it will boot for me and I'll post it here in a few. Although,my expectations are very low at this point.

[2017-06-17 09:36] ghost commented on #18
@Spookcity It's just so strange that it does work for you and not for us... If it wouldn't work for everybody that would've made sense, but this is just strange. You must have installed something that we haven't, right?

[2017-06-17 09:37] ghost commented on #18
All that I can think of that I use is kernel Adiutor, Magisk v12.0 and MagiskSU 8

[2017-06-17 09:37] ghost commented on #18
Without any Magisk modules

[2017-06-17 09:38] Oleggluk commented on #18
@StanNL With the power supply problem still with the CM12, the smartphone does not have a connection to the battery voltage controller. I tried to draw the developers' attention to this, but it's of no interest to anyone.

[2017-06-17 09:40] ghost commented on #18
@Oleggluk Oh well that explains that message then, but that won't cause any problems, right?

[2017-06-17 09:40] Spookcity commented on #18
@StanNL I cant imagine what. I've flashed the kernel directly over ROMS with apps installed that I had been using for days and also completely clean flashed wiping all but external storage and haven't had a problem either way.
Also,no Magisk modules here either and the same versions when I install it (or its pre-installed) But the kernel works for me with it installed or not. Also with and without

[2017-06-17 09:49] ghost commented on #18
@Spookcity You should realise that some things don't get removed when you wipe the system and data partition, like busybox for example or the "Samsung battery animation" that you saw before it got replaced on some ROMs. There has to be a good explanation for this. Maybe Henny can help us out, since he's very experienced

[2017-06-17 09:51] ghost commented on #18
@Spookcity Or maybe you could post the kernel on XDA, so that more people can try it out and see if you're not the only one

[2017-06-17 09:52] Spookcity commented on #18
@StanNL This is very true and perhaps the issue. I am in contact with henny,but has been really busy lately and I would rather not bother him with this,but at some point I will if I cant sort it cause it will be the death of me haha
And yes, I think I will post a build on XDA with a waning because I cant seriously be the only one it works for
Did you try the new test build yet?

[2017-06-17 09:54] ghost commented on #18
@Spookcity No I haven't tried it out because I didn't see it. I'll try it right now!

[2017-06-17 09:55] Spookcity commented on #18
@StanNL Thank you! Again,my hopes are not high.I lowered the DVFS which I believe is related to power management. Who knows

[2017-06-17 09:56] ghost commented on #18
@Spookcity It still froze on my home screen...

[2017-06-17 09:57] ghost commented on #18
It may be related to the fact that I have my charger plugged in, who knows... I'll just let it boot without one

[2017-06-17 09:57] Oleggluk commented on #18
@Spookcity Test 14, the smartphone started and rebooted again and hung on the animation and again rebooted, again booted for a few seconds 30 and again hung.

[2017-06-17 09:58] Spookcity commented on #18
Errr,Oh my god. What the hell could it be?!! I usually have my charger in too,so probably not it,but again at this point...I'm going to post on XDA and see if I am the only one this works for.Crazy!

[2017-06-17 09:58] ghost commented on #18
@Spookcity Are you sure the only difference between test13 and test10 is the frequency?

[2017-06-17 10:03] Spookcity commented on #18
Yep,I have checked and checked. Even checking commits made after to make sure something wasn't included from the 1.7 OC that shouldn't have been. I have found no other changes.

I posted test14 on my kernel thread on XDA. Lets see if others are willing to try and what the outcome is. This is seriously making my brain hurt lol

[2017-06-17 10:07] Spookcity commented on #18
So I guess I'll wait and see if others will test and what the outcome is. It seems at this point it's only going to work for me,which for the life of me I don't understand. After that I will look into trying to get it to boot at 1.5 or 1.6...even though this would still cause issues at 1.7 for others I would think,and also not really answer anything.

[2017-06-17 10:08] Spookcity commented on #18
@StanNL  are you still on Lineage? Let me make a boot.img instead of using anykenel if you're willing to try. Again,no clue why this would matter,but I'm trying to eliminate things.

Boot.img fot Lineage only! [LOS boot](https://drive.google.com/open?id=0B_rGv18gTmnVaS1nTEpjWkJweFU)

[2017-06-17 10:12] ghost commented on #18
@Spookcity Yes I'm still using LineageOS

[2017-06-17 10:12] Oleggluk commented on #18
@Spookcity You used the kernel from 1800 and it was not stable, but maybe this somehow affected the performance of the processor? Is there a version with 1800? I'm ready to check.

[2017-06-17 10:14] Spookcity commented on #18
@StanNL If your willing to try t o flash the boot.img above I'd be greatful. Just obviously make sure you check boot and NOT recovery.

@Oleggluk  No,but I can build one. Give me a few. I had the same experience with 1.8 as you guys are describing with 1.7

[2017-06-17 10:17] Oleggluk commented on #18
@Spookcity I'll wait for version 1800. I'll try later. You have to walk with a dog)

[2017-06-17 10:19] ghost commented on #18
@Spookcity The boot.img didn't work either. It's not that 1.6 GHz isn't enough, but it's just strange that it does work for you and not for us, I guess there is a hardware difference after all

[2017-06-17 10:20] ghost commented on #18
![image](https://user-images.githubusercontent.com/20394543/27251824-ec12a444-534f-11e7-802f-4d800ef5124a.png)

Wait, I got a bit confused there. I thought it said GHz, but it was MHz... now it makes a lot more sense all of the sudden...

[2017-06-17 10:21] Spookcity commented on #18
@Oleggluk  Building now....and I do have to walk my dog..How do you know that?! I'm a bit scared haha
I'm going to assume it translated wrong and you mean that you have to walk the dog,but wow,that's a bit creepy lol

@StanNL I agree,but only a 100mhz OC is not much and the 1.7 is a much more noticeable step up from 1.5. It is beyond strange. I seriously cant stop thinking about it lol. I mean WTF

[2017-06-17 10:23] ghost commented on #18
@Spookcity Yeah it's a ridiculous issue, but it probably has to do with hardware differences. Maybe 1.65 GHz would work?

[2017-06-17 10:25] Spookcity commented on #18
@StanNL  I couldn't get 1.65 to boot for me.Perhaps I did something wrong or maybe its just not a usable variable. I will try again the 1.65 and see. The HW difference is the only thing that makes any sense,yet it also doesn't to me. I mean you and I are even from the same country! Why would there be a HW difference?! I just don't know.

[2017-06-17 10:27] ghost commented on #18
@Spookcity But did you already live here when you purchased the phone? I didn't buy the phone in the Netherlands by the way, I ordered it at a Belgian company who gets their phones from Hungary

[2017-06-17 10:29] Spookcity commented on #18
@StanNL Yes,I bought my phone here in the Netherlands. Hmm,Ok I mean I guess you getting your phone from a Belgium company that gets them from Hungary could explain a little,but still. It seems very weird to me.

[2017-06-17 10:30] ghost commented on #18
It's very strange...
Most of the time 50 MHz steps do work. I've seen some computers with 2.15 GHz or similar clock speeds

[2017-06-17 10:32] Spookcity commented on #18
I thought so too. Perhaps I just messed something up. I'm building a 1.8 now. I will flash and see what happens. I think I expect to experience the issue you have with 1.7. I'm a bit hesitant to post it up though as if 1.7 doesn't work for you guys what is 1.8 going to do to your phone. I changed no voltages are anything though for the 1.8,but still.
And I also highly doubt me flashing a 1.8 befor

[2017-06-17 10:33] ghost opened #19 "Test Builds #3"
This is a continuation of #10 and #18 about 'test builds'.

[2017-06-17 10:34] ghost commented on #18
Could we please continue the discussion at #20, because issues with more than 100 comments are a bit long, aren't they?

[2017-06-17 10:38] ghost commented on #19
Maybe github should use like a page-layout, that would save me a lot of scrolling. I hope you don't mind moving the conversation all the time

[2017-06-17 10:39] Spookcity commented on #19
OK,1.8 I get the boot animation.......Now the keypad...Then it locks up and reboots.
If you wish to try to flash this and  the try test14 please be careful. I would feel really bad if this destroys anyones phone
Download [Test15](https://drive.google.com/open?id=0B_rGv18gTmnVa3FKQWc1MXFZaUE)

And @StanNL  I don't mind at all

[2017-06-17 10:42] ghost commented on #19
@Spookcity I'm a bit doubtful as to whether or not I should install this.. I think I'm just going to stay on 1.6 and if you manage to get a 1.65 build I'll try it out because I don't want to break my phone... Maybe someone else dares to try this out, but I don't think I will

[2017-06-17 10:45] Spookcity commented on #19
@StanNL I completely understand. I also think that it is very unlikely that this has anything to do with it. I'm building a 1.65 again. Maybe it will boot. If so Ill post it up. If not I just don't know. Hopefully Ill get feedback on XDA. Then I may,if I have time,later today remove all of the revision checks within the CPU files. Maybe this matters. Why,no idea. Then I guess I'll try to figure ou

[2017-06-17 10:53] Oleggluk commented on #19
@Spookcity Test 15. Smoke, hiss, explosion. Knocked out the windows. The cat jumped from the 9th floor. The dog made a big pile ...))) Joke.
Not booted. Hangs on the Samsung screensaver.
I returned to test 14, no changes, just hangs on the desktop and reboots.

[2017-06-17 10:56] Spookcity commented on #19
@Oleggluk Haha..Whew,you scared me there after only reading the first line! Kinda figured it wouldn't matter,but thanks for risking your phone and trying. At least that's knocked off the list.

Edit:
Also strange to me how it hangs on the Samsung logo for you fot test15,but I'm able to get t he bootanimation and even get to my desktop.

Edit II: Again I built 1.65. It boots for me and works for a

[2017-06-17 11:11] Oleggluk commented on #19
@Spookcity I dont know. You have a military prototype Galaxy S5 Mini)). . I installed test 10 again, also no changes.
I installed the test 15 again, the samsung screen saver is not loaded. I think it's easier to stop at 1600, otherwise it takes a long time.

[2017-06-17 11:28] Spookcity commented on #19
@Oleggluk Haha,something I just don't understand. I agree its probably best to just leave it at 1.6 and be done with it,but my brain won't let me lol I must understand how this is possible.
Did you try the 1.65 OC I posted above?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 11:42] Oleggluk commented on #19
@Spookcity Test 16 also hangs on the desktop.

[2017-06-17 11:48] Spookcity commented on #19
@Oleggluk Thanks. I'm kinda of glad for this as if it worked for you and not me it would have made an already very confusing situation even more confusing. Iv'e lowed the voltage and am building 1.7 again. Although why this would matter I also don't know as its the same on the 1.6,but..

[2017-06-17 11:49] ghost commented on #19
Test 16 also didn't work for me

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 12:07] Spookcity commented on #19
[test17](https://drive.google.com/open?id=0B_rGv18gTmnVU3NhYlBEc0EtdHc) - Reset voltages back to stock values.

[2017-06-17 12:21] ghost commented on #19
@Spookcity I can't download it. Did you delete it?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 12:24] Spookcity commented on #19
Hmm,not intentionally. I think its right,but maybe [This](https://drive.google.com/open?id=0B_rGv18gTmnVU3NhYlBEc0EtdHc)
Edit: Yep the first was the wrong link errr. Corrected

[2017-06-17 12:25] ghost commented on #19
By the way: The boot.img you uploaded &mdash; was that just the stock kernel with a different clock speed, or was it your kernel with another clock speed? Because if it's just the stock kernel with a different clock speed, that would indicate that my phone just cannot handle it.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 12:27] Spookcity commented on #19
@StanNL It was my kernel.No difference apart from all of the tests on here,just decided to try to rule out it being relateed to anykernel2
Although,that is another thing to try. Given time I will just OC the stock kernel and see. Building one now with all of the revision checks removed.

[2017-06-17 12:33] Oleggluk commented on #19
@Spookcity Test 17 as well as before, no change. freezes on the loading animation.

After the second reboot hovered on the desktop.

[2017-06-17 12:40] Spookcity commented on #19
Thanks @Oleggluk I'm going to build this version without revision checks. Then I will try to just OC the stock kernel. After that...No idea.

[2017-06-17 12:49] Spookcity commented on #19
[Test18](https://drive.google.com/open?id=0B_rGv18gTmnVZEJONDRmUGEtZUU) -Revision check removed

[2017-06-17 12:56] ghost commented on #19
I'm sorry but this doesn't work either...

[2017-06-17 12:57] Oleggluk commented on #19
@Spookcity Test 18 is no change.

[2017-06-17 13:00] Spookcity commented on #19
Haha,oh my god. My brain is gonna explode. I am building a stock kernel from the device repo (cm-3470) Only OC'ed to 1.7.I'll post it in a few. If this doesn't work I have no idea....If it does I don't really either though haha. No I would have to guess it would be a build flag in my makefile perhaps,but still,that'd be weird. I'll wait and see what  this test brings before I start thinking ahead.

[2017-06-17 13:04] ghost commented on #19
Yeah but if it would be a build flag, why would it work for you then? That wouldn't explain it either, but I'll just keep on testing...

[2017-06-17 13:11] Spookcity commented on #19
@StanNL Yep,I completely agree,but I'm at a point now where none of this makes any sense to me,so I just don't know. I also cant get the stock kernel to build with my toolchain and its throwing erors,err

[2017-06-17 13:15] ghost commented on #19
Well, I think we've ran out of ideas. You mentioned something about booting the device at a lower clock speed, right? Maybe that's another possibility

[2017-06-17 13:21] Oleggluk commented on #19
Ahahah, After kernel test18, kernel backup does not help. The phone does not load, the eternal animation of the download.

[2017-06-17 13:23] ghost commented on #19
@Oleggluk That's odd, are you sure you're installing the right one? I always go back to test13 and it worked for me

[2017-06-17 13:27] Spookcity commented on #19
@Oleggluk  Wait,your phone works still though right?? Uhgg This should def not have caused this
@StanNL Yes,this is the last idea I have, Lower the clock speed on boot. Im just unsure how.

[Test19](https://drive.google.com/open?id=0B_rGv18gTmnVWlE5eGFWYVhGeW8) Stock kernel with stock toolchain. No build flags,all stock except a 1.7 OC
Goes without saying,but...It works for me lol

[2017-06-17 13:38] Oleggluk commented on #19
I restored today's backup, the phone does not load, eternal animation. I restored a two-day kernel backup, the phone does not boot, eternal animation. I asked Test13, the phone does not load, the eternal animation)).
Now I'll try to flash the stock boot.img from the firmware.

[2017-06-17 13:42] Spookcity commented on #19
@Oleggluk Oh my god man. I so hope that works. I'm very sorry. I feel really bad. There was certainly nothing in test18 that should have caused this.

[2017-06-17 13:46] Oleggluk commented on #19
Stock boot.img also did not help. Eternal animation. I'm going to flash the smartphone.
Spookcity, do not worry. I volunteered to test myself. And I will continue))

[2017-06-17 13:51] Spookcity commented on #19
@Oleggluk I know,but I still feel really bad. I'm only trying to help people and improve the phone a little. I definitely didn't want to cause this :(
I really hope that will work. I'm very unsure why that kernel would have caused this. I made no big changes. DJSteve also removed the revision check from his kernel. I doubled checked just to make sure it would be OK.

_Sent from my Samsung SM-G800F

[2017-06-17 14:18] Mikahlo commented on #19
Test19 didn't boot for me. The boot animation got stuck. The log I made is useless.
So we all have the same phone even the revision is the same. But what's different?

[2017-06-17 14:23] ghost commented on #19
@Mikahlo I'm not sure, but @Spookcity mentioned something about the fact that he has Fusing Speed Group 8, while you have Group 6, but I have no idea what that means, how to change it, and even if it's possible to change it or if it's just a hardware difference

[2017-06-17 14:26] ghost commented on #19
I don't have much time today (nor the upcoming two weeks, why am I even doing this at the moment?) but here are the only 295 about those groups (just in case you don't know how Google's syntax works): https://www.google.nl/search?q=%22fusing+speed+group%22

[2017-06-17 14:27] Spookcity commented on #19
@StanNL Yeah, I'm going to look into what fusing speed is exactly. I did some searching yesterday,but found no useful info.
So the stock kernel 1.7 OC still doesn't work for anyone here but me
It has to be a HW difference then,no?
But what and why? So frustrating.
@Oleggluk  What's the situation with your phone?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/det

[2017-06-17 14:30] Oleggluk commented on #19
Installed the firmware, without deleting data, does not work, eternal animation. That's bad. Found a full backup five days ago. I did all the wipe and restored the backup. The phone started. I did not lose much., But it's long minutes for me, I've had 5 cigarettes). For today, enough experiments))

[2017-06-17 14:32] Spookcity commented on #19
@Oleggluk Oh man, I'm so glad it's working at least. Again,I'm very sorry that you lost stuff and had to go through this. Whew,I'm just glad its not broken. Yet another confusing thing that makes no sense to me though. No idea what caused that for you.

Edit:
This issue that @Oleggluk had also seems to indicate a possible hardware difference. Again,but why I wonder.

Edit II:
@StanNL Those search

[2017-06-17 14:46] Mikahlo commented on #19
Found this > [link](https://lwn.net/Articles/566221/). So the voltages needed for some cpu steps are different depending on the asv group I guess.

[2017-06-17 14:53] Spookcity commented on #19
@Mikahlo Great job! This makes a lot of sense actually. If your voltage steps are different then mine, it would explain a lot. Although I still don't get why they are different.
I was thinking,I believe when I posted the test version with the stock voltages that I actually forgot to change them in a file. I will try to do that later or tomorrow and post up test 6318 lol
Otherwise I'll look more in

[2017-06-17 15:00] ghost commented on #19
That sure is a nice find. Hopefully it'll help because I was completely clueless

[2017-06-17 15:11] ghost commented on #19
My CPU cores seem to have their own will. No matter which minimal and maximal frequencies I choose, it always slowly goes back to 800 MHz, which is strange. Am I using the wrong governor? I'm using _userspace_ at the moment

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 15:14] Spookcity commented on #19
@StanNL perhaps,I have actually removed userspace from my newer builds. I can place it back though if you prefer. I have never used it and am a bit unsure of how it behaves. If your frequency stays at 800 MHZ even with say zzmoove then something is not right for sure.

Edit:
I am building my last build for today..and very possibly regarding this issue (unless I can sort out how to have it boot low

[2017-06-17 15:16] ghost commented on #19
@Spookcity Well userspace is known for allowing the user to set their own clock speeds, so I thought that would be the best choice. I'll try zzmove

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 15:31] ghost commented on #19
Even with the performance governor, it still goes to 800 (though it should always stay at the max frequency then). In that case I'll use zzmoove indeed, though it keeps disabling certain cores.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 15:33] Spookcity commented on #19
Download [Test20 - Stock voltages](https://drive.google.com/open?id=0B_rGv18gTmnVMFdkY2piMEtPeEE)
That's all I got for today. My hopes are low and if it doesnt work then I'll just keep the 1.7 for myself and share the 1.6 only. Thanks everyone for testing!

@StanNL very strange.My frequencies stay at 1000 on userspace and full on performance.I am using the 1.7 build though,so perhaps this is why.

[2017-06-17 15:37] ghost commented on #19
@Spookcity I have to disappoint you, because test20 still does not work for me :(

[2017-06-17 15:40] Spookcity commented on #19
@StanNL Hah,not surprised. I just don't know. It's a shame because the 1.7 does run nice,well for me. Oh well. I'll still try to look into the boot CPU frequency. Other then that,1.6 it is I guess. This will always be a big mystery to me.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 15:41] ghost commented on #19
@Spookcity It definitely is. Maybe henny has some time today, since he just posted something on XDA

[2017-06-17 15:47] tester-02 commented on #19
Sadly a bootloop for me with test20. it doesn't even get to the homescreen. I'll try to get a log.

[2017-06-17 15:52] Spookcity commented on #19
@tester-02 Thanks! I'm running test20 and typing from it now. No surprise though. All of these versions have worked for me

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 15:54] ghost commented on #19
@Spookcity It just doesn't make any sense... Are you sure you're using a Galaxy S5 mini?

[2017-06-17 15:57] Spookcity commented on #19
![](http://i.imgur.com/b5A3JyQ.png)

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 15:58] ghost commented on #19
@Spookcity Just to make sure...

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 15:59] Mikahlo commented on #19
Test20 boots and works for me. I didn't [threw it on the ground](https://www.youtube.com/watch?v=gAYL5H46QnQ) :D
Just have to test if the 1.7 ever gets reached.

[2017-06-17 16:00] Spookcity commented on #19
@Mikahlo what? Crazy and more confusing! Please keep me posted

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 16:01] ghost commented on #19
@Mikahlo Really? Wow! Maybe I did something wrong... I'll try installing test 20 again then.

**Edit**
The craziest thing ever just happened... It booted (like it always did), but when it was about to freeze (I think) it started vibrating like crazy!! And then it rebooted again and it froze, like it has done 12 times now today, and has become 'normal' behaviour now.
Maybe I just got called without

[2017-06-17 16:04] StanNL commented on #19
The craziest thing ever just happened... It booted (like it always did), but when it was about to freeze (I think) it started vibrating like crazy!! and then it rebooted

[2017-06-17 16:04] StanNL commented on #19
That sure was very odd

[2017-06-17 16:04] StanNL commented on #19
But maybe I just got called (I just realised I'm posting way too many comments, I'll fuse them into one)

[2017-06-17 16:08] ghost commented on #19
@Mikahlo It didn't work for me, again. It sure is strange that it does work for you.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 16:15] Mikahlo commented on #19
The benchmark needs a while. After that I reboot to see if this kernel boots consistent.

[2017-06-17 16:33] Spookcity commented on #19
@Mikahlo The fact that it boots properly at all leads me to believe even stronger that it does have to do with voltage and ASV fusing. Why there would be differences between our phones is beyond me,but this is looking more and more likely to me.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 16:40] Mikahlo commented on #19
Mkay it's a mess. It boots consistent but reboots randomly. The 1.7 step is not used at all and the settings app seems to hang if you scroll down in the "phone status" section.
![screenshot_20170617-183543](https://user-images.githubusercontent.com/28191436/27254631-5591169e-538c-11e7-8ab7-62738e6418d2.png)

[2017-06-17 16:42] Spookcity commented on #19
@Mikahlo Weird,weird,weird. Oh well. I don't have anything else I can think of to try. Maybe I'll think of something,but it seems as if the 1.7 is a lost cause. Thanks again for testing everyone.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-17 16:43] Oleggluk commented on #19
Test 20, hung on the animation. The second time worked fine, even managed to get a message in WhatsApp and read it. Then the screen went off and the phone no longer turns on at all and does not react to charging. It seems burned down completely (

[2017-06-17 16:46] Mikahlo commented on #19
@Oleggluk try holding down vol-, home and the power button for while

[2017-06-17 16:49] Oleggluk commented on #19
He is very hot. I pulled out the battery and put everything in the refrigerator. A little later I'll try to turn it on.

[2017-06-17 16:49] Spookcity commented on #19
@Oleggluk It is def differences in voltage/cpu steps or capabilities of our phones then. I am 90% sure of this at this point. Very strange that it's that way,but I truly believe it is now. Since it has to do (likely) with CPU steps and voltages,I will look at changing the 1.7 voltages if I'm able. Perhaps tomorrow. The 1.7 voltages are the same as the 1.6,but since it appears to be about "stepping

[2017-06-17 17:00] Oleggluk commented on #19
I inserted the battery, went twrp successfully, and restored the kernel backup. The phone works fine. Something is already terrible to experiment. Let the smartphone rest.

[2017-06-17 17:07] Spookcity commented on #19
@Oleggluk whew, Amazing news. I am very glad! I agree,the 1.7 tests are done. I'm sure,for some odd reason, that its a difference in CPU stepping and voltages between our phones. Still very strange,but I am content to let it rest at that. I don't want to be the reason why anyone's phone breaks. Its not worth that at all!

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store

[2017-06-17 17:13] Oleggluk commented on #19
The most interesting is that I use a custom kernel to save battery power, and not to overclock. I do not really need 1700, it was just interesting). I'd rather wait for a stable version of 1600 with new governors and voltage regulation).

[2017-06-17 17:15] Mikahlo commented on #19
I'm back on the test 5 kernel and suggest to leave the 1.7 behind and concentrate on what's already working to improve things if possible.
sayonara

[2017-06-17 17:16] Oleggluk commented on #19
@Mikahlo Test 9 and Test 13 are also stable.

[2017-06-17 17:21] Spookcity commented on #19
@Oleggluk Hehe,yes. Well I appreciate you testing and I'm very very glad your phone is OK. I will only work on the 1.6 version (and just keep a 1.7 branch updated for personal use)
I have already added many new governors,IO shed,TCP congestions. I have also moved a particular CPU function to be inline with newer kernel versions 3.8 etc) This is important for getting certain CPU governors to work p

[2017-06-17 21:26] jimmy999x commented on #19
![image](https://user-images.githubusercontent.com/21678167/27256412-643d2324-538a-11e7-9795-a69268ca1ba2.png)
someone help me?

[2017-06-18 05:35] Spookcity commented on #19
@jimmy999x  Hmm.interesting error. I have to assume you have this line in the BoardConfig.mk:
"BOARD_RECOVERYIMAGE_PARTITION_SIZE := 12582912" If so for some reason it is not being used I don't think. I'm unsure what would be causing this,sorry.

[2017-06-18 06:25] w3bservice commented on #19
@jimmy999x
Es sieht so aus als wenn im makefile ein Aufruf steht und er Werte aus erwartet die nicht übrsetzt worden sind.
Schau Dir mal die audio_hw.c an.

Solche Probleme hatte ich immer wenn ich mir den Seamonkey aus anderen repos über setzt habe. Meist ist es eine Abhängigkeit bzw unterschiedliche Lib-versionen.

[2017-06-18 07:35] w3bservice commented on #19
@Spookcity
Kernel MM and your AEX 4.2 running good
Thx

[2017-06-18 08:29] Spookcity commented on #19
@w3bservice Interesting. I guess you mean the build in the XDA thread? I'm surprised this works for a 7.x based ROM honestly as a lot has changed for our kernel. Either way,glad it works. I'd recommended test 13 though for nougat. Only because, while having less features at this point. It is tweaked more already than the MM version

_Sent from my Samsung SM-G800F using [FastHub](https://play.googl

[2017-06-18 09:53] w3bservice commented on #19
@Spookcity
My mobile runs with AEX and Test9 and the mobile phone of my wife with CM13 and MM. There I was with the Fnger leg write faster than the thoughts, sorry. Hear is a old man at work :XD

[2017-06-18 09:55] w3bservice commented on #19
@Spookcity
A bit of confusion keeps the hirsutes on the go

[2017-06-18 10:29] Spookcity commented on #19
@w3bservice Haha,believe me I know the feeling :D

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 10:31] Oleggluk commented on #19
@Spookcity Today we will experiment?))

[2017-06-18 10:37] Spookcity commented on #19
@Oleggluk Hah,nope :D Yesterday was enough. I'd think for you as well! Ya wanna test out 2000 MHZ?!  Hehe
I'm not home now,but I plan to release test 13 as version 1 on XDA tomorrow or Tuesday. After that, hopefully late next week I will post a build up on here for test with some of the new features.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.

[2017-06-18 10:54] ghost commented on #19
@Spookcity I've been thinking about 1.7GHz and I was wondering if you've already tried making a Marshmallow kernel with 1.7 GHz. I don't know if you still have the necessary files to do it, but it may be worth trying.

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 11:08] Spookcity commented on #19
@StanNL Interesting idea. I do have everything I need. I actually just built a MM kernel this morning to put on the XDA thread.. I will build a 1.7 version tomorrow if you'd like to give it a test. There has been many kernel changes since MM. So who knows
@Oleggluk  is not allowed to test though :D hah

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=co

[2017-06-18 12:48] ghost commented on #19
I now know why the CPU frequencies didn't do what I wanted: Whenever you turn the screen off, the CPU either goes into deep sleep or it uses 800 MHz. Interesting behaviour...

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:06] Guntzog commented on #19
@Spookcity I used your kernel on the LOS latest build and it fixed the sim detecting problem, you allow me to post the solutions for them?

_Sent from my Samsung SM-G800F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 13:26] Spookcity commented on #19
@StanNL This makes sense. Nougat handles sleep and CPU idling differently then previous versions I believe. Plus I have applied a good deal (15+) patches for CPU idle and CPU scheduling for tweaking/problem solving. Plus doze. So the combo of these I'm sure is the reason.

Edit:
I've added and have messed around some with alucard hotplug. I've never really used any hotplug governors,but you can ch

[2017-06-18 13:39] Oleggluk commented on #19
I'm here reading all the nonsense on the Internet and that's what I thought. Everyone knows that on our smartphone there was a regular FM radio on firmware 4.4.2, it was necessary to install apk. But then on 5.1.1 it stopped working. I read on the Internet that "mobile devices have a universal chip for Wi-Fi, Bluetooth and FM, but the company at the program level blocked the possibility of listeni